# Johnny Keats <johnny.keats@outlook.com>
# https://github.com/johnnykeats

echo " _________________"
echo "|# :           : #|"
echo "|  : Blue      :  |"
echo "|  :  Banquise :  |"
echo "|  :EFI - Grub2:  |"
echo "|  :___________:  |"
echo "|     _________   |"
echo "|    | __      |  |"
echo "|    ||  |     |  |"
echo "\____||__|_____|__|lc"
sleep 1
echo "Loading modules"
insmod part_gpt
insmod part_msdos
insmod ext2
echo "OK"

# Centos : /efi/centos/grub.cfg
# RedHat : /efi/redhat/grub.cfg
# Ubuntu : ?
# OpenSuse : ?

sleep 1
echo "Looking for RedHat compatible EFI system..."
sleep 1
echo " --- Looking for Centos..."
search.file /efi/centos/grub.cfg root
if [ $? -eq 0 ]; then
 echo "   - Found Centos on device: ($root)"
 echo "   - booting in 5s"
 sleep --interruptible --verbose 5
 configfile ($root)/efi/centos/grub.cfg
 boot
fi

echo "No EFI known OS found. Fall back on shell."
sleep 2s

