---
- name: Restart dhcp services
  service:
    name: "{{ item }}"
    state: restarted
  loop: "{{ dhcp_server_services_to_start }}"
  when:
    - "'service' not in ansible_skip_tags"
    - (start_services | bool)
