# These macro are mainly for accelerated mode

{% macro node_current_iceberg(host) %}
{% if icebergs_system == false %}
{{iceberg_naming+'1'}}
{% else %}
{% for icb_group in j2_icebergs_groups_list %}
{% if host in groups[iceberg] %}
{{icb_group | trim}}
{% break %}
{% endif %}
{% endfor %}
{% endif %}
{% endmacro %}

{% macro node_master_group(host) %}
{% for mg_group in j2_master_groups_list %}
{% if host in groups[mg_group] %}
{{mg_group | trim}}
{% break %}
{% endif %}
{% endfor %}
{% endmacro %}

{% macro node_equipment_group(host) %}
{% for eqg_group in j2_equipment_groups_list %}
{% if host in groups[eqg_group] %}
{{eqg_group | trim}}
{% break %}
{% endif %}
{% endfor %}
{% endmacro %}

