#jinja2: lstrip_blocks: "True"
#cloud-config

#### Blue Banquise file ####
## {{ ansible_managed }}
{% if hostvars[groups[os_profile][0]]['os_autoinstall_raw_file'] is defined %}
{{ hostvars[groups[os_profile][0]]['os_autoinstall_raw_file'] }}
{% else %}

autoinstall:
  {% if os_autoinstall_packages is defined and os_autoinstall_packages is iterable and os_autoinstall_packages is not string and os_autoinstall_packages is not mapping %}
  packages:
    {% for package in os_autoinstall_packages %}
    - {{ package }}
    {% endfor %}
  {% endif %}
{% if (hostvars[groups[os_profile][0]]['os_pxe_repository_proxy'] | default(pxe_stack_os_pxe_repository_proxy, true) | default(none, true)) is not none %}
  proxy: {{ hostvars[groups[os_profile][0]]['os_pxe_repository_proxy'] | default(pxe_stack_os_pxe_repository_proxy, true) }}
{% endif %}
  apt_proxy: os_pxe_repository_proxy
  version: 1
  apt:
    geoip: false
    preserve_sources_list: {{ pxe_stack_preserve_repositories }}
  keyboard: {layout: {{ (hostvars[groups[os_profile][0]]['os_keyboard_layout'] | default(pxe_stack_os_keyboard_layout)) | lower }}, toggle: null, variant: ''}
  locale: {{ hostvars[groups[os_profile][0]]['os_system_language'] | default(pxe_stack_os_system_language) }}
  user-data:
{% if not pxe_stack_enable_root %}
    users:
      - name: {{ pxe_stack_sudo_user }}
        homedir: {{ pxe_stack_sudo_user_home }}
        ssh-authorized-keys:
        {% for ssh_key in (hostvars[groups[os_profile][0]]['os_admin_ssh_keys'] | default(pxe_stack_os_admin_ssh_keys)) %}
          - {{ ssh_key }}
        {% endfor %}
        {% if pxe_stack_sudo_is_passwordless %}
        sudo: ['ALL=(ALL:ALL) NOPASSWD:ALL']
        {% else %}
        sudo: ['ALL=(ALL:ALL) ALL']
        {% endif %}
        groups: sudo
        shell: /bin/bash
        passwd: "{{ hostvars[groups[os_profile][0]]['os_admin_password_sha512'] | default(pxe_stack_os_admin_password_sha512) }}"
    disable_root: true
{% else %}
    disable_root: false
{% endif %}
  ssh:
    install-server: true
    allow-pw: true

{{ (hostvars[groups[os_profile][0]]['os_partitioning'] | default(pxe_stack_os_partitioning) | default(pxe_stack_ubuntu_automatic_partitioning, true)) | indent(2, True) }}
 
  late-commands:
{% if pxe_stack_enable_root %}
    - mkdir /target/root/.ssh
    {% for ssh_key in (hostvars[groups[os_profile][0]]['os_admin_ssh_keys'] | default(pxe_stack_os_admin_ssh_keys)) %}
    - echo "{{ ssh_key }}" >> /target/root/.ssh/authorized_keys
    {% endfor %}
    - sed -i "s/^#PermitRootLogin.*\$/PermitRootLogin yes/g" /target/etc/ssh/sshd_config
    - sed -i 's|^root:.:|root:{{ hostvars[groups[os_profile][0]]['os_admin_password_sha512'] | default(pxe_stack_os_admin_password_sha512) }}:|' /target/etc/shadow
{% else %}
{# While this is stupid, there is currently no way in cloudinit to set user uid/gid when creating it, we have to patch that here.#}
    - curtin in-target --target=/target -- sh -c 'groupadd -g {{ pxe_stack_sudo_user_gid }} {{ pxe_stack_sudo_user }}'
    - curtin in-target --target=/target -- sh -c 'useradd -d {{ pxe_stack_sudo_user_home }} -m -g {{ pxe_stack_sudo_user_gid }} -u {{ pxe_stack_sudo_user_uid }} -s /bin/bash {{ pxe_stack_sudo_user }}'
{% endif %}
{% if not pxe_stack_preserve_repositories %}
    - echo " " > /target/etc/apt/sources.list
{% endif %}
{% if (hostvars[groups[hw_profile][0]]['hw_preserve_efi_first_boot_device'] | default(pxe_stack_hw_preserve_efi_first_boot_device)) == true %}
    - sh -c '[ -d /sys/firmware/efi ] && efibootmgr -o $(efibootmgr | grep BootCurrent | cut -d" " -f2),$(efibootmgr | grep BootOrder | sed "s/BootOrder:\ //" | sed "s/$(efibootmgr | grep BootCurrent | cut -d" " -f2),//") || echo "Not an EFI system, skipping"'
{% endif %}
    - curtin in-target --target=/target -- sh -c 'for I in `cat /proc/cmdline | tr " " "\n" | grep -E "^(node_hostname|ipxe_next_server)="` ; do eval $I; done; curl -s -k http://$ipxe_next_server/cgi-bin/bootswitch.cgi --data "node=$node_hostname&boot=disk"'

{{ hostvars[groups[os_profile][0]]['os_autoinstall_raw_content'] | default(pxe_stack_os_autoinstall_raw_content) | indent(2, True) }}

{% endif %}