- name: package <|> Upgrade all packages # noqa package-latest
  ansible.builtin.package:
    name: "*"
    state: latest
  when: update_reboot_upgrade_packages
  register: update_reboot_packages_update

- name: reboot <|> Reboot system to run latest kernel
  ansible.builtin.reboot:
    reboot_timeout: "{{ update_reboot_reboot_timeout }}"
  when: update_reboot_reboot and update_reboot_packages_update.changed
