{# Define for current host: network list, and main network #}
{% set ntw = [] %}
{% for nic in network_interfaces %}
{% if network_interfaces[nic].network is defined and not none %}
{{ ntw.append(network_interfaces[nic].network|string) }}
{% endif %}
{% endfor %}
{% set ntw = (ntw | select('match',(current_iceberg_network+'-[0-9]+')) | list | unique | sort ) %}
{% set main_ntw = (ntw | first | join | trim) %}
{% set main_ntw_nic = [] %}
{% for nic in network_interfaces %}
{% if network_interfaces[nic].network is defined and not none %}
{% if network_interfaces[nic].network == main_ntw %}
{{ main_ntw_nic.append(nic|string) }}
{% endif %}
{% endif %}
{% endfor %}
{% set main_ntw_nic = (main_ntw_nic | join | trim) %}
