global:
  smtp_smarthost: 'localhost:25'
  smtp_from: 'alertmanager@your_domain'
  smtp_require_tls: false

route:
  group_by: ['alertname', 'instance', 'job']
  group_wait: {{prometheus.alertmanager.group_wait}}
  group_interval: {{prometheus.alertmanager.group_interval}}
  repeat_interval: {{prometheus.alertmanager.repeat_interval}}
  receiver: sys-admin-team

receivers:
  - name: 'sys-admin-team'
    email_configs:
      - to: 'sys-admin-team@site.com'

