* @oxedions @johnnykeats @neilmunday
/resources/ @oxedions @johnnykeats
/roles/advanced_dhcp_server/ @hmeAtos
/roles/advanced_dns_server/ @oxedions
/roles/clone/ @johnnykeats
/roles/clustershell/ @oxedions
/roles/conman/ @oxedions
/roles/display_tuning/ @oxedions
/roles/generic_psf/ @johnnykeats
/roles/grafana/ @strus38
/roles/lmod/ @oxedions
/roles/loki/ @neilmunday
/roles/nhc/ @oxedions
/roles/ofed/ @oxedions
/roles/openldap/ @oxedions
/roles/podman/ @strus38
/roles/powerman/ @oxedions
/roles/prometheus/ @oxedions
/roles/report/ @oxedions
/roles/singularity/ @strus38
/roles/slurm/ @oxedions
/roles/users_basic/ @oxedions
