pxe

## Don't track inventory and playbooks ##
/inventory/
/playbooks/

## Don't track possible documentation build ##
/resources/documentation/_build/
documentation/_build
tutorials/site

## Don't track custom roles ##
/roles/custom

## VirtualEnv ##
venv-molecule/

# RPM stuff...
MANIFEST
dist
rpm-build

# Emacs backup and autosave files...
*~
.\#*
\#*

# Eclipse/PyDev stuff...
.project
.pydevproject

#VSCode stuff..
.vscode/

# Vim swap files
*.swp
*.swo

# test output
*.retry
*.out
.pytest_cache/
.tox
.cache
.pytest_cache

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]