README.md @oxedions @johnnykeats
/resources @oxedions @johnnykeats
/roles/advanced_dhcp_server @hmeAtos
/roles/clone @johnnykeats
/roles/clustershell @oxedions
/roles/generic_psf @johnnykeats
/roles/lmod @oxedions
/roles/nhc @oxedions
/roles/ofed @oxedions
/roles/singularity @strus38
/roles/slurm @oxedions
/roles/users_basic @oxedions
