# {{ ansible_managed }}
# Initial state written by pxe_stack Ansible role.
# Runtime fields (menu_default, provisioning_status) are managed by bluebanquise-pxe-stack-daemon.
---
hostname: {{ item.hostname }}
menu_default: bootdisk
provisioning_status: "NA"
equipment_profile: {{ item.equipment_profile }}
hw_ipxe_next_boot: {{ hostvars[item.hostname]['hw_ipxe_next_boot'] | default('bootdisk') }}
dedicated_kernel_parameters: ""
node_image: none
extra_parameters: none
tenant: ""
