#jinja2: lstrip_blocks: True
#!ipxe

###################### MAIN MENU ####################################

# Some menu defaults
set menu-timeout 10000
set submenu-timeout ${menu-timeout}
isset ${menu-default} || set menu-default disk
set esc:hex 1b

set bold ${esc:string}[1m
set orange ${esc:string}[33;0m
set yellow ${esc:string}[33;1m
set cyan ${esc:string}[36;1m
set resetfg ${esc:string}[39m
set resetbg ${esc:string}[49m
set resetbold ${esc:string}[22m
set reset ${esc:string}[0m

:start
menu BlueBanquise iPXE boot menu for ${manufacturer} ${product} ${arch}
item --gap                Main boot
item osdeploy             Deploy OS (This will deploy/redeploy operating system)
item disk                 Boot on disk (This will boot on local disk)
item next                 Exit ipxe and continue EFI boot
{% if pxe_stack_enable_diskless %}
item --gap                Diskless
item diskless             Start a diskless OS (Configured using diskless tool)
{% endif %}
item --gap                Tools
{% if pxe_stack_enable_clonezilla %}
item clonezilla           Clonezilla live - Clone/Deploy OS
# item bootautoclone        Auto Clone (advanced)
# item bootautodeploy       Auto Deploy (advanced)
{% endif %}
{% if pxe_stack_enable_alpine %}
item alpine               Boot a live Alpine
{% endif %}
{% if pxe_stack_enable_memtest %}
item memtest              Boot memtest86+
{% endif %}
{% if pxe_stack_ipxe_menu_custom %}
{% for item in pxe_stack_ipxe_menu_custom %}
item {{ item }} {{ item }} (custom entry)
{% endfor %}
{% endif %}
item shell                iPXE shell (Go to an iPXE shell)
item startgrubshell       Grub2 shell (Go to a Grub2 shell, EFI only)
item showinfo             Display system infos
item reboot               Reboot
item poweroff             Poweroff
choose --timeout ${menu-timeout} --default ${menu-default} selected || goto cancel
set menu-timeout 0
goto ${selected}

############ MAIN MENU ITEMS ############

:shell
imgfetch http://${next-server}:{{ pxe_stack_daemon_port }}/stage_report?hostname=${hostname}&stage=shell&status=running || true
echo Type 'exit' to get back to the menu.
shell
set menu-timeout 0
set submenu-timeout 0
goto start

:startgrubshell
echo Booting on a Grub2 shell image...
sleep 2
chain http://${next-server}/pxe/bin/${arch}/grub2_shell.img || shell
exit 1

:reboot
echo Rebooting system...
echo sleep 2
reboot

:poweroff
echo Powering off system...
echo sleep 2
poweroff

:showinfo
echo
echo +---------------- System information ----------------+
echo |
echo | hostname:     ${hostname}
echo | platform:     ${platform}
echo | mac:          ${net0/mac}
echo | ip:           ${net0.dhcp/ip:ipv4}
echo | netmask:      ${net0.dhcp/netmask:ipv4}
echo | dhcp-server:  ${net0.dhcp/dhcp-server:ipv4}
echo | gateway:      ${net0.dhcp/gateway:ipv4}
echo | dns-server:   ${net0.dhcp/dns:ipv4}
echo | domain:       ${net0.dhcp/domain:string}
echo | next-server:  ${net0.dhcp/next-server:ipv4}
echo |
echo +----------------------------------------------------+
echo
prompt Press any key to continue
set menu-timeout 0
set submenu-timeout 0
goto start

:osdeploy
imgfetch http://${next-server}:{{ pxe_stack_daemon_port }}/stage_report?hostname=${hostname}&stage=osdeploy&status=running || true
chain http://${next-server}/pxe/osdeploy/${eq-distribution}_${eq-distribution-major-version}.ipxe || shell

:diskless
imgfetch http://${next-server}:{{ pxe_stack_daemon_port }}/stage_report?hostname=${hostname}&stage=diskless&status=running || true
chain http://${next-server}/pxe/diskless/${node-image}/boot.ipxe || shell

:clonezilla
imgfetch http://${next-server}:{{ pxe_stack_daemon_port }}/stage_report?hostname=${hostname}&stage=clonezilla&status=running || true
chain http://${next-server}/pxe/tools/clonezilla/clone.ipxe

:bootautoclone
imgfetch http://${next-server}:{{ pxe_stack_daemon_port }}/stage_report?hostname=${hostname}&stage=clonezilla&status=running || true
chain http://${next-server}/pxe/tools/clonezilla/autoclone.ipxe

:bootautodeploy
imgfetch http://${next-server}:{{ pxe_stack_daemon_port }}/stage_report?hostname=${hostname}&stage=clonezilla&status=running || true
chain http://${next-server}/pxe/tools/clonezilla/autodeploy.ipxe

:alpine
imgfetch http://${next-server}:{{ pxe_stack_daemon_port }}/stage_report?hostname=${hostname}&stage=alpine&status=running || true
chain http://${next-server}/pxe/tools/alpine/boot.ipxe

:disk
imgfetch http://${next-server}:{{ pxe_stack_daemon_port }}/stage_report?hostname=${hostname}&stage=disk&status=running || true
iseq ${platform} efi && goto disk-efi || goto disk-legacy

:disk-legacy
echo Booting on disk in legacy bios way
sleep 2
sanboot --no-describe --drive 0x80 || shell
exit

:disk-efi
echo Booting on disk in EFI way
sleep 2
chain http://${next-server}/pxe/bin/${arch}/grub2_efi_autofind.img || shell
exit 1

:memtest
imgfetch http://${next-server}:{{ pxe_stack_daemon_port }}/stage_report?hostname=${hostname}&stage=memtest&status=running || true
iseq ${platform} efi && goto memtest-efi || goto memtest-legacy

:memtest-legacy
echo Booting memtest in legacy bios way
sleep 2
boot http://${next-server}/pxe/tools/memtest86plus/memtest.bin ${eq-console} maxpasses={{pxe_stack_memtest_maxpasses}} || shell

:memtest-efi
echo Booting memtest in EFI way
sleep 2
chain http://${next-server}/pxe/tools/memtest86plus/memtest.efi ${eq-console} maxpasses={{pxe_stack_memtest_maxpasses}} || shell

:next
imgfetch http://${next-server}:{{ pxe_stack_daemon_port }}/stage_report?hostname=${hostname}&stage=next&status=running || true
exit

{#
Custom entries if requested in the inventory (pxe_stack_ipxe_menu_custom).
Note: if you add nice new tools, please share them so other users can benefit from it ;)
#}

{% if pxe_stack_ipxe_menu_custom %}
{% for item in pxe_stack_ipxe_menu_custom %}
:{{ item }}
imgfetch http://${next-server}:{{ pxe_stack_daemon_port }}/stage_report?hostname=${hostname}&stage={{ item }}&status=running || true
chain http://${next-server}/pxe/tools/{{ item }}/{{ item }}.ipxe

{% endfor %}
{% endif %}
