#jinja2: lstrip_blocks: True
---
#### Blue Banquise file ####
## {{ ansible_managed }}

{% for equipment_profile, equipment_profile_vars in pxe_stack_equipment_profiles.items() %}
  {% if equipment_profile_vars['type'] == "server" %}
    {% for node in equipment_profile_vars['nodes'] %}
  {{ node }}:
    equipment_profile: {{ equipment_profile }}
    {% endfor %}
  {% endif %}
{% endfor %}
