# {{ ansible_managed }}
---
port: {{ pxe_stack_daemon_port }}
log_level: {{ pxe_stack_daemon_log_level }}
base_path: {{ pxe_stack_cluster_base_path }}
tmp_path: {{ pxe_stack_cluster_tmp_path }}
nodes_parameters_path: /etc/bluebanquise/bootset/nodes_parameters.yml
