---
- name: ini_file █ Disable CentOS Extras repository
  # In BlueBanquise, the CentOS 8 system repositories are installed with the
  # special repository 'os', which splits to BaseOS and AppStream.
  # The repository Extras is enabled by default in CentOS but is not shipped
  # with the ISO DVD, thus we disable it if 'os' is configured.
  # If you need to configure the Extras repository, consider adding it as you
  # would add any other repository to the configuration. See the documentation
  # for details on how to proceed.
  ini_file:
    path: "/etc/yum.repos.d/CentOS-Extras.repo"
    section: "extras"
    option: enabled
    value: '0'
    no_extra_spaces: yes
  when: ( 'os' in repositories ) or ( item.name is defined and item.name == 'os' )
  notify: command █ yum clean metadata

- name: set_fact ░ Set baseurl prefix
  set_fact:
    baseurl_prefix: "http://{{ networks[j2_node_main_network]['services_ip']['repository_ip'] }}/repositories/$environment/{{ equipment_profile['operating_system']['distribution'] }}/$releasever/$basearch/"

- name: template █ Generate /etc/dnf/vars/releasever to force $releasever
  template:
    src: releasever.j2
    dest: /etc/dnf/vars/releasever
    owner: root
    group: root
    mode: 0644
  when: equipment_profile.operating_system.repositories_releasever is defined
  tags:
    - template

- name: file █ Cleanup $releasever
  file:
    path: /etc/dnf/vars/releasever
    state: absent
  when: equipment_profile.operating_system.repositories_releasever is not defined
  tags:
    - template

- name: template █ Generate /etc/yum/vars/environment to set $environment
  template:
    src: environment.j2
    dest: /etc/yum/vars/environment
    owner: root
    group: root
    mode: 0644
  tags:
    - template

- name: yum_repository █ Setting repositories
  yum_repository:
    name: "{{ item.name | default(item) }}"
    description: "{{ item.name | default(item) }} gen by Ansible"
    baseurl: "{{ item.baseurl | default(baseurl_prefix + item.name | default(item)) }}/"
    enabled: "{{ item.enabled | default(1) }}"
    gpgcheck: "{{ item.gpgcheck | default(0) }}"
    gpgkey: "{{ item.gpgkey | default(omit) }}"
    proxy: "{{ item.proxy | default(omit) }}"
  with_items: "{{ repositories | union(external_repositories|default([])) }}"
  when: ( item != 'os' ) and ( item.name is not defined or item.name != 'os' )

- name: yum_repository █ Setting OS repositories
  # CentOS configure BaseOS in /etc/yum.repos.d/CentOS-Base.repo and AppStream
  # in /etc/yum.repos.d/Centos-AppStream.repo. These are the operating system
  # repositories, thus installed with the special repository 'os' in
  # BlueBanquise.
  yum_repository:
    name: "{{ item.repoid }}"
    description: "{{ item.repoid }} gen by Ansible"
    baseurl: "{{ item.baseurl | default(baseurl_prefix + 'os/' + item.repoid) }}"
    file: "{{ item.file }}"
    enabled: "{{ item.enabled | default(1) }}"
    gpgcheck: "{{ item.gpgcheck | default(0) }}"
    gpgkey: "{{ item.gpgkey | default(omit) }}"
    proxy: "{{ item.proxy | default(omit) }}"
  loop:
  # Combine BaseOS and AppStream with 'os' parameters if any. Otherwise, this
  # will configure BaseOS and AppStream with default values.
    - "{{ repositories|selectattr('name', 'defined')
          |selectattr('name', 'match', 'os')|list
          |combine({'file':'CentOS-Base','repoid':'BaseOS'}) }}"
    - "{{ repositories|selectattr('name', 'defined')
          |selectattr('name', 'match', 'os')|list
          |combine({'file':'CentOS-AppStream','repoid':'AppStream'}) }}"
  when: ( 'os' in repositories ) or ( item.name is defined and item.name == 'os' )
