---

- name: Set baseurl prefix
  set_fact:
    baseurl_prefix: "http://{{ networks[j2_node_main_network]['services_ip']['repository_ip'] }}/repositories/{{ equipment_profile['operating_system']['distribution'] }}/$releasever/$basearch/"

- name: Force $releasever
  template:
    src: releasever.j2
    dest: /etc/yum/vars/releasever
    owner: root
    group: root
    mode: 0644
  when: equipment_profile.operating_system.repositories_releasever is defined
  tags:
    - template

- name: Cleanup $releasever
  file:
    path: /etc/yum/vars/releasever
    state: absent
  when: equipment_profile.operating_system.repositories_releasever is not defined
  tags:
    - template

- name: Setting repositories
  yum_repository:
    name: "{{ item.name | default(item) }}"
    description: "{{ item.name | default(item) }} gen by Ansible"
    baseurl: "{{ item.baseurl | default(baseurl_prefix + item.name | default(item)) }}/"
    enabled: "{{ item.enabled | default(1) }}"
    gpgcheck: "{{ item.gpgcheck | default(0) }}"
    gpgkey: "{{ item.gpgkey | default(omit) }}"
    proxy: "{{ item.proxy | default(omit) }}"
  with_items: "{{ repositories | union(external_repositories|default([])) }}"
