---

- name: Set baseurl prefix
  set_fact:
    baseurl_prefix: "http://{{ networks[j2_node_main_network]['services_ip']['repository_ip'] }}/repositories/{{ equipment_profile['operating_system']['distribution'] }}/$releasever/$basearch/"

- name: Setting repositories
  yum_repository:
    name: "{{ item.name | default(item) }}"
    description: "{{ item.name | default(item) }} gen by Ansible"
    baseurl: "{{ item.baseurl | default(baseurl_prefix + item.name | default(item)) }}/"
    enabled: "{{ item.enabled | default(1) }}"
    gpgcheck: "{{ item.gpgcheck | default(0) }}"
    gpgkey: "{{ item.gpgkey | default(omit) }}"
    proxy: "{{ item.proxy | default(omit) }}"
  with_items: "{{ repositories | union(external_repositories|default([])) }}"
