---
- name: set_fact ░ Set baseurl prefix
  set_fact:
    baseurl_prefix: "http://{{ networks[j2_node_main_network]['services_ip']['repository_ip'] }}/repositories/$environment/{{ equipment_profile['operating_system']['distribution'] }}/$releasever/$basearch/"

- name: template █ Generate /etc/dnf/vars/releasever to force $releasever
  template:
    src: releasever.j2
    dest: /etc/dnf/vars/releasever
    owner: root
    group: root
    mode: 0644
  when: equipment_profile.operating_system.repositories_releasever is defined
  tags:
    - template

- name: file █ Cleanup $releasever
  file:
    path: /etc/dnf/vars/releasever
    state: absent
  when: equipment_profile.operating_system.repositories_releasever is not defined
  tags:
    - template

- name: template █ Generate /etc/yum/vars/environment to set $environment
  template:
    src: environment.j2
    dest: /etc/yum/vars/environment
    owner: root
    group: root
    mode: 0644
  tags:
    - template

- name: yum_repository █ Setting repositories
  yum_repository:
    name: "{{ item.name | default(item) }}"
    description: "{{ item.name | default(item) }} gen by Ansible"
    baseurl: "{{ item.baseurl | default(baseurl_prefix + item.name | default(item)) }}/"
    enabled: "{{ item.enabled | default(1) }}"
    exclude: "{{ item.exclude | default(omit) }}"
    gpgcheck: "{{ item.gpgcheck | default(0) }}"
    gpgkey: "{{ item.gpgkey | default(omit) }}"
    proxy: "{{ item.proxy | default(omit) }}"
  with_items: "{{ repositories | union(external_repositories|default([])) }}"
  when: ( item != 'os' ) and ( item.name is not defined or item.name != 'os' )

- name: yum_repository █ Setting OS repositories
  yum_repository:
    name: "{{ item.repoid }}"
    description: "{{ item.repoid }} gen by Ansible"
    baseurl: "{{ item.baseurl | default(baseurl_prefix + 'os/' + item.repoid) }}"
    enabled: "{{ item.enabled | default(1) }}"
    gpgcheck: "{{ item.gpgcheck | default(0) }}"
    gpgkey: "{{ item.gpgkey | default(omit) }}"
    proxy: "{{ item.proxy | default(omit) }}"
  loop:
  # Combine BaseOS and AppStream with 'os' parameters if any. Otherwise, this
  # will configure BaseOS and AppStream with default values.
    - "{{ repositories|selectattr('name', 'defined')
          |selectattr('name', 'match', 'os')|list
          |combine({'repoid':'BaseOS'}) }}"
    - "{{ repositories|selectattr('name', 'defined')
          |selectattr('name', 'match', 'os')|list
          |combine({'repoid':'AppStream'}) }}"
  when: ( 'os' in repositories ) or ( item.name is defined and item.name == 'os' )
