network:
  version: 2
  ethernets:
{% for iface in nic_netplan_infiniband_interfaces %}
    {{ iface.interface }}:
      dhcp4: no
      addresses:
        - {{ iface.ip4 }}/{{ networks[iface.network].prefix }}
{% endfor %}
