#jinja2: lstrip_blocks: "True"
#### Blue Banquise file ####
## {{ ansible_managed }}

{% if hostvars[groups[os_profile][0]]['os_autoinstall_raw_file'] is defined %}
{{ hostvars[groups[os_profile][0]]['os_autoinstall_raw_file'] }}
{% else %}

### zone
d-i debian-installer/locale string {{hostvars[groups[os_profile][0]]['os_system_language']  | default(pxe_stack_os_system_language) }}
d-i keyboard-configuration/xkb-keymap select {{hostvars[groups[os_profile][0]]['os_keyboard_layout']  | default(pxe_stack_os_keyboard_layout) | lower}}
d-i debian-installer/language string en
d-i debian-installer/country string US
d-i localechooser/supported-locales multiselect en_US.UTF-8

### network
## Note: a dhcp gateway MUST be set for the network, even a dummy one
d-i netcfg/choose_interface select auto
d-i netcfg/use_dhcp string true
d-i netcfg/link_wait_timeout string 10
d-i netcfg/dhcp_timeout string 60
d-i netcfg/dhcp_failed note
d-i netcfg/wireless_wep string
d-i netcfg/get_hostname unassigned-hostname
d-i netcfg/get_domain unassigned-domain
d-i netcfg/get_hostname seen true
d-i netcfg/get_domain seen true

### Repositories
d-i mirror/country string manual
d-i mirror/http/hostname string deb.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string {{ hostvars[groups[os_profile][0]]['os_pxe_repository_proxy'] | default(pxe_stack_os_pxe_repository_proxy, true) }}

### Time
d-i clock-setup/utc-auto boolean true
d-i clock-setup/utc boolean true
d-i time/zone string {{ bb_time_zone | default(pxe_stack_time_zone) }} #US/Pacific
d-i clock-setup/ntp boolean true

### Partitioning
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-md/device_remove_md boolean true
d-i partman-lvm/confirm boolean true
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

{{ hostvars[groups[os_profile][0]]['os_partitioning'] | default(pxe_stack_os_partitioning) | default(pxe_stack_debian_automatic_partitioning, true) }}

### Users
{% if not pxe_stack_enable_root %}
d-i passwd/root-login boolean false
d-i passwd/user-fullname string Bluebanquise User
d-i passwd/username string {{ pxe_stack_sudo_user }}
d-i passwd/user-uid string {{ pxe_stack_sudo_user_uid }}
d-i passwd/user-gid string {{ pxe_stack_sudo_user_gid }}
d-i passwd/user-password-crypted password {{ hostvars[groups[os_profile][0]]['os_admin_password_sha512'] | default(pxe_stack_os_admin_password_sha512) }}
{% else %}
d-i passwd/make-user boolean false
d-i passwd/root-password-crypted password {{ hostvars[groups[os_profile][0]]['os_admin_password_sha512'] | default(pxe_stack_os_admin_password_sha512) }}
{% endif %}

### Packages
tasksel tasksel/first multiselect minimal
d-i pkgsel/include string openssh-server curl python3
d-i pkgsel/upgrade select none
d-i pkgsel/updatedb boolean false
d-i pkgsel/update-policy select none
d-i apt-setup/restricted boolean false
d-i apt-setup/universe boolean false
d-i apt-setup/backports boolean false
d-i apt-setup/proposed boolean false
popularity-contest popularity-contest/participate boolean false

### Grub
d-i grub-installer/only_debian boolean true
d-i grub-installer/bootdev  string default

### Reboot
d-i finish-install/reboot_in_progress note

### Specific

### TODO: adjust to enable systemd-networkd by default

d-i preseed/late_command string \
{% if pxe_stack_enable_root %}
  in-target sh -c 'mkdir /root/.ssh'; \
  {% for ssh_key in (hostvars[groups[os_profile][0]]['os_admin_ssh_keys'] | default(pxe_stack_os_admin_ssh_keys)) %}
  in-target sh -c 'echo "{{ ssh_key }}" >> /root/.ssh/authorized_keys'; \
  {% endfor %}
  in-target sh -c 'sed -i "s/^#PermitRootLogin.*\$/PermitRootLogin yes/g" /etc/ssh/sshd_config'; \
{% else %}
  in-target sh -c '/sbin/usermod -m -d {{ pxe_stack_sudo_user_home }} {{ pxe_stack_sudo_user }}'; \
  in-target sh -c 'mkdir {{ pxe_stack_sudo_user_home }}/.ssh'; \
  {% for ssh_key in (hostvars[groups[os_profile][0]]['os_admin_ssh_keys'] | default(pxe_stack_os_admin_ssh_keys)) %}
  in-target sh -c 'echo "{{ ssh_key }}" >> {{ pxe_stack_sudo_user_home }}/.ssh/authorized_keys';\
  {% endfor %}
  in-target sh -c 'chown -R {{ pxe_stack_sudo_user }}:{{ pxe_stack_sudo_user }} {{ pxe_stack_sudo_user_home }}/.ssh'; \
  in-target sh -c 'sed -i "s/^#PermitRootLogin.*\$/PermitRootLogin no/g" /etc/ssh/sshd_config'; \
  {% if pxe_stack_sudo_is_passwordless %}
  in-target sh -c 'echo "{{ pxe_stack_sudo_user }} ALL=(ALL:ALL) NOPASSWD:ALL" >> /etc/sudoers.d/{{ pxe_stack_sudo_user }}'
  {% else %}
  in-target sh -c 'echo "{{ pxe_stack_sudo_user }} ALL=(ALL:ALL) ALL" >> /etc/sudoers.d/{{ pxe_stack_sudo_user }}'
  {% endif %}
{% endif %}
{% if not pxe_stack_preserve_repositories %}
  in-target sh -c 'echo " " > /etc/apt/sources.list'; \
  in-target sh -c 'apt update'; \
{% endif %}
{% if (hostvars[groups[hw_profile][0]]['hw_preserve_efi_first_boot_device'] | default(pxe_stack_hw_preserve_efi_first_boot_device)) == true %}
  in-target sh -c '[ -d /sys/firmware/efi ] && efibootmgr -o $(efibootmgr | grep BootCurrent | cut -d" " -f2),$(efibootmgr | grep BootOrder | sed "s/BootOrder:\ //" | sed "s/$(efibootmgr | grep BootCurrent | cut -d" " -f2),//") || echo "Not an EFI system, skipping"'
{% endif %}
  in-target sh -c 'for I in `cat /proc/cmdline | tr " " "\n" | grep -E "^(node_hostname|ipxe_next_server)="` ; do eval $I; done; curl -s -k http://$ipxe_next_server/cgi-bin/bootswitch.cgi --data "node=$node_hostname&boot=disk"';

{{ hostvars[groups[os_profile][0]]['os_autoinstall_raw_content'] | default(pxe_stack_os_autoinstall_raw_content) }}

{% endif %}