{% for icb in 

{% for network in networks %}
{{network}}
{{current_iceberg_network}}
{% if (network | select('match',(current_iceberg_network+'-[0-9]+'))) is defined and not none %} toto {% endif %}
{% if current_iceberg_network in network %} tata {% endif %}

{% endfor %}

