#jinja2: lstrip_blocks: "True"
{% if haproxy_apache_restrict_to_ip4 is defined and haproxy_apache_restrict_to_ip4 is iterable and haproxy_apache_restrict_to_ip4 is not string and haproxy_apache_restrict_to_ip4 is not mapping %}
  {% for ip in haproxy_apache_restrict_to_ip4 %}
    {% if ip.split(':') | lenght > 1 %}
Listen {{ ip.split(':')[0] }}:{{ip.split(':')[1]}}
    {% else %}
Listen {{ ip }}:80
  {% endfor %}
{% endif %}
