#### Blue Banquise file ####
## {{ansible_managed}}

127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{% if hosts_file['range'] == 'all' %}
{% set range = 'all' %}
{% elif hosts_file['range'] == 'iceberg' %}
{% set range = (current_iceberg|string) %}
{% endif %}

{% for host in groups[range] %}
{% if hostvars[host]['network_interfaces'] is defined and not none %}
{% for interface, interface_vars in hostvars[host]['network_interfaces'].items() %}
{% if interface_vars.ip4 is defined and not none and interface_vars.network is defined and not none %}
{% if interface == hostvars[host]['node_main_network_interface'] %}
{{interface_vars.ip4}} {{host}} {{host}}.{{domain_name}} {{host}}-{{interface_vars.network}}
{% else %}
{{interface_vars.ip4}} {{host}}-{{interface_vars.network}}
{% endif %}
{% endif %}
{% endfor %}
{% if hostvars[host]['bmc'] is defined %}
{% set bmc_args = hostvars[host]['bmc'] %}
{% if (bmc_args.name is defined and not none) and (bmc_args.ip4 is defined and not none) %}
{{bmc_args.ip4}} {{bmc_args.name}}
{% endif %}
{% endif %}
{% endif %}
{% endfor %}
