#jinja2: lstrip_blocks: "True"
#### Blue Banquise file ####
## {{ ansible_managed }}


{# Macro to avoid redundancy #}
{% macro write_host(host, host_vars, ssh_jump) %}
Host {{ host }}
    {% if host_vars['ssh_client_stricthostkeychecking'] is defined and host_vars['ssh_client_stricthostkeychecking'] is not none %}
    StrictHostKeyChecking {{ host_vars['ssh_client_stricthostkeychecking'] }}
    {% endif %}
    {% if host_vars['ssh_client_userknownhostsfile'] is defined and host_vars['ssh_client_userknownhostsfile'] is not none %}
    UserKnownHostsFile {{ host_vars['ssh_client_userknownhostsfile'] }}
    {% endif %}
    {% if host_vars['ssh_client_loglevel'] is defined and host_vars['ssh_client_loglevel'] is not none %}
    LogLevel {{ host_vars['ssh_client_loglevel'] }}
    {% endif %}
    {% if host_vars['ssh_client_verifyhostkeydns'] is defined and host_vars['ssh_client_verifyhostkeydns'] is not none %}
    VerifyHostKeyDNS {{ host_vars['ssh_client_verifyhostkeydns'] }}
    {% endif %}
    {% if host_vars['ssh_client_forwardx11trusted'] is defined and host_vars['ssh_client_forwardx11trusted']is not none %}
    ForwardX11Trusted {{ host_vars['ssh_client_forwardx11trusted'] }}
    {% endif %}
    {% if host_vars['ssh_client_useroaming'] is defined and host_vars['ssh_client_useroaming']is not none %}
    UseRoaming {{ host_vars['ssh_client_useroaming'] }}
    {% endif %}
    {% if ssh_jump is none %}
      {% set host_to_be_used_network = ssh_client_global_network  | default(host_vars['j2_icebergs_main_network_dict'][j2_current_iceberg], true) | default(none, true) %}
    Hostname %h{% if host_to_be_used_network is not none %}-{{ host_to_be_used_network }}{% endif %}

    {% else %}
    Hostname %h
    ProxyJump {{ ssh_jump }}
    {% endif %}
{% endmacro %}


{% if ssh_client_custom_config is defined and ssh_client_custom_config is not none %}
{{ ssh_client_custom_config }}
{% endif %}

# Global parameters
{% if ssh_client_global_stricthostkeychecking is not none or ssh_client_global_userknownhostsfile is not none or ssh_client_global_loglevel is not none or ssh_client_global_verifyhostkeydns is not none or ssh_client_global_forwardx11trusted is not none %}
Host *
  {% if ssh_client_global_stricthostkeychecking is not none %}
    StrictHostKeyChecking {{ ssh_client_global_stricthostkeychecking }}
  {% endif %}
  {% if ssh_client_global_userknownhostsfile is not none %}
    UserKnownHostsFile {{ ssh_client_global_userknownhostsfile }}
  {% endif %}
  {% if ssh_client_global_loglevel is not none %}
    LogLevel {{ ssh_client_global_loglevel }}
  {% endif %}
  {% if ssh_client_global_verifyhostkeydns is not none %}
    VerifyHostKeyDNS {{ ssh_client_global_verifyhostkeydns }}
  {% endif %}
  {% if ssh_client_global_forwardx11trusted is not none %}
    ForwardX11Trusted {{ ssh_client_global_forwardx11trusted }}
  {% endif %}
  {% if host_vars['ssh_client_global_useroaming'] is defined and host_vars['ssh_client_global_useroaming']is not none %}
    UseRoaming {{ host_vars['ssh_client_global_useroaming'] }}
  {% endif %}
{% endif %}

{% for host in (j2_hosts_range | sort) -%}
{{ write_host(host, hostvars[host], None) }}
{% endfor %}
