{{ ansible_managed | comment }}
[Unit]
Description=BlueBanquise Cluster Dynamic State Daemon
After=network.target

[Service]
Type=simple
User=bluebanquise
Group=bluebanquise
ExecStart={{ cluster_state_daemon_script_path }} {{ cluster_state_conf_path }}
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
