#### Blue Banquise file ####
## {{ansible_managed}}

{% for gr, gr_vars in groups.items() %}
{% if (gr|string) != 'ungrouped' %}
{% set nodes = gr_vars.remove('dummy') %}
{{gr}}: {% for node in nodes | sort %}{% if loop.first %}{{node}}{% else %},{{node}}{% endif %}{% endfor %}

{% endif %}
{% endfor %}
