---
- name: group <|> Add users groups
  ansible.builtin.group:
    name: "{{ item.name }}"
    gid: "{{ item.gid | default(omit) }}"
    state: "{{ item.state | default('present') }}"
  loop: "{{ users | default([]) | flatten(levels=1) }}"

- name: user <|> Add/remove users
  ansible.builtin.user:
    name: "{{ item.name }}"
    comment: "{{ item.comment | default(omit) }}"
    uid: "{{ item.uid | default(omit) }}"
    group: "{{ item.name | default(omit)}}"
    groups: "{{ item.groups | default(omit) }}"
    create_home: "{{ item.create_home | default(omit) }}"
    update_password: "{{ item.update_password | default(omit) }}"
    shell: "{{ item.shell | default(omit) }}"
    home: "{{ item.home | default(omit) }}"
    password: "{{ item.password }}"
    generate_ssh_key: "{{ item.generate_ssh_key | default(omit) }}"
    ssh_key_bits: "{{ item.ssh_key_bits | default(omit) }}"
    ssh_key_file: "{{ item.ssh_key_file | default(omit) }}"
    remove: "{{ item.remove | default('no') }}"
    state: "{{ item.state | default('present') }}"
  loop: "{{ users | default([]) | flatten(levels=1) }}"

- name: authorized_key <|> Manage user authorized_keys if exist
  ansible.posix.authorized_key:
    user: "{{ item.name }}"
    key: "{{ item.ssh_authorized_keys | join('\n') }}"
    state: present
    exclusive: "{{ item.ssh_authorized_keys_exclusive | default(omit) }}"
  loop: "{{ users | default([]) | flatten(levels=1) }}"
  when: item.ssh_authorized_keys is defined and item.ssh_authorized_keys
