#jinja2: lstrip_blocks: "True"
# {{ ansible_managed }}
# This is a config file for BeeGFS client helper
# daemons.
# http://www.beegfs.com


# --- [Table of Contents] ---
#
# 1) Settings
# 2) Command Line Arguments
# 3) Settings Documentation


#
# --- Section 1: [Settings] ---
#

connAuthFile       = /etc/beegfs/connauthfile
connDisableAuthentication = false
connHelperdPortTCP = 8006
connPortShift      = 0

logNoDate          = false
logNumLines        = 50000
logNumRotatedFiles = 5
logStdFile         = {{ beegfs_vars.log_path_prefix }}beegfs-client.log

runDaemonized      = true

tuneNumWorkers     = 2


#
# --- Section 2: [Command Line Arguments] ---
#

# Use the command line argument "cfgFile=/etc/anotherconfig.conf" to
# specify a different config file for beegfs-helperd.
#
# All other options in this file can also be used as command line
# arguments, overriding the corresponding config file values.


#
# --- Section 3: [Settings Documentation] ---
#

#
# --- Section 3.1: [Connections & Communication] ---
#

# [connAuthFile]
# The path to a file that contains a shared secret for connection based
# authentication. Only peers that use the same shared secret will be able to
# connect.
# Default: <none>

# [connDisableAuthentication]
# If set to true, explicitly disables connection authentication and allow the
# service to run without a connAuthFile. Running BeeGFS without connection
# authentication is considered insecure and is not recommended.
# Default: false

# [connHelperdPortTCP]
# The TCP port of the helper daemon.
# Default: 8006

# [connPortShift]
# Shifts all following UDP and TCP ports according to the specified value.
# Intended to make port changes easier in case you do not want to configure
# each port individually.
# Default: 0


#
# --- Section 3.2: [Logging] ---
#

# [logNoDate]
# Defines whether "date & time" (=false) or the current "time only" (=true)
# should be logged.
# Default: false

# [logNumLines]
# The maximum number of lines per log file.
# Default: 50000

# [logNumRotatedFiles]
# The number of old files to keep when "logNumLines" is reached and the log file
# is rewritten (log rotation).
# Default: 5

# [logStdFile]
# The path and filename of the log file for standard log messages. If no name
# is specified, the messages will be written to the console.
# Default: /var/log/beegfs-client.log


#
# --- Section 3.3: [Startup] ---
#

# [runDaemonized]
# Detach the process from its parent (and from stdin/-out/-err).
# Default: true

#
# --- Section 3.4: [Tuning] ---
#

# [tuneNumWorkers]
# The number of worker threads. A value of up to twice the number of CPU cores
# of your machine is the recommended choice.
# Default: 2


#
# --- Section 5: [Expert options] ---
#

# [pidFile]
# Creates a PID file for the daemon when set. Set by init scripts.
# Default: <none>
