role_version: 1.0.2

packages_to_install:
  ubuntu:
    _18:
      - network-manager
      - python-dbus
      - libnm-glib-dev
  centos:
    _7:
      - NetworkManager-glib
#    - libnm-qt-devel.x86_64 # Don't seems to be required, package not available in Centos 7.6 Everything
      - nm-connection-editor.x86_64
      - libsemanage-python
      - policycoreutils-python
    _8:
      - NetworkManager-libnm
#    - libnm-qt-devel.x86_64 # Don't seems to be required, package not available in Centos 7.6 Everything
      - nm-connection-editor.x86_64
      - python3-libsemanage
      - python3-policycoreutils
  redhat:
    _7:
      - NetworkManager-glib
#    - libnm-qt-devel.x86_64 # Don't seems to be required, package not available in Centos 7.6 Everything
      - nm-connection-editor.x86_64
      - libsemanage-python
      - policycoreutils-python
    _8:
      - NetworkManager-libnm
#    - libnm-qt-devel.x86_64 # Don't seems to be required, package not available in Centos 7.6 Everything
      - nm-connection-editor.x86_64
      - python3-libsemanage
      - python3-policycoreutils

services_to_start:
  ubuntu:
    _18:
      - network-manager
  redhat:
    _7:
      - NetworkManager
    _8:
      - NetworkManager
  centos:
    _7:
      - NetworkManager
    _8:
      - NetworkManager


