#### Blue Banquise file ####
## {{ansible_managed}}

## GENERAL CONFIGURATION

 option space pxelinux;
 option pxelinux.magic code 208 = string;
 option pxelinux.configfile code 209 = text;
 option pxelinux.pathprefix code 210 = text;
 option pxelinux.reboottime code 211 = unsigned integer 32;
 option architecture-type code 93 = unsigned integer 16;

 allow booting;
 allow bootp;

 authoritative;

 # For option 82
 stash-agent-options true;
 ignore-client-uids {{ advanced_dhcp_server_ignore_client_uids | default('false') }};

 # Default iPXE files
 # DHCP option 93 Client architecture
 # 0  Standard PC BIOS
 # 6  32-bit x86 EFI
 # 7  64-bit x86 EFI
 # 9  64-bit x86 EFI (obsolete)
 # 10 32-bit ARM EFI
 # 11 64-bit ARM EFI
 # https://ipxe.org/cfg/platform

 option client-arch code 93 = unsigned integer 16;

## NETWORKS AND NODES

include "/etc/dhcp/dhcpd.networks.conf";
