#### Blue Banquise file ####
## {{ansible_managed}}

#### SUBNETS

{# SHARED NETWORKS GATHERING #}
{% set sn = [] %}
{% for network in networks %}
{% if j2_current_iceberg_network in network %}{# check if this network is part of the current iceberg #}
{% if networks[network]['shared_network'] is defined and not none %}
{{ sn.append(networks[network]['shared_network']|string) }}
{% endif %}
{% endif %}
{% endfor %}

## SHARED NETWORKS SUBNETS

{% for shared_network in (sn|unique) %}

shared-network {{shared_network}} {
{% for network in networks %}
{% if (networks[network]['shared_network'] is defined and not none) and (networks[network]['shared_network'] == shared_network) and (networks[network]['is_in_dhcp'] == true) %}

subnet {{networks[network]['subnet']}} netmask {{networks[network]['netmask']}} {

{% if networks[network]['dhcp_unknown_range'] is defined and not none %}
  range {{networks[network]['dhcp_unknown_range']}};
{% endif %}
  option domain-name "{{domain_name}}";
  option domain-name-servers {{networks[network]['services_ip']['dns_ip']}};
  option broadcast-address {{networks[network]['broadcast']}};
  option ntp-servers {{networks[network]['services_ip']['ntp_ip']}};
{% if networks[network]['gateway'] is defined and not none %}
  option routers {{networks[network]['gateway']}};
{% endif %}
  default-lease-time {{dhcp_settings['default_lease_time']}};
  max-lease-time {{dhcp_settings['max_lease_time']}};
{% if networks[network]['services_ip']['pxe_ip'] is defined and not none %}
  next-server {{networks[network]['services_ip']['pxe_ip']}};
{% endif %}

  include "/etc/dhcp/dhcpd.{{network}}.conf";

}
{% endif %}
{% endfor %}
}
{% endfor %}

## NON SHARED NETWORKS SUBNETS

{% for network in networks %}
{% if j2_current_iceberg_network in network %}
{% if (networks[network]['shared_network'] is not defined or none) and (networks[network]['is_in_dhcp'] == true) %}

subnet {{networks[network]['subnet']}} netmask {{networks[network]['netmask']}} {

  {% if networks[network]['dhcp_unknown_range'] is defined and not none %}range {{networks[network]['dhcp_unknown_range']}};{% endif %}

  option domain-name "{{domain_name}}";
  option domain-name-servers {{networks[network]['services_ip']['dns_ip']}};
  option broadcast-address {{networks[network]['broadcast']}};
  option ntp-servers {{networks[network]['services_ip']['ntp_ip']}};
  {% if networks[network]['gateway'] is defined and not none %}option routers {{networks[network]['gateway']}};{% endif %}

  default-lease-time {{dhcp_settings['default_lease_time']}};
  max-lease-time {{dhcp_settings['max_lease_time']}};
  {% if networks[network]['services_ip']['pxe_ip'] is defined and not none %}next-server {{networks[network]['services_ip']['pxe_ip']}};{% endif %}

  include "/etc/dhcp/dhcpd.{{network}}.conf";

}
{% endif %}
{% endif %}
{% endfor %}
