role_version: 1.0.2
packages_to_install:
  ubuntu:
    _18:
      - bind9
  redhat:
    _7:
      - bind
    _8:
      - bind
  centos:
    _7:
      - bind
    _8:
      - bind

services_to_start:
  ubuntu:
    _18:
      - bind9
  redhat:
    _7:
      - named
    _8:
      - named
  centos:
    _7:
      - named
    _8:
      - named


