---
dns_server_role_version: 1.5.3

j2_dns_server_get_first_octets: "
{%- set ip_networks = [] -%}
{%- for host in (groups['all'] | sort) -%}
  {%- if hostvars[host]['network_interfaces'] is defined and hostvars[host]['network_interfaces'] is iterable -%}
    {%- for interface in hostvars[host]['network_interfaces'] -%}
      {%- if interface['ip4'] is defined and (interface['ip4'] | ansible.utils.ipaddr) and interface['network'] is defined and interface['network'] is not none and networks[interface['network']] is defined and (networks[interface['network']]['is_in_dns'] | default(true)) -%}
        {%- set ip_prefix = interface['ip4'].split('.')[0:3] | join('.') -%}
        {%- if ip_prefix not in ip_networks -%}
          {{ ip_networks.append(ip_prefix) }}
        {%- endif -%}
      {%- endif -%}
    {%- endfor -%}
    {%- if hostvars[host]['bmc'] is defined and hostvars[host]['bmc'] is not none -%}
      {%- set bmc_args = hostvars[host]['bmc'] -%}
      {%- if bmc_args.name is defined and \
          bmc_args.name is not none and \
          bmc_args.ip4 is defined and \
          (bmc_args.ip4 | ansible.utils.ipaddr) and \
          bmc_args.network is defined and \
          bmc_args.network is not none and \
          (networks[bmc_args.network]['is_in_dns'] | default(true))
      -%}
        {%- set ip_prefix = bmc_args.ip4.split('.')[0:3] | join('.') -%}
        {%- if ip_prefix not in ip_networks -%}
          {{ ip_networks.append(ip_prefix) }}
        {%- endif -%}
      {%- endif -%}
    {%- endif -%}
  {%- endif -%}
{%- endfor -%}
{{ ip_networks | join(',') }}"
