{% set eq_group         = item | replace(equipment_naming + '_', '') | trim %}
{% set eq_profile       = hostvars[groups[item][0]]['equipment_profile'] %}
{% set eq_architecture  = eq_profile['hardware']['cpu']['architecture'] %}

{% set eq_distribution         = eq_profile['operating_system']['distribution'] %}
{% set eq_distribution_version = eq_profile['operating_system']['distribution_version'] %}

{% set repository_root = 'http://${next-server}/repositories/' + eq_distribution|string + '/' + eq_distribution_version|string + '/' + eq_architecture|string + '/' %}
{% set kickstart_path  = 'http://${next-server}/preboot_execution_environment/equipment_os_configurations/' %}

#!ipxe

echo
echo Now starting os deployment process.
echo Centos or RedHat ipxe configuration.
echo

echo Loading linux ...


{# Difference between RHEL/Centos 8 and previous versions, due to AppStream in the iso #}
{% if eq_profile['operating_system']['distribution_major_version'] < 8 %}

kernel {{ repository_root }}/os/images/pxeboot/vmlinuz initrd=initrd.img inst.repo={{ repository_root }}/os ks={{ kickstart_path }}/kickstart.{{ eq_group }}.cfg {{ eq_profile['kernel_parameters'] }} {{ eq_profile['console'] }} ${dedicated-parameters} ipxe_next_server=${next-server}

{% else %}

kernel {{ repository_root }}/os/images/pxeboot/vmlinuz initrd=initrd.img inst.stage2={{ repository_root }}/os inst.repo={{ repository_root }}/os/BaseOS ks={{ kickstart_path }}/kickstart.{{ eq_group }}.cfg {{ eq_profile['kernel_parameters'] }} {{ eq_profile['console'] }} ${dedicated-parameters} ipxe_next_server=${next-server}

{% endif %}

echo Loading initial ramdisk ...

initrd {{ repository_root }}/os/images/pxeboot/initrd.img

echo ALL DONE! We are ready.
echo
echo Console is: {{ eq_profile['console'] }}
echo Dedicated parameters: ${dedicated-parameters}
echo Deployment server is: ${next-server}
echo Kickstart used is: kickstart.{{ eq_group }}.cfg
echo
echo Booting in 2 s ...
sleep 2

boot


