#!ipxe

echo +----------------------------------------------------+
echo |
echo | Entering convergence.ipxe file.
echo |
echo | Getting architecture...

# Note: this part is not in EMBED ROM because it uses logic, so could fail.
# Nothing that could fail should be in the EMBED ROM, so admin can adjust manually.

iseq ${buildarch} arm64 && goto arm || goto x86
:arm
set arch arm64
goto displayarch
:x86
cpuid --ext 29 && set arch x86_64 || set arch x86
goto displayarch
:displayarch
echo | Detected architecture: ${arch}
sleep 1
echo |
echo | Now chaining to --> nodes/${hostname}.ipxe
echo |
sleep 1
chain http://${next-server}/pxe/nodes/${hostname}.ipxe
