#!ipxe

echo +----------------------------------------------------+
echo |
echo | Entering convergence.ipxe file.
echo |
echo | Now chaining to --> nodes/${hostname}.ipxe
echo |
sleep 1
chain http://${next-server}/preboot_execution_environment/nodes/${hostname}.ipxe || shell

