#jinja2: lstrip_blocks: "True"
---
#### Blue Banquise file ####
## {{ ansible_managed }}

{% if icebergs_system == true %}
# Iceberg system is on
  {% set range = groups[j2_current_iceberg] %}
  {% for host in groups[managements_group_name] %}
    {% if hostvars[host]['iceberg_master'] == j2_current_iceberg %}
      {% set _ = range.append(host) %}
    {% endif %}
  {% endfor %}
{% else %}
  {% set range = groups['all'] %}
{% endif %}

{% for host in range %}
  {% if hostvars[host]['ep_equipment_type'] == "server" %}
    {% if hostvars[host]['network_interfaces'] is defined and hostvars[host]['network_interfaces'] is not none %}
{{ host }}:
  equipment_profile: {{ hostvars[host]['group_names'] | select('match','^'+equipment_naming+'_.*') | list | unique | sort | first | replace(equipment_naming + '_','') | trim }}
  network:
    {% set host_node_main_nic = hostvars[host]['network_interfaces'] | selectattr('network','defined') | selectattr('network','match','^'+j2_current_iceberg_network+'-[a-zA-Z0-9]+') | first %}
    node_main_network_interface: {{ host_node_main_nic['interface'] }}
    node_main_network_netmask: {{ networks[host_node_main_nic['network']]['netmask'] }}
    node_main_network_gateway: {% if networks[host_node_main_nic['network']]['gateway'] is defined and networks[host_node_main_nic['network']]['gateway'] is not none %}{{ networks[host_node_main_nic['network']]['gateway'] }}{% endif %}

    node_main_network_interface_ip: {{ host_node_main_nic['ip4'] }}

    {% endif %}
  {% endif %}
{% endfor %}
