#jinja2: lstrip_blocks: "True"
---
#### Blue Banquise file ####
## {{ ansible_managed }}

{% for host in (j2_hosts_range | sort) %}
  {% if (hostvars[host]['ep_equipment_type'] | default("server")) == "server" %}
    {% if hostvars[host]['network_interfaces'] is defined and hostvars[host]['network_interfaces'] is iterable and hostvars[host]['network_interfaces'] is not mapping and hostvars[host]['network_interfaces'] is not string %}
{{ host }}:
  equipment_profile: {{ hostvars[host]['j2_node_equipment'] }}
  network:
    {% set host_node_main_nic = hostvars[host]['network_interfaces'] | selectattr('network','defined') | selectattr('network','match','^'+j2_current_iceberg_network+'-[a-zA-Z0-9]+') | first %}
    node_main_network_interface: {{ host_node_main_nic['interface'] }}
    node_main_network_netmask: {{ networks[host_node_main_nic['network']]['netmask'] }}
    node_main_network_gateway: {% if networks[host_node_main_nic['network']]['gateway'] is defined and networks[host_node_main_nic['network']]['gateway'] is not none %}{{ networks[host_node_main_nic['network']]['gateway'] }}{% endif %}

    node_main_network_interface_ip: {{ host_node_main_nic['ip4'] }}

    {% endif %}
  {% endif %}
{% endfor %}
