#### RULES ####

# Everybody gets emergency messages
*.emerg                                                 :omusrmsg:*

# Log anything (except mail) of level info or higher.
# Don't log private authentication messages!
*.{{ log_client_verbosity }};mail.none;authpriv.none;cron.none                /var/log/messages

# The authpriv file has restricted access.
authpriv.*                                              /var/log/secure

# Log all the mail messages in one place.
mail.*                                                  -/var/log/maillog

# Log cron stuff
cron.*                                                  /var/log/cron

# Save news errors of level crit and higher in a special file.
uucp,news.crit                                          /var/log/spooler

# Save boot messages also to boot.log
local7.*                                                /var/log/boot.log


#### FORWARD RULES ####

{% if networks[j2_node_main_network] is defined networks[j2_node_main_network]['services'] is defined and networks[j2_node_main_network]['services']['log'] and networks[j2_node_main_network]['services']['log'] is iterable %}
    {% for log_server in networks[j2_node_main_network]['services']['log'] %}
        {% if (log_server.ip is defined and (log_server.ip | ansible.utils.ipaddr)) or (log_server.hostname is defined and log_server.hostname is not none) %}
# ### begin forwarding rule ###
# Remote Logging (we use TCP for reliable delivery)
# An on-disk queue is created for this action. If the remote host is
# down, messages are spooled to disk and sent when it is up again.
$ActionQueueFileName fwdRule{{ loop.count }} # unique name prefix for spool files
$ActionQueueMaxDiskSpace 1g   # 1gb space limit (use as much as possible)
$ActionQueueSaveOnShutdown on # save messages to disk on shutdown
$ActionQueueType LinkedList   # run asynchronously
$ActionResumeRetryCount -1    # infinite retries if host is down
        {% if log_server.ip is defined and (log_server.ip | ansible.utils.ipaddr) %}
*.* @@{{ log_server.ip }}:{{ log_port }}
        {% elif log_server.hostname is defined and log_server.hostname is not none %}
*.* @@{{ log_server.hostname }}:{{ log_port }}
        {% endif %}
# ### end of the forwarding rule ###

    {% endfor %}
{% elif networks[j2_node_main_network]['services_ip'] is defined and (networks[j2_node_main_network]['services_ip'] | ansible.utils.ipaddr) %}
# ### begin forwarding rule ###
# Remote Logging (we use TCP for reliable delivery)
# An on-disk queue is created for this action. If the remote host is
# down, messages are spooled to disk and sent when it is up again.
$ActionQueueFileName fwdRule{{ loop.count }} # unique name prefix for spool files
$ActionQueueMaxDiskSpace 1g   # 1gb space limit (use as much as possible)
$ActionQueueSaveOnShutdown on # save messages to disk on shutdown
$ActionQueueType LinkedList   # run asynchronously
$ActionResumeRetryCount -1    # infinite retries if host is down
*.* @@{{ networks[j2_node_main_network]['services_ip'] }}:{{ log_port }}
# ### end of the forwarding rule ###
{% endif %}