#jinja2: lstrip_blocks: True
#### Blue Banquise file ####
## {{ ansible_managed }}

{# Macro to write host in file #}
{% macro write_host(host, host_dict, host_j2_node_main_resolution_address, host_j2_current_iceberg, current_iceberg) %}
  {% set alias_list = [] %}
  {% if host_dict['global_alias'] is defined and host_dict['global_alias'] is not none %}
    {% for alias in host_dict['global_alias'] %}{{ alias_list.append(alias) }}{% endfor %}
  {% endif %}
  {% if host_dict['alias'] is defined and host_dict['alias'] is not none and host_j2_current_iceberg == current_iceberg %}
    {% for alias in host_dict['alias'] %}{{ alias_list.append(alias) }}{% endfor %}
  {% endif %}

  {%- if host_dict['network_interfaces'] is defined and host_dict['network_interfaces'] is iterable %}
    {%- for nic in host_dict['network_interfaces'] %}
      {% if nic.network is defined and nic.network is not none and nic.ip4 is defined and (nic.ip4 | ansible.utils.ipaddr) %}  
{{ nic.ip4 }} {{ host }}-{{ nic.network }} {% if nic.alias is defined %}{{ nic.alias }}{% endif %}
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if host_j2_node_main_resolution_address is not none and (host_j2_node_main_resolution_address | ansible.utils.ipaddr) %}
{{ host_j2_node_main_resolution_address }} {{ host }} {{ host }}.{{ bb_domain_name | default(hosts_file_domaine_name) }} {{ alias_list|join(' ') }}
  {% endif %}  

  {%- if host_dict['bmc'] is defined and host_dict['bmc'] is not none %}
    {% set bmc_alias_list = [] %}
    {% if host_dict['bmc']['global_alias'] is defined and host_dict['bmc']['global_alias'] is not none %}
      {% for alias in host_dict['bmc']['global_alias'] %}{{ bmc_alias_list.append(alias) }}{% endfor %}
    {% endif %}
    {% if host_dict['bmc']['alias'] is defined and host_dict['bmc']['alias'] is not none and host_iceberg == current_iceberg %}
      {% for alias in host_dict['bmc']['alias'] %}{{ bmc_alias_list.append(alias) }}{% endfor %}
    {% endif %}
    {% if (host_dict['bmc'].name is defined and host_dict['bmc'].name is not none) and (host_dict['bmc'].ip4 is defined and (host_dict['bmc'].ip4 | ansible.utils.ipaddr) ) %}
{{ host_dict['bmc'].ip4 }} {{ host_dict['bmc'].name }} {{ bmc_alias_list|join(' ') }}
    {% endif %}
  {% endif -%}

{% endmacro %}

127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

## Internal hosts

{% for host in (j2_hosts_range | sort) -%}
{{ write_host(host,hostvars[host], hostvars[host]['j2_node_main_resolution_address'],hostvars[host]['j2_current_iceberg'],j2_current_iceberg) }}
{%- endfor %}

## External hosts

{% for host in (hosts_file_external_hosts | sort) %}
{{ hosts_file_external_hosts[host] }} {{ host }}
{% endfor %}
