#!ipxe

echo
echo Now starting os deployment process.
echo Minimal Live Linux for BlueBanquise.
echo

echo Loading linux ...

kernel http://${next-server}/repositories/minimal_live_linux/28-Jan-2018/x86_64/os/boot/kernel.xz

echo Loading initial ramdisk ...

initrd http://${next-server}/repositories/minimal_live_linux/28-Jan-2018/x86_64/os/boot/rootfs.xz

echo ALL DONE! We are ready.
echo Booting in 2 s ...
sleep 2

boot


