#### Blue Banquise file ####
## {{ansible_managed}}

/var/log/rsyslog/*/*.log
/var/log/rsyslog/*/messages
/var/log/rsyslog/*/cron
/var/log/rsyslog/*/secure
/var/log/rsyslog/*/maillog
/var/log/rsyslog/*/spooler
{
    daily
    missingok
    rotate 5
    sharedscripts
    postrotate
        /usr/bin/systemctl kill -s HUP rsyslog.service > /dev/null 2>/dev/null || true
    endscript
}
