#### Blue Banquise file ####
## {{ansible_managed}}

# rsyslog configuration file

# For more information see /usr/share/doc/rsyslog-*/rsyslog_conf.html
# If you experience problems, see http://www.rsyslog.com/doc/troubleshoot.html

#### MODULES ####

# The imjournal module bellow is now used as a message source instead of imuxsock.
$ModLoad imuxsock # provides support for local system logging (e.g. via logger command)
$ModLoad imjournal # provides access to the systemd journal
#$ModLoad imklog # reads kernel messages (the same are read from journald)
#$ModLoad immark  # provides --MARK-- message capability

# Provides UDP syslog reception
$ModLoad imudp
$UDPServerRun {{ log_server_port }}

# Provides TCP syslog reception
$ModLoad imtcp
$InputTCPServerRun {{ log_server_port }}

#### GLOBAL DIRECTIVES ####

# Where to place auxiliary files
$WorkDirectory {{ log_server_work_dir }}

# Use default timestamp format
$ActionFileDefaultTemplate RSYSLOG_TraditionalFileFormat

# File syncing capability is disabled by default. This feature is usually not required,
# not useful and an extreme performance hit
#$ActionFileEnableSync on

# Include all config files in /etc/rsyslog.d/
$IncludeConfig /etc/rsyslog.d/*.conf

# Turn off message reception via local log socket;
# local messages are retrieved through imjournal now.
$OmitLocalLogging on

# File to store the position in the journal
$IMJournalStateFile imjournal.state

#### RULES ####

# Everybody gets emergency messages
*.emerg                                                 :omusrmsg:*

#kern.*                                                 /dev/console

# Log anything (except mail) of level info or higher.
# Don't log private authentication messages!
$template Messages,"/var/log/rsyslog/%HOSTNAME%/messages"
*.info;mail.none;authpriv.none;cron.none ?Messages

# The authpriv file has restricted access.
$template Secure,"/var/log/rsyslog/%HOSTNAME%/secure"
authpriv.* ?Secure

# Log all the mail messages in one place.
$template Mail,"/var/log/rsyslog/%HOSTNAME%/maillog"
mail.* ?Mail

# Log cron stuff
$template Cron,"/var/log/rsyslog/%HOSTNAME%/cron"
cron.* ?Cron

# Save news errors of level crit and higher in a special file.
$template Spooler,"/var/log/rsyslog/%HOSTNAME%/spooler"
uucp,news.crit ?Spooler

# Save boot messages also to boot.log
$template Boot,"/var/log/rsyslog/%HOSTNAME%/boot.log"
local7.* ?Boot

# Rules for processing remote app logs
$template RemoteLogs,"/var/log/rsyslog/%HOSTNAME%/%PROGRAMNAME%.log"
*.* ?RemoteLogs

# Also save logs of log_server locally
if $fromhost-ip == '127.0.0.1' then {
  *.info;mail.none;authpriv.none;cron.none                /var/log/messages
  authpriv.*                                              /var/log/secure
  mail.*                                                  -/var/log/maillog
  cron.*                                                  /var/log/cron
  uucp,news.crit                                          /var/log/spooler
  local7.*                                                /var/log/boot.log
}
