{# Useful with High Availability, so that this file is used as rsyslog.conf #}
{% if rsyslog_integrate_rsyslog_conf %}
{% include 'rsyslog.conf.j2' %}
{% endif %}

#### SERVER MODULES ####

# Provides UDP syslog reception
$ModLoad imudp
$UDPServerRun {{ rsyslog_port }}

# Provides TCP syslog reception
$ModLoad imtcp
$InputTCPServerRun {{ rsyslog_port }}


#### RULES ####

# Everybody gets emergency messages
*.emerg                                                 :omusrmsg:*

# Log anything (except mail) of level info or higher.
# Don't log private authentication messages!
$template Messages,"/var/log/rsyslog/%HOSTNAME%/messages"
*.info;mail.none;authpriv.none;cron.none ?Messages

# The authpriv file has restricted access.
$template Secure,"/var/log/rsyslog/%HOSTNAME%/secure"
authpriv.* ?Secure

# Log all the mail messages in one place.
$template Mail,"/var/log/rsyslog/%HOSTNAME%/maillog"
mail.* ?Mail

# Log cron stuff
$template Cron,"/var/log/rsyslog/%HOSTNAME%/cron"
cron.* ?Cron

# Save news errors of level crit and higher in a special file.
$template Spooler,"/var/log/rsyslog/%HOSTNAME%/spooler"
uucp,news.crit ?Spooler

# Save boot messages also to boot.log
$template Boot,"/var/log/rsyslog/%HOSTNAME%/boot.log"
local7.* ?Boot

# Rules for processing remote app logs
$template RemoteLogs,"/var/log/rsyslog/%HOSTNAME%/%PROGRAMNAME%.log"
*.* ?RemoteLogs

# Also save logs of log_server locally
if $fromhost-ip == '127.0.0.1' then {
  *.info;mail.none;authpriv.none;cron.none                /var/log/messages
  authpriv.*                                              /var/log/secure
  mail.*                                                  -/var/log/maillog
  cron.*                                                  /var/log/cron
  uucp,news.crit                                          /var/log/spooler
  local7.*                                                /var/log/boot.log
}
