##### Ubuntu

## Generic

- name: "copy <|> Copy osdeploy files {{ pxe_stack_htdocs_path }}/pxe/osdeploy/"
  ansible.builtin.copy:
    src: osdeploy/ubuntu_{{ item.major }}.ipxe
    dest: "{{ pxe_stack_htdocs_path }}/pxe/osdeploy/ubuntu_{{ item.major }}.ipxe"
    mode: 0644
    owner: "{{ pxe_stack_apache_user }}"
    group: "{{ pxe_stack_apache_group }}"
  loop: "{{ pxe_stack_supported_os.ubuntu }}"

- name: file <|> Generate links for all supported OS
  ansible.builtin.file:
    src: ubuntu_{{ item.0.major }}.ipxe
    dest: "{{ pxe_stack_htdocs_path }}/pxe/osdeploy/{{ item.1 }}_{{ item.0.major }}.ipxe"
    mode: 0644
    owner: "{{ pxe_stack_apache_user }}"
    group: "{{ pxe_stack_apache_group }}"
    state: link
    force: yes
  loop: "{{ pxe_stack_supported_os.ubuntu | subelements('distributions') }}"
  when: item.1 != 'ubuntu'

# ## 18.04

# Ubuntu 18.04 is no more supported
# Code is given here as help only

# - name: "template <|> Generate preseeds {{ pxe_stack_htdocs_path }}/pxe/equipment_profiles/{item}.preseed.cfg"
#   ansible.builtin.template:
#     src: "Ubuntu/preseed.cfg.j2"
#     dest: "{{ pxe_stack_htdocs_path }}/pxe/equipment_profiles/{{ item | trim }}.preseed.cfg"
#     mode: 0644
#     owner: "{{ pxe_stack_apache_user }}"
#     group: "{{ pxe_stack_apache_group }}"
#   with_items: "{{ bb_equipments.keys() }}"
#   when:
#     - groups[item] | default([]) | length > 0
#     - hostvars[groups[item][0]]['hw_equipment_type'] | default(pxe_stack_hw_equipment_type) == "server"
#     - (hostvars[groups[item][0]]['os_operating_system']['distribution'] | default(pxe_stack_os_operating_system.distribution) | lower) in ['ubuntu']
#     - (hostvars[groups[item][0]]['os_operating_system']['distribution_major_version'] | default(pxe_stack_os_operating_system.distribution_major_version)) == 18
#   tags:
#     - template

# - name: "template <|> Generate equipment_profiles {{ pxe_stack_htdocs_path }}/pxe/equipment_profiles/{item}.ipxe"
#   ansible.builtin.template:
#     src: "Ubuntu/equipment_profile_preseed.ipxe.j2"
#     dest: "{{ pxe_stack_htdocs_path }}/pxe/equipment_profiles/{{ item | trim }}.ipxe"
#     mode: 0644
#     owner: "{{ pxe_stack_apache_user }}"
#     group: "{{ pxe_stack_apache_group }}"
#   with_items: "{{ bb_equipments.keys() }}"
#   when:
#     - groups[item] | default([]) | length > 0
#     - hostvars[groups[item][0]]['hw_equipment_type'] | default(pxe_stack_hw_equipment_type) == "server"
#     - (hostvars[groups[item][0]]['os_operating_system']['distribution'] | default(pxe_stack_os_operating_system.distribution) | lower) in ['ubuntu']
#     - (hostvars[groups[item][0]]['os_operating_system']['distribution_major_version'] | default(pxe_stack_os_operating_system.distribution_major_version)) == 18
#   tags:
#     - template

## 20.04

- name: file <|> Create cloud-init paths
  ansible.builtin.file:
    path: "{{ pxe_stack_htdocs_path }}/pxe/equipment_profiles/{{ item | trim }}.cloud-init/"
    state: directory
    mode: 0755
    owner: "{{ pxe_stack_apache_user }}"
    group: "{{ pxe_stack_apache_group }}"
  vars:
    os_profile: "{{ bb_equipments[item]['os'] }}"
    hw_profile: "{{ bb_equipments[item]['hw'] }}"
  with_items: "{{ bb_equipments.keys() }}"
  when:
    - (bb_equipments[item]['type'] | default(pxe_stack_hw_equipment_type)) == "server"
    - (hostvars[groups[bb_equipments[item]['os']][0]]['os_operating_system']['distribution'] | default(pxe_stack_os_operating_system.distribution) | lower) in ['ubuntu']
    - (hostvars[groups[bb_equipments[item]['os']][0]]['os_operating_system']['distribution_major_version'] | default(pxe_stack_os_operating_system.distribution_major_version) | int) in [20, 22]
  tags:
    - file

- name: file <|> Create cloud-init empty meta-data
  ansible.builtin.copy:
    dest: "{{ pxe_stack_htdocs_path }}/pxe/equipment_profiles/{{ item | trim }}.cloud-init/meta-data"
    content: ""
    mode: 0644
    owner: "{{ pxe_stack_apache_user }}"
    group: "{{ pxe_stack_apache_group }}"
  vars:
    os_profile: "{{ bb_equipments[item]['os'] }}"
    hw_profile: "{{ bb_equipments[item]['hw'] }}"
  with_items: "{{ bb_equipments.keys() }}"
  when:
    - (bb_equipments[item]['type'] | default(pxe_stack_hw_equipment_type)) == "server"
    - (hostvars[groups[bb_equipments[item]['os']][0]]['os_operating_system']['distribution'] | default(pxe_stack_os_operating_system.distribution) | lower) in ['ubuntu']
    - (hostvars[groups[bb_equipments[item]['os']][0]]['os_operating_system']['distribution_major_version'] | default(pxe_stack_os_operating_system.distribution_major_version) | int) in [20, 22]
  tags:
    - file

- name: template <|> Generate cloud-init user-data
  ansible.builtin.template:
    src: "Ubuntu/user-data.j2"
    dest: "{{ pxe_stack_htdocs_path }}/pxe/equipment_profiles/{{ item | trim }}.cloud-init/user-data"
    mode: 0644
    owner: "{{ pxe_stack_apache_user }}"
    group: "{{ pxe_stack_apache_group }}"
  vars:
    os_profile: "{{ bb_equipments[item]['os'] }}"
    hw_profile: "{{ bb_equipments[item]['hw'] }}"
  with_items: "{{ bb_equipments.keys() }}"
  when:
    - (bb_equipments[item]['type'] | default(pxe_stack_hw_equipment_type)) == "server"
    - (hostvars[groups[bb_equipments[item]['os']][0]]['os_operating_system']['distribution'] | default(pxe_stack_os_operating_system.distribution) | lower) in ['ubuntu']
    - (hostvars[groups[bb_equipments[item]['os']][0]]['os_operating_system']['distribution_major_version'] | default(pxe_stack_os_operating_system.distribution_major_version) | int) in [20, 22]
  tags:
    - template

- name: "template <|> Generate equipment_profiles {{ pxe_stack_htdocs_path }}/pxe/equipment_profiles/{item}.ipxe"
  ansible.builtin.template:
    src: "Ubuntu/equipment_profile_cloud-init.ipxe.j2"
    dest: "{{ pxe_stack_htdocs_path }}/pxe/equipment_profiles/{{ item | trim }}.ipxe"
    mode: 0644
    owner: "{{ pxe_stack_apache_user }}"
    group: "{{ pxe_stack_apache_group }}"
  vars:
    os_profile: "{{ bb_equipments[item]['os'] }}"
    hw_profile: "{{ bb_equipments[item]['hw'] }}"
  with_items: "{{ bb_equipments.keys() }}"
  when:
    - (bb_equipments[item]['type'] | default(pxe_stack_hw_equipment_type)) == "server"
    - (hostvars[groups[bb_equipments[item]['os']][0]]['os_operating_system']['distribution'] | default(pxe_stack_os_operating_system.distribution) | lower) in ['ubuntu']
    - (hostvars[groups[bb_equipments[item]['os']][0]]['os_operating_system']['distribution_major_version'] | default(pxe_stack_os_operating_system.distribution_major_version) | int) in [20, 22]
  tags:
    - template
