##### Ubuntu

## Generic

- name: "copy █ Copy osdeploy files {{ pxe_stack_htdocs_path }}/preboot_execution_environment/osdeploy/"
  ansible.builtin.copy:
    src: osdeploy/ubuntu_{{ item.major }}.ipxe
    dest: "{{ pxe_stack_htdocs_path }}/preboot_execution_environment/osdeploy/ubuntu_{{ item.major }}.ipxe"
    mode: 0644
    owner: "{{ pxe_stack_apache_user }}"
    group: "{{ pxe_stack_apache_group }}"
  loop: "{{ pxe_stack_supported_os.ubuntu }}"

- name: file █ Generate links for all supported OS
  ansible.builtin.file:
    src: ubuntu_{{ item.0.major }}.ipxe
    dest: "{{ pxe_stack_htdocs_path }}/preboot_execution_environment/osdeploy/{{ item.1 }}_{{ item.0.major }}.ipxe"
    mode: 0644
    owner: "{{ pxe_stack_apache_user }}"
    group: "{{ pxe_stack_apache_group }}"
    state: link
    force: yes
  loop: "{{ pxe_stack_supported_os.ubuntu | subelements('distributions') }}"
  when: item.1 != 'ubuntu'

## 18.04

- name: "template █ Generate preseeds {{ pxe_stack_htdocs_path }}/preboot_execution_environment/equipment_profiles/{item}.preseed.cfg"
  ansible.builtin.template:
    src: "Ubuntu/preseed.cfg.j2"
    dest: "{{ pxe_stack_htdocs_path }}/preboot_execution_environment/equipment_profiles/{{ item | replace(equipment_naming+'_','') | trim }}.preseed.cfg"
    mode: 0644
    owner: "{{ pxe_stack_apache_user }}"
    group: "{{ pxe_stack_apache_group }}"
  with_items: "{{ j2_equipment_groups_list }}"
  when:
    - hostvars[groups[item][0]]['ep_equipment_type'] == 'server'
    - (hostvars[groups[item][0]]['ep_operating_system']['distribution']|lower) in ['ubuntu'] and hostvars[groups[item][0]]['ep_operating_system']['distribution_major_version'] == 18
  tags:
    - template

- name: "template █ Generate equipment_profiles {{ pxe_stack_htdocs_path }}/preboot_execution_environment/equipment_profiles/{item}.ipxe"
  ansible.builtin.template:
    src: "Ubuntu/equipment_profile_preseed.ipxe.j2"
    dest: "{{ pxe_stack_htdocs_path }}/preboot_execution_environment/equipment_profiles/{{ item | replace(equipment_naming+'_','') | trim }}.ipxe"
    mode: 0644
    owner: "{{ pxe_stack_apache_user }}"
    group: "{{ pxe_stack_apache_group }}"
  with_items: "{{ j2_equipment_groups_list }}"
  when:
    - hostvars[groups[item][0]]['ep_equipment_type'] == 'server'
    - (hostvars[groups[item][0]]['ep_operating_system']['distribution']|lower) in ['ubuntu'] and hostvars[groups[item][0]]['ep_operating_system']['distribution_major_version'] == 18
  tags:
    - template

## 20.04

- name: file █ Create cloud-init paths
  ansible.builtin.file:
    path: "{{ pxe_stack_htdocs_path }}/preboot_execution_environment/equipment_profiles/{{ item | replace(equipment_naming+'_','') | trim }}.cloud-init/"
    state: directory
    mode: 0755
    owner: "{{ pxe_stack_apache_user }}"
    group: "{{ pxe_stack_apache_group }}"
  with_items: "{{ j2_equipment_groups_list }}"
  when:
    - hostvars[groups[item][0]]['ep_equipment_type'] == 'server'
    - (hostvars[groups[item][0]]['ep_operating_system']['distribution']|lower) in ['ubuntu'] and hostvars[groups[item][0]]['ep_operating_system']['distribution_major_version'] == 20
  tags:
    - file

- name: file █ Create cloud-init empty meta-data
  ansible.builtin.file:
    path: "{{ pxe_stack_htdocs_path }}/preboot_execution_environment/equipment_profiles/{{ item | replace(equipment_naming+'_','') | trim }}.cloud-init/meta-data"
    state: touch
    mode: 0644
    owner: "{{ pxe_stack_apache_user }}"
    group: "{{ pxe_stack_apache_group }}"
  with_items: "{{ j2_equipment_groups_list }}"
  when:
    - hostvars[groups[item][0]]['ep_equipment_type'] == 'server'
    - (hostvars[groups[item][0]]['ep_operating_system']['distribution']|lower) in ['ubuntu'] and hostvars[groups[item][0]]['ep_operating_system']['distribution_major_version'] == 20
  tags:
    - file

- name: template █ Generate cloud-init user-data
  ansible.builtin.template:
    src: "Ubuntu/user-data.j2"
    dest: "{{ pxe_stack_htdocs_path }}/preboot_execution_environment/equipment_profiles/{{ item | replace(equipment_naming+'_','') | trim }}.cloud-init/user-data"
    mode: 0644
    owner: "{{ pxe_stack_apache_user }}"
    group: "{{ pxe_stack_apache_group }}"
  with_items: "{{ j2_equipment_groups_list }}"
  when:
    - hostvars[groups[item][0]]['ep_equipment_type'] == 'server'
    - (hostvars[groups[item][0]]['ep_operating_system']['distribution']|lower) in ['ubuntu'] and hostvars[groups[item][0]]['ep_operating_system']['distribution_major_version'] == 20
  tags:
    - template

- name: "template █ Generate equipment_profiles {{ pxe_stack_htdocs_path }}/preboot_execution_environment/equipment_profiles/{item}.ipxe"
  ansible.builtin.template:
    src: "Ubuntu/equipment_profile_cloud-init.ipxe.j2"
    dest: "{{ pxe_stack_htdocs_path }}/preboot_execution_environment/equipment_profiles/{{ item | replace(equipment_naming+'_','') | trim }}.ipxe"
    mode: 0644
    owner: "{{ pxe_stack_apache_user }}"
    group: "{{ pxe_stack_apache_group }}"
  with_items: "{{ j2_equipment_groups_list }}"
  when:
    - hostvars[groups[item][0]]['ep_equipment_type'] == 'server'
    - (hostvars[groups[item][0]]['ep_operating_system']['distribution']|lower) in ['ubuntu'] and hostvars[groups[item][0]]['ep_operating_system']['distribution_major_version'] == 20
  tags:
    - template
