{% for grp in groups %}
{% if not groups[grp] %}
<br><div id="warning">WARNING</div>: group {{grp}} is declared but empty, consider removing it.
{% endif %}
{% endfor %}
{% if groups['ungrouped'] %}
<br><div id="warning">WARNING</div>: the following nodes {{groups['ungrouped']}} are not part of any group.
{% endif %}
