{# Macro to avoid redundancy #}
{% macro write_host(host) %}
{% if hostvars[host]['network_interfaces'] is defined and not none %}{# These part are clone #}
{% for interface, interface_vars in hostvars[host]['network_interfaces'].items() %}
{% if interface_vars.ip4 is defined and not none and interface_vars.network is defined and not none %}
{% if interface == hostvars[host]['j2_node_main_network_interface'] %}
{% set alias_list = [] %}
{% if hostvars[host]['alias'] is defined and not none %}
{% for alias in hostvars[host]['alias'] %}{{ alias_list.append(alias) }}{% endfor %}
{% endif %}
{% if hostvars[host]['iceberg_alias'] is defined and not none and hostvars[host]['j2_current_iceberg'] == j2_current_iceberg %}
{% for alias in hostvars[host]['iceberg_alias'] %}{{ alias_list.append(alias) }}{% endfor %}
{% endif %}
{{interface_vars.ip4}} {{host}} {{host}}.{{domain_name}} {{host}}-{{interface_vars.network}} {{alias_list|join(' ')}}
{% else %}
{{interface_vars.ip4}} {{host}}-{{interface_vars.network}}
{% endif %}
{% endif %}
{% endfor %}
{% if hostvars[host]['bmc'] is defined %}
{% set bmc_args = hostvars[host]['bmc'] %}
{% if (bmc_args.name is defined and not none) and (bmc_args.ip4 is defined and not none) %}
{{bmc_args.ip4}} {{bmc_args.name}}
{% endif %}
{% endif %}
{% endif %}
{% endmacro %}

#### Blue Banquise file ####
## {{ansible_managed}}

127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{% if icebergs_system == true and hosts_file['range'] == 'iceberg' %}
{% set range = groups[j2_current_iceberg] %}
{% for host in groups[managements_group_name] %}
{% if hostvars[host]['iceberg_master'] == j2_current_iceberg %}
{{ range.append(host) }}
{% endif %}
{% endfor %}
{% else %}
{% set range = groups['all'] %}
{% endif %}

## Internal hosts

{% for host in range %}{{write_host(host)}}{% endfor %}

## External hosts

{% for host in external_hosts %}
{{external_hosts[host]}} {{host}}
{% endfor %}
