/* Style for the tile container */
.comment-tile {
    display: flex;
    border: 1px solid #ccc;
    max-width: 100%; /* Adjust the width as needed */
    margin: 20px 0px;
    background: #cbdc38;
}

/* Style for the image container on the left */
.comment-tile-image {
    flex: 0 0 96px; /* Fixed width for the image container */
    display: flex;
    align-items: stretch; /* Stretch the image container vertically */
}

/* Style for the image itself */
.comment-tile-image img {
    width: 100%;
    height: auto;
    flex: 1;
}

/* Style for the text container on the right */
.comment-tile-text {
    flex: 1; /* Allow it to grow and take remaining space */
    padding: 10px;
    color: #000000de;
    font-size: .6rem;
}
