---
- name: include_vars ░ Gather OS specific variables
  # This task gathers variables defined in OS specific files.
  #
  # Search vars in:
  #  - <distribution>_<major>.yml    # eg. CentOS_8.yml
  #  - <os_family>_<major>.yml       # eg. RedHat_8.yml
  #  - <distribution>.yml            # eg. CentOS.yml
  #  - <os_family>.yml               # eg. RedHat.yml
  #
  # If no OS specific file is found, the role will default to vars/main.yml
  #
  include_vars: "{{ item }}"
  with_first_found:
    - files:
        - "vars/{{ ansible_facts.distribution | replace(' ','_') }}_{{ ansible_facts.distribution_version }}.yml"
        - "vars/{{ ansible_facts.distribution | replace(' ','_') }}_{{ ansible_facts.distribution_major_version }}.yml"
        - "vars/{{ ansible_facts.os_family }}_{{ ansible_facts.distribution_version }}.yml"
        - "vars/{{ ansible_facts.os_family }}_{{ ansible_facts.distribution_major_version }}.yml"
        - "vars/{{ ansible_facts.distribution | replace(' ','_') }}.yml"
        - "vars/{{ ansible_facts.os_family }}.yml"
      skip: true
  tags:
    - always

- name: include_tasks ░ Use OS dedicated firewall task
  include_tasks: "{{ item }}"
  with_first_found:
    - files:
        - "{{ ansible_facts.distribution | replace(' ','_') }}_{{ ansible_facts.distribution_version }}/firewall.yml"
        - "{{ ansible_facts.distribution | replace(' ','_') }}_{{ ansible_facts.distribution_major_version }}/firewall.yml"
        - "{{ ansible_facts.os_family | replace(' ','_') }}_{{ ansible_facts.distribution_version }}/firewall.yml"
        - "{{ ansible_facts.os_family | replace(' ','_') }}_{{ ansible_facts.distribution_major_version }}/firewall.yml"
        - "{{ ansible_facts.distribution | replace(' ','_') }}/firewall.yml"
        - "{{ ansible_facts.os_family | replace(' ','_') }}/firewall.yml"
      skip: true
  tags:
    - internal
    - firewall

- name: "package █ Install {{ (pxe_stack_packages_to_install + [pxe_stack_tftp_package | default(pxe_stack_default_tftp_package)]) | join(' ') }} packages"
  package:
    name: "{{ pxe_stack_packages_to_install + [pxe_stack_tftp_package | default(pxe_stack_default_tftp_package)] }}"
    state: present
  tags:
    - package
  notify: systemd █ Reload systemd configuration

- name: file █ Create pxe directories structure
  file:
    path: "{{ item }}"
    state: directory
    mode: 0755
  loop:
    - "{{ pxe_stack_apache_cgi_bin_path }}"
    - /etc/bluebanquise
    - /etc/bootset

- name: file █ Create pxe http directories structure
  file:
    path: "{{ item }}"
    state: directory
    mode: 0755
    owner: "{{ pxe_stack_apache_user }}"
    group: "{{ pxe_stack_apache_user }}"
  loop:
    - /var/www/html/preboot_execution_environment
    - /var/www/html/preboot_execution_environment/bin
    - /var/www/html/preboot_execution_environment/nodes
    - /var/www/html/preboot_execution_environment/equipment_profiles
    - /var/www/html/preboot_execution_environment/osdeploy

- name: include_tasks ░ Use OS dedicated task
  include_tasks: "{{ item }}"
  with_first_found:
    - files:
        - "{{ ansible_facts.distribution | replace(' ','_') }}_{{ ansible_facts.distribution_version }}/main.yml"
        - "{{ ansible_facts.distribution | replace(' ','_') }}_{{ ansible_facts.distribution_major_version }}/main.yml"
        - "{{ ansible_facts.os_family | replace(' ','_') }}_{{ ansible_facts.distribution_version }}/main.yml"
        - "{{ ansible_facts.os_family | replace(' ','_') }}_{{ ansible_facts.distribution_major_version }}/main.yml"
        - "{{ ansible_facts.distribution | replace(' ','_') }}/main.yml"
        - "{{ ansible_facts.os_family | replace(' ','_') }}/main.yml"
      skip: true
  tags:
    - internal

- name: template █ Generate /etc/bootset/nodes_parameters.yml
  template:
    src: nodes_parameters.yml.j2
    dest: /etc/bootset/nodes_parameters.yml
    mode: 0644
  tags:
    - template

- name: template █ Generate /etc/bootset/pxe_parameters.yml
  template:
    src: "pxe_parameters.yml.j2"
    dest: "/etc/bootset/pxe_parameters.yml"
    mode: 0644

- name: template █ Generate /var/www/html/preboot_execution_environment/{menu|convergence}.ipxe
  template:
    src: "{{ item }}.ipxe.j2"
    dest: "/var/www/html/preboot_execution_environment/{{ item }}.ipxe"
    mode: 0755
    owner: "{{ pxe_stack_apache_user }}"
    group: "{{ pxe_stack_apache_user }}"
  loop:
    - convergence
    - menu
  tags:
    - template

- name: template █ Generate /var/www/html/preboot_execution_environment/nodes/.ipxe
  template:
    src: nohostname.ipxe.j2
    dest: /var/www/html/preboot_execution_environment/nodes/.ipxe
    mode: 0755
    owner: "{{ pxe_stack_apache_user }}"
    group: "{{ pxe_stack_apache_user }}"
  tags:
    - template

- name: include_tasks ░ Include RedHat familly clients support
  include_tasks: client_os_support/RedHat.yml
  when: pxe_stack_client_os_RedHat
  tags:
    - internal

- name: include_tasks ░ Include Ubuntu familly clients support
  include_tasks: client_os_support/Ubuntu.yml
  when: pxe_stack_client_os_Ubuntu
  tags:
    - internal

- name: include_tasks ░ Include DGX familly clients support
  include_tasks: client_os_support/DGX.yml
  when: pxe_stack_client_os_DGX
  tags:
    - internal

- name: include_tasks ░ Include Suse familly clients support
  include_tasks: client_os_support/Suse.yml
  when: pxe_stack_client_os_Suse
  tags:
    - internal

- name: copy █ Copy /usr/bin/bootset
  copy:
    src: bootset.py
    dest: /usr/bin/bootset
    mode: 0700
  tags:
    - template

- name: apache2_module █ Enable apache2 cgi module
  apache2_module:
    state: present
    name: "{{ pxe_stack_apache_cgi_module }}"
  notify: service █ Restart pxe services
  when: ansible_facts.os_family == 'RedHat' and ( ansible_facts.distribution_major_version | int ) < 9

- name: "copy █ Copy {{ pxe_stack_apache_conf_path }}/cgi.conf"
  copy:
    src: cgi.conf
    dest: "{{ pxe_stack_apache_conf_path }}/cgi.conf"
    mode: 0644
  notify: service █ Restart pxe services

- name: "copy █ Copy {{ pxe_stack_apache_cgi_bin_path }}/bootswitch.cgi"
  copy:
    src: bootswitch.cgi
    dest: "{{ pxe_stack_apache_cgi_bin_path }}/bootswitch.cgi"
    mode: 0744
    owner: "{{ pxe_stack_apache_user }}"
    group: "{{ pxe_stack_apache_user }}"

- name: meta █ Run handler tasks to restart pxe services
  meta: flush_handlers

- name: "service █ Manage {{ (pxe_stack_services_to_start + [pxe_stack_tftp_service | default(pxe_stack_default_tftp_service)]) | join(' ') }} state"
  service:
    name: "{{ item }}"
    enabled: "{{ (enable_services | bool) | ternary('yes','no') }}"
    state: "{{ (start_services | bool) | ternary('started', omit) }}"
  loop: "{{ pxe_stack_services_to_start + [pxe_stack_tftp_service | default(pxe_stack_default_tftp_service)] }}"
  tags:
    - service
