## Tested on Centos 7.6

#- name: Install minimum packages for PXE (ubuntu 18)
#  package:
#    name: "{{ item }}"
#    state: present
#  loop: "{{packages_to_install['ubuntu']}}"
    #  with_items:
    #    - atftpd
    #    - bluebanquiseipxe
    #    - apache2
    #    #    - python3
    #- python3-yaml
    #- python3-clustershell

- name: Remove inetd
  package:
    name: inetutils-inetd
    state: absent

    #- name: apache2 cgi module
    #  apache2_module:
    #    state: present
    #    name: cgid

- name: atftpd config file
  copy:
    src: atftpd
    dest: /etc/default/atftpd
    mode: 0644
