groups:
- name: bb_exporter_services alerts
  rules:

{% for equipment in j2_equipment_groups_list %}
{% if (hostvars[groups[equipment][0]]['monitoring'] is defined and hostvars[groups[equipment][0]]['monitoring'] is not none) and (hostvars[groups[equipment][0]]['monitoring']['alerts'] is defined and hostvars[groups[equipment][0]]['monitoring']['alerts'] is not none) and 'bb_exporter_service' in hostvars[groups[equipment][0]]['monitoring']['alerts'] and
hostvars[groups[equipment][0]]['monitoring']['alerts']['bb_exporter_service'] is iterable %}
{% for service in hostvars[groups[equipment][0]]['monitoring']['alerts']['bb_exporter_service'] %}
  - alert: bb_exporter_services_{{service}}_on_{{equipment}}_down
    expr: system_services_state{job="{{equipment}}_bb_exporter",label="{{service}}"} == 0.0
    for: 1m
    labels:
      severity: warning
    annotations:
      summary: "bb_exporter plugin services reported service {{service}} is down on {{'{{ $labels.instance }}'}})"
      description: "{{service}} down\n  VALUE = {{'{{ $value }}'}}\n  LABELS: {{'{{ $labels }}'}}"

{% endfor %}
{% endif %}
{% endfor %}
