{# The Graal: https://awesome-prometheus-alerts.grep.to/rules.html #}

groups:
- name: General alerts
  rules:
  - alert: Exporter_down
    expr: up == 0
    for: 1m
    labels:
      severity: critical
    annotations:
      summary: "Exporter down (instance {{'{{ $labels.instance }}'}})"
      description: "Prometheus exporter down\n  VALUE = {{'{{ $value }}'}}\n  LABELS: {{'{{ $labels }}'}}"
