#jinja2: lstrip_blocks: True
#### Blue Banquise file ####
## {{ ansible_managed }}

SERVER execpath="{{ conman_execpath }}"
SERVER syslog="daemon"
SERVER logdir="/var/log/conman"
GLOBAL log="/var/log/conman/%N.log"
SERVER timestamp=1h
GLOBAL logopts="timestamp"

{% for host in (j2_hosts_range | sort) -%}
  {% if (hostvars[host]['hw_equipment_type'] | default("server")) == "server" and hostvars[host]['hw_board_authentication'] is defined %}
    {% if hostvars[host]['bmc'] is defined and hostvars[host]['bmc']['name'] is defined %}
      {# Identify protocol to be used #}
      {# IPMI #}
      {% if (hostvars[host]['hw_board_authentication'] | selectattr('protocol','defined') | selectattr('protocol','match','IPMI') | list | length) >= 1 %}
        {# Gather BMC credentials settings #}
        {% set host_bmc_user = (hostvars[host]['hw_board_authentication'] | selectattr('protocol','defined') | selectattr('protocol','match','IPMI') | map(attribute='user') | list | first | default(none)) %}
        {% set host_bmc_password = (hostvars[host]['hw_board_authentication'] | selectattr('protocol','defined') | selectattr('protocol','match','IPMI') | map(attribute='password') | list | first | default(none)) %}
        {% if host_bmc_user is defined and host_bmc_user is not none and host_bmc_password is defined and host_bmc_password is not none %}
console name="{{ host }}" dev="ipmitool.exp {{ hostvars[host]['bmc']['name'] }} {{ host_bmc_user }}"
        {% endif %}
      {# REDFISH #}
      {% elif (hostvars[host]['hw_board_authentication'] | selectattr('protocol','defined') | selectattr('protocol','match','REDFISH') | list | length) >= 1  %}
        {# Gather BMC credentials settings #}
        {% set host_bmc_user = (hostvars[host]['hw_board_authentication'] | selectattr('protocol','defined') | selectattr('protocol','match','REDFISH') | map(attribute='user') | list | first | default(none)) %}
        {% set host_bmc_password = (hostvars[host]['hw_board_authentication'] | selectattr('protocol','defined') | selectattr('protocol','match','REDFISH') | map(attribute='password') | list | first | default(none)) %}
        {% set host_bmc_console_port = (hostvars[host]['hw_board_authentication'] | selectattr('protocol','defined') | selectattr('protocol','match','REDFISH') | map(attribute='console_port') | list | first | default(none)) %}
        {% if host_bmc_user is defined and host_bmc_user is not none and host_bmc_password is defined and host_bmc_password is not none %}
console name="{{ host }}" dev="ssh.exp {{ host_bmc['ip4'] }} {{ host_bmc_console_port | default(conman_redfish_console_port, true) }} host_bmc_user"
        {% endif %}
      {% endif %}
    {% endif %}
  {% endif %}
{% endfor %}
