#jinja2: lstrip_blocks: "True"
vrrp_script reload_haproxy {
    script "/usr/bin/killall -0 haproxy"
    interval 1
}

{% for instance in keepalived_vrrp_instances %}
vrrp_instance {{ instance.name | default("VI_" + (loop.index | default(instance.id) | string), true)}} {
  virtual_router_id {{ instance.id | default(loop.index, true) }}
  state {{ instance.state | default("MASTER", true) }}
  priority {{ instance.priority | default("100", true) }}

  # interval de check
  advert_int {{ instance.advert_int | default("1", true) }}

  # interface de synchro entre les LB
  interface {{ instance.interface }}

  {% if instance.additional_parameters is defined and instance.additional_parameters is mapping %}
    {% for parameter, parameter_value in instance.additional_parameters.items() %}
  {{ parameter }} {{ parameter_value }}
    {% endfor %}
  {% endif %}

  # authentification entre les 2 machines LB
  authentication {
    auth_type PASS
    auth_pass {{ instance.auth_pass }}
  }

  # vip
  virtual_ipaddress {
  {% for vip in instance.virtual_ipaddress %}
    {{ vip }}
  {% endfor %}
  }

  {% if (instance.manage_haproxy | default(false, true)) %}
  track_script {
    reload_haproxy
  }
  {% endif %}

}
{% endfor %}
