#jinja2: lstrip_blocks: "True"
{# vrrp_script reload_haproxy {
    script "/usr/bin/killall -0 haproxy"
    interval 1
} #}

{% for instance in keepalived_vrrp_instances %}
vrrp_instance {{ instance.name | default("BB_VI_" + (instance.id | default(loop.index, true) | string), true)}} {

  virtual_router_id {{ instance.id | default("77" + (loop.index | string), true) }}

  {% if inventory_hostname == instance.servers[0] %}
  state MASTER
  priority 100
  {% else %}
  state BACKUP
    {% for server in instance.servers %}
      {% if inventory_hostname == server %}
  priority {{ 90 - (loop.index | int) }}
      {% endif %}
    {% endfor %}
  {% endif %}

  # CHeck interval
  advert_int {{ instance.advert_int | default("1", true) }}

  # Synchro interface between LBs
  interface {{ instance.interface }}

  # Authentication between LBs
  authentication {
    auth_type PASS
    auth_pass {{ instance.auth_pass }}
  }

  # vip
  virtual_ipaddress {
  {% for vip in instance.virtual_ipaddress %}
    {{ vip }}
  {% endfor %}
  }

{#
  {% if (instance.manage_haproxy | default(false, true)) %}
  track_script {
    reload_haproxy
  }
  {% endif %}
#}
}
{% endfor %}
