#jinja2: lstrip_blocks: True
;#### Blue Banquise file ####
;## {{ ansible_managed }}

$TTL 86400
$ORIGIN {{ dns_server_domain_name | default(bb_domain_name, true) | default('cluster.local', true) }}.
$INCLUDE "{{ dns_server_named_dir }}/forward.soa"
@ IN NS {{ inventory_hostname }}.{{ dns_server_domain_name | default(bb_domain_name, true) | default('cluster.local', true) }}.

{# Always write base records #}
{% for host in dns_server_hosts_by_first_octets['forward']['base'] %}
{{ host.hostname }}  IN  A  {{ host.ip4 }}
{% endfor %}

{# Conditionally write extended records #}
{% if dns_server_enable_extended_names %}
{% for host in dns_server_hosts_by_first_octets['forward']['extended'] %}
{{ host.hostname }}  IN  A  {{ host.ip4 }}
{% endfor %}
{% endif %}