@ IN SOA  {{ inventory_hostname }}.{{ bb_domain_name | default(dns_server_domaine_name) }}. root.{{ bb_domain_name | default(dns_server_domaine_name) }}. (
  {{ dns_server_serial }}  ;Serial
  3600        ;Refresh
  1800        ;Retry
  604800      ;Expire
  86400       ;Minimum TTL
)
