#jinja2: lstrip_blocks: True
#### Blue Banquise file ####
## {{ ansible_managed }}

## This is the primary configuration file for the BIND DNS server named.

include "{{ dns_server_configuration_options_file }}";
include "{{ dns_server_configuration_local_file }}";
{% if dns_server_configuration_default_zones_file is defined %}
include "{{ dns_server_configuration_default_zones_file }}";
{% endif %}

{% if dns_server_raw_content is defined %}
## Raw content from user

{{ dns_server_raw_content }}
{% endif %}
