$TTL 60
{% set domain_name = dns_server_domain_name | default(bb_domain_name, true) | default('cluster.local', true) %}
@            IN    SOA  {{ inventory_hostname }}.{{ domain_name }}. root.{{ domain_name }}.  (
                          {{ dns_server_serial }} ; serial
                          1h           ; refresh
                          30m          ; retry
                          1w           ; expiry
                          30m)         ; minimum
                   IN     NS    localhost.

localhost       A   127.0.0.1

{% if dns_server_overrides is defined %}
{% for site, ip in dns_server_overrides.items() %}
{{ site }}    A        {{ ip }}
{% endfor %}
{% endif %}
