#jinja2: lstrip_blocks: True
;#### Blue Banquise file ####
;## {{ ansible_managed }}

$TTL 86400
$ORIGIN {{ item.split('.')|reverse|join('.') }}.in-addr.arpa.
$INCLUDE "{{ dns_server_named_dir }}/{{ item }}.rr.soa"
@ IN NS {{ inventory_hostname }}.{{ dns_server_domain_name | default(bb_domain_name, true) | default('cluster.local', true) }}.

{% set domain_name = dns_server_domain_name | default(bb_domain_name, true) | default('cluster.local', true) %}

{# Main PTR records #}
{% for host in dns_server_hosts_by_first_octets['reverse'][item]['base'] %}
{{ host.ip_host }}  IN  PTR  {{ host.hostname }}.{{ domain_name }}.
{% endfor %}

{# Extended PTR records (e.g. 10.10.0.5 -> c001-interconnect.domain.com) #}
{% if dns_server_enable_extended_names %}
{% for host in dns_server_hosts_by_first_octets['reverse'][item]['extended'] %}
{{ host.ip_host }}  IN  PTR  {{ host.hostname }}.{{ domain_name }}.
{% endfor %}
{% endif %}
