---

- name: ufw <|> "Add pcsd port to firewall"
  community.general.ufw:
    rule: allow
    port: '2224'
    proto: tcp
  when:
    - os_firewall | default(false) | bool
  tags:
    - firewall

- name: ufw <|> "Add corosync ports to firewall"
  community.general.ufw:
    rule: allow
    port: '5405:5412'
    proto: udp
  when:
    - os_firewall | default(false) | bool
  tags:
    - firewall
