###
# Slurm cgroup support configuration file
###
# CgroupAutomount=yes # deprecated
ConstrainCores=yes
ConstrainRAMSpace=yes
{% if slurm_grestypes is defined and slurm_gresTypes is not none %}
ConstrainDevices=yes
{% endif %}