#jinja2: lstrip_blocks: True
#### Blue Banquise file ####
## {{ansible_managed}}

# Documentation:
# https://slurm.schedmd.com/slurmdbd.conf.html

## Authentication
AuthInfo=/var/run/munge/munge.socket.2
AuthType=auth/munge
SlurmUser=slurm

## Mariadb server
DbdHost={{ slurm_accounting_mysql_login_host | default('localhost', true) }}

## Log and pid
LogFile={{ slurm_slurmdbdlogfile }}
DebugLevel={{ slurm_slurmdbddebug }}
PidFile=/var/run/slurmdbd.pid

## Storage
StorageType=accounting_storage/mysql
StorageUser={{ slurm_accounting_storage_user }}
StoragePass={{ slurm_accounting_storage_pass }}

## Additional content if exist
{% if slurm_slurmdbd_conf_additional_content is defined and slurm_slurmdbd_conf_additional_content is iterable %}
  {% for slurm_slurmdbd_conf_content in slurm_slurmdbd_conf_additional_content %}
{{ slurm_slurmdbd_conf_content | default('', true) }}                                                                                                                       
  {% endfor %}
{% endif %}
