#### Blue Banquise file ####
## {{ansible_managed}}

{% for gr, gr_vars in groups.items() %}
{{gr}}: {% for node in gr_vars %}{% if loop.first %}{{node}}{% else %},{{node}}{% endif %}{% endfor %}

{% endfor %}



