dn: {% for dc in domain_name.split('.') %}{% if not loop.first %},{% endif %}dc={{dc}}{% endfor %}

objectClass: top
objectClass: dcObject
objectclass: organization
o: {% for dc in domain_name.split('.') %}{{dc}} {% endfor %}
dc: {{ domain_name.split('.')[0] }}

dn: cn=Manager{% for dc in domain_name.split('.') %},dc={{dc}}{% endfor %}

objectClass: organizationalRole
cn: Manager
description: Directory Manager

dn: ou=People{% for dc in domain_name.split('.') %},dc={{dc}}{% endfor %}

objectClass: organizationalUnit
ou: People

dn: ou=Group{% for dc in domain_name.split('.') %},dc={{dc}}{% endfor %}

objectClass: organizationalUnit
ou: Group

