#jinja2: lstrip_blocks: True
resource {{ item.name }} {
{% for node, node_ip in item.nodes.items() %}
  on {{ node }} {
    address   {{ node_ip }}:{{ item.port }};
    device    {{ item.device }};
    disk      {{ item.disk }};
    meta-disk {{ item.metadisk }};
  }
{% endfor %}
}
