{{ ansible_managed | comment }}
{% if ansible_os_family == 'Debian' %}
lxd:100000:65535
{% endif %}
root:100000:65535
{% for user, mapping in podman_users.items() %}
{{ user }}:{{ mapping }}
{% endfor %}