# Configuration file for ipmi_exporter
# https://github.com/soundcloud/ipmi_exporter/blob/master/ipmi_remote.yml

modules:
{% for equipment in prometheus_ipmi_scrape_equipment_profiles %}

  {{ equipment.name }}:
    user: {{ hostvars[groups[equipment.name][0]]['ep_equipment_authentication']['user']}}
    pass: {{ hostvars[groups[equipment.name][0]]['ep_equipment_authentication']['password']}}
    driver: "LAN_2_0"
    privilege: "user"
    timeout: 10000
    collectors:
    - bmc
    - ipmi
    - chassis
    exclude_sensor_ids:

{% endfor %}
