[Unit]
  Description=karma
  Wants=network-online.target
  After=network-online.target

[Service]
  User=karma
  Group=karma
  Type=simple
  WorkingDirectory=/etc/karma/
  ExecStart=/usr/local/bin/karma \
  {{ prometheus_server_karma_launch_parameters | indent(2, True) }}

[Install]
  WantedBy=multi-user.target
