#jinja2: lstrip_blocks: True
#### BlueBanquise file ####
## {{ ansible_managed }}

{% if nhc_static_configuration is defined and nhc_static_configuration is not none %}

{{ nhc_static_configuration }}

{% else %}

######################
####### STATIC #######
######################

### Activate timestamps in logs ###
* || export TS=1

### Activate debugging mode
* || export DEBUG=0

### Fix a bug in the default configuration (check_fs_free and check_fs_ifree)
* || export DF_FLAGS="-Tk"
* || export DFI_FLAGS="-Ti"

#########################
####### GENERATED #######
#########################

{% if nhc_resources_manager is defined and nhc_resources_manager is not none %}
### Explicitly set resources manager
* || export NHC_RM={{ nhc_resources_manager }}
{% endif %}

{% if nhc_checks is defined and nhc_checks is iterable %}
  {% for check, arguments in nhc_checks.items() %}
    {% if arguments is iterable %}
      {% for arg in arguments %}
* || {{ check }} {{ arguments }}
      {% endfor %}
    {% else %}
* || {{ check }} {{ arguments }}
    {% endif %}

  {% endfor %}
{% endif %}

{% endif %}
