#jinja2: lstrip_blocks: True
#### Blue Banquise file ####
## {{ ansible_managed }}

{% set inventory_all_ipv4_addresses = network_interfaces | map(attribute='ip4') | list %}

options {
  listen-on port 53 {
    127.0.0.1;
{% for network in j2_management_networks %}
  {% if networks[network]['is_in_dns'] is defined and networks[network]['is_in_dns'] == true %}
    {% set addresses = networks[network]['services_ip']['dns_ip'] | ipaddr %}
    {% if dns_slaves is defined %}
      {% set addresses = addresses|union(dns_slaves) %}
    {% endif %}
    {% if addresses is string and addresses in inventory_all_ipv4_addresses %}
    {{ addresses }};
    {% else %}
      {% for address in (addresses|intersect(inventory_all_ipv4_addresses)) %}
    {{ address }};
      {% endfor %}
    {% endif %}
  {% endif %}
{% endfor %}
  };

  listen-on-v6 port 53 { ::1; };
  directory 	"/var/named";
  dump-file 	"/var/named/data/cache_dump.db";
  statistics-file "/var/named/data/named_stats.txt";
  memstatistics-file "/var/named/data/named_mem_stats.txt";

  allow-query {
    localhost;
{% for network in j2_management_networks %}
  {% if networks[network]['is_in_dns'] is defined and networks[network]['is_in_dns'] == true %}
    {{ networks[network]['subnet'] }}/{{ networks[network]['prefix'] }};
  {% endif %}
{% endfor %}
  };

{% if external_dns.dns_server is defined and external_dns.dns_server %}
  forwarders {
  {% for forwarder in external_dns.dns_server %}
    {{ forwarder }};
  {% endfor %}
  };
{% else %}
  recursion no;
{% endif %}

  dnssec-enable yes;
  dnssec-validation yes;
  dnssec-lookaside auto;

  /* Path to ISC DLV key */
  bindkeys-file "/etc/named.iscdlv.key";

  managed-keys-directory "/var/named/dynamic";

  pid-file "/run/named/named.pid";
  session-keyfile "/run/named/session.key";
};

logging {
  channel default_debug {
    file "data/named.run";
    severity dynamic;
  };
};

zone "." IN {
  type hint;
  file "named.ca";
};

{# Is the host the master DNS? #}
{% if dns_master in inventory_all_ipv4_addresses %}
zone "{{ domain_name }}" IN {
  type master;
  file "forward";
  allow-update { none; };
  {% if dns_slaves is defined %}
  allow-transfer { {{ dns_slaves | join('; ') }}; };
  notify yes;
  also-notify { {{ dns_slaves | join('; ') }}; };
  {% endif %}
};

zone "in-addr.arpa" IN {
  type master;
  file "reverse";
  allow-update { none; };
  {% if dns_slaves is defined %}
  allow-transfer { {{ dns_slaves | join('; ') }}; };
  notify yes;
  also-notify { {{ dns_slaves | join('; ') }}; };
  {% endif %}
};
{% else %}
{# slave of dns_master #}
zone "{{ domain_name }}" IN {
  type slave;
  masters { {{ dns_master }}; };
  file "slaves/forward";
};

zone "in-addr.arpa" IN {
  type slave;
  masters { {{ dns_master }}; };
  file "slaves/reverse";
};
{% endif %}

include "/etc/named.rfc1912.zones";
include "/etc/named.root.key";
