---
- name: include_vars ░ Gather OS specific variables
  # This task gathers variables defined in OS specific files.
  #
  # Search vars in:
  #  - <distribution>_<major>.yml    # eg. CentOS_8.yml
  #  - <os_family>_<major>.yml       # eg. RedHat_8.yml
  #  - <distribution>.yml            # eg. CentOS.yml
  #  - <os_family>.yml               # eg. RedHat.yml
  #
  # If no OS specific file is found, the role will default to vars/main.yml
  #
  include_vars: "{{ item }}"
  with_first_found:
    - files:
        - "vars/{{ ansible_facts.distribution | replace(' ','_') }}_{{ ansible_facts.distribution_major_version }}.yml"
        - "vars/{{ ansible_facts.os_family }}_{{ ansible_facts.distribution_major_version }}.yml"
        - "vars/{{ ansible_facts.distribution | replace(' ','_') }}.yml"
        - "vars/{{ ansible_facts.os_family }}.yml"
      skip: true
  tags:
    - always

- name: firewalld █ "Add services to firewall's {{ time_firewall_zone | default('public') }} zone"
  firewalld:
    zone: "{{ time_firewall_zone | default('public') }}"
    service: "{{ item }}"
    immediate: "yes"
    permanent: "yes"
    state: enabled
  when:
    - ansible_facts.os_family == "RedHat"
    - ep_firewall | default(false) | bool
  loop: "{{ time_firewall_services_to_add }}"
  tags:
    - firewall

- name: "package █ Install {{ time_packages_to_install | join(' ') }} packages"
  package:
    name: "{{ time_packages_to_install }}"
    state: present
  tags:
    - package

- name: template █ Generate /etc/chrony.conf
  template:
    src: chrony.conf.j2
    dest: "{{ time_chrony_conf_path }}"
    owner: root
    group: root
    mode: 0644
  notify: service █ Restart time services
  tags:
    - template

- name: lineinfile █ Set sysconfig OPTIONS for chronyd
  lineinfile:
    path: /etc/sysconfig/chronyd
    regexp: '^OPTIONS'
    line: OPTIONS="{{ time_chronyd_options }}"
  notify: service █ Restart time services
  when: time_chronyd_options is defined
  tags:
    - template

- name: "timezone █ Set system to {{ time_zone }} timezone"
  timezone:
    name: "{{ time_zone }}"

- name: meta █ Run handler tasks to restart time services
  meta: flush_handlers

- name: "service █ Manage {{ time_services_to_start | join(' ') }} services state"
  service:
    name: "{{ item }}"
    enabled: "{{ (enable_services | bool) | ternary('yes','no') }}"
    state: "{{ (start_services | bool) | ternary('started', omit) }}"
  loop: "{{ time_services_to_start }}"
  tags:
    - service
