---
- name: Prepare
  #hosts: all
  hosts: management1
  tasks:
    - name: Install firewall package
      package:
        name: firewalld
        state: present

    - name: Start firewall
      service:
        name: firewalld
        enabled: yes
        state: started
