#!ipxe

echo |
echo | Entering equipment_profiles/{{ item | trim }}.ipxe file.
echo |
echo | Getting equipment_profile group variables...
echo |

# Ansible variables
set eq-equipment-profile {{ item | trim }}
set eq-architecture ${arch}
set eq-distribution {{ equipment['os']['os_operating_system']['distribution'] | default(pxe_stack_os_operating_system.distribution, true) | lower }}
set eq-distribution-major-version {{ equipment['os']['os_operating_system']['distribution_major_version'] | default(pxe_stack_os_operating_system.distribution_major_version, true) }}
set eq-distribution-version {{ equipment['os']['os_operating_system']['distribution_version'] | default(equipment['os']['os_operating_system']['distribution_major_version'], true) | default(pxe_stack_os_operating_system.distribution_version, true) | default(pxe_stack_os_operating_system.distribution_major_version, true) }}
set eq-console {{ equipment['hw']['hw_console'] | default(pxe_stack_hw_console) }}
set eq-kernel-parameters {{ equipment['os']['os_kernel_parameters'] | default(pxe_stack_os_kernel_parameters) }} {{ equipment['hw']['hw_kernel_parameters'] | default(pxe_stack_hw_kernel_parameters) }} {% if (equipment['os']['os_pxe_proxy'] | default(pxe_stack_os_pxe_proxy, true) | default(none, true)) is not none %}inst.proxy={{ equipment['os']['os_pxe_proxy'] | default(pxe_stack_os_pxe_proxy, true) }}{% endif %}
set eq-repositories-environment {{ equipment['os']['os_operating_system']['repositories_environment'] | default(pxe_stack_os_operating_system.repositories_environment) | default('') }}
{% if (equipment['os']['os_autoclone_parameters'] is defined and equipment['os']['os_autoclone_parameters'] is not none) or (pxe_stack_os_autoclone_parameters is defined and pxe_stack_os_autoclone_parameters is not none) %}
set eq-autoclone-parameters {{ equipment['os']['os_autoclone_parameters'] | default(pxe_stack_os_autoclone_parameters, true) }}
{% endif %}
{% if equipment['os']['os_kernel_aggressive_dhcp'] | default(pxe_stack_os_kernel_aggressive_dhcp, true) %}
set eq-kernel-aggressive-dhcp rd.net.timeout.carrier=30 rd.net.timeout.ifup=60 rd.net.dhcp.retry=4
{% endif %}

# Dynamic variables
set images-root {{ equipment['os']['os_pxe_images_root'] | default(pxe_stack_os_pxe_images_root, true) | default("http://${next-server}/pxe/netboots/${eq-distribution}/${eq-distribution-version}/${eq-architecture}/", true) }}
set images-root-iso {{ equipment['os']['os_pxe_images_root_iso'] | default(pxe_stack_os_pxe_images_root_iso, true) | default("iso", true) }}
set kickstart-path http://${next-server}/pxe/equipment_profiles/${eq-equipment-profile}.kickstart.cfg

echo | images-root: ${images-root}
echo | images-root-iso: ${images-root-iso}
echo | kickstart-path: ${kickstart-path}
echo |

# Now chain to menu
echo | Now chaining to --> menu.ipxe
sleep 2
chain http://${next-server}/pxe/menu.ipxe || shell
