#jinja2: lstrip_blocks: True
# {{ ansible_managed }}
---
inventories_root: {{ cluster_management_tools_inventory_inventories_root }}
working_folder: {{ cluster_management_tools_inventory_working_folder }}
default_inventory: {{ cluster_management_tools_inventory_default_inventory }}
