<!DOCTYPE html>
<html>
<head>
  <title>BlueBanquise - Report</title>
  <link rel="stylesheet" href="css/main.css" />
  <link rel="stylesheet" href="css/hosts.css" />
<style type="text/css">
	@font-face {
		font-family: 'OpenSans-Light';
		src:  url('fonts/OpenSans-Light.ttf')  format('truetype');
	}
	@font-face {
		font-family: 'OpenSans';
		src:  url('fonts/OpenSans-Regular.ttf')  format('truetype');
	}
</style>
</head>

<script>
function includeHTML() {
  var z, i, elmnt, file, xhttp;
  /* Loop through a collection of all HTML elements: */
  z = document.getElementsByTagName("*");
  for (i = 0; i < z.length; i++) {
    elmnt = z[i];
    /*search for elements with a certain atrribute:*/
    file = elmnt.getAttribute("w3-include-html");
    if (file) {
      /* Make an HTTP request using the attribute value as the file name: */
      xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
        if (this.readyState == 4) {
          if (this.status == 200) {elmnt.innerHTML = this.responseText;}
          if (this.status == 404) {elmnt.innerHTML = "Page not found.";}
          /* Remove the attribute, and call this function once more: */
          elmnt.removeAttribute("w3-include-html");
          includeHTML();
        }
      }
      xhttp.open("GET", file, true);
      xhttp.send();
      /* Exit the function: */
      return;
    }
  }
}
</script>
<body>

<!--
<div id="logo">
  <img src="pictures/bluebanquise_logo_white.svg" alt="BlueBanquise logo" height="120px">
</div>
-->

<ul class="top">
  <li><a class="logo" href="index.html"><span style="color: #108bde">Blue</span>Banquise</a></li>
  <li><a href="index.html">Home</a></li>
  <li><a href="inventory_checker.html">Inventory Checker</a></li>
  <li><a href="cluster_configuration.html" class="selected">Cluster configuration</a></li>
  <li><a href="graphs.html">Graphs</a></li>
</ul>

<div style="padding:2% 1%; max-width: 900px; margin: auto;">

<h1>Cluster Configuration</h1>
This report has been generated at:<br>
{{ansible_managed}}<br>

<h2>Equipment profiles</h2>
<div w3-include-html="cluster_configuration/equipment_profiles.html"></div> 

<h3>SuperMicro Sandy</h3>

<img src="pictures/generic_server.svg" alt="SuperMicro Sandy" width="120px">
<h4>Equipment parameters:</h4>
<ul>
  <li>Console: ttyS0</li>
  <li>Partitioning: ....</li>
  <li>Operating System:</li>
  <ul>
    <li>Distribution: Centos</li>
  </ul>
</ul>

<div class="rack">

<div class="rack_1">
  <div class="c005">c005</div>
  <div class="c002">c002</div>
  <div class="c003">c003</div>
  <div class="c004">c004</div>
  <div class="c001">c001</div>
  <div class="c006">c006</div>
  <div class="c007">c007</div>
</div>
 </div>


</div>

<script>
includeHTML();
</script>


</body>

</html>
