
.c001 {
grid-column: 1 / span 12;
grid-row: 1 / span 1;
}
.c002 {
 grid-column: 1 / span 12;
 grid-row: 2 / span 1;

}
.c003 {
     grid-column: 1 / span 12;
 grid-row: 3 / span 1;

 }
.c004 {
     grid-column: 1 / span 12;
 grid-row: 4 / span 1;

 }
.c005 {
 grid-column: 1 / span 12;

grid-row: 5 / span 2;
}

.c006 {
grid-column: 1 / span 6;
grid-row: 7 / span 1;
}

.c007 {
grid-column: 7 / span 6;
grid-row: 7 / span 1;
}


.rack {
background-color: #333;
width: 284px;
height: 200px;
padding: 10px 10px;
}

.rack_1 {
  display: grid;
  grid-template-columns: 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px;
  grid-template-rows: 20px 20px 20px 20px 20px 20px 20px 20px;
  grid-gap: 4px;
  background-color: #2196F3;
#  padding: 10px;
}

.rack_1 > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
#  padding: 20px 0;
#  font-size: 30px;
}
