{% for rack in (groups | select('match','^rack_.*') | list | unique | sort) %}

.{{rack}} {
  display: grid;
  grid-template-columns: {% for i in range(hostvars[groups[rack][0]]['rack_x_span']) %}80px {% endfor %};
  grid-template-rows: {% for i in range(hostvars[groups[rack][0]]['rack_z_span']) %}20px {% endfor %};
  grid-gap: 4px;
  background-color: #2196F3;
}

.{{rack}} > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.{{rack}}_container {
background-color: #333;
width: {{ (hostvars[groups[rack][0]]['rack_x_span']*80) + ((hostvars[groups[rack][0]]['rack_x_span']-1)*4) + 20 }}px;
height: {{ (hostvars[groups[rack][0]]['rack_z_span']*20) + ((hostvars[groups[rack][0]]['rack_z_span']-1)*4) + 20 }}px;
padding: 10px 10px;
}

{% for host in groups[rack] %}

.{{host}} {
  grid-column: {{hostvars[host]['x_p']}} / span {{hostvars[host]['report']['equipment_size']['x_span']}};
  grid-row: {{hostvars[host]['z_p']}} / span {{hostvars[host]['report']['equipment_size']['z_span']}};
}
{% endfor %}
{% endfor %}


