{% for host in groups['all'] %}

{# Check if node is part of an equipment or an iceberg #}
{% if not (hostvars[host]['group_names'] | select('match','^'+equipment_naming+'_.*') | list ) %}
  <br><div id="warning">WARNING</div>: host {{host}} is not part of any equipment_profile. This may be on purpose.
{% endif %}
{% if not (hostvars[host]['group_names'] | select('match','^'+iceberg_naming+'[a-zA-Z0-9]+') | list ) and icebergs_system == true %}
  <br><div id="warning">WARNING</div>: host {{host}} is not part of any iceberg. This may be on purpose.
{% endif %}

{# Check if node has a main network and a main network interface.
Also check the main network exists and that all linked network exists #}
{% if hostvars[host]['j2_node_main_network'] is not defined or hostvars[host]['j2_node_main_network'] is none %}
  <br><div id="warning">WARNING</div>: host {{host}} doesn't have a main network. This may be on purpose.
{% endif %}
{% if hostvars[host]['j2_node_main_network_interface'] is not defined or hostvars[host]['j2_node_main_network_interface'] is none %}
  <br><div id="warning">WARNING</div>: host {{host}} doesn't have a main network interface. This may be on purpose.
{% endif %}

{% if hostvars[host]['network_interfaces'] is not defined or hostvars[host]['network_interfaces'] is none or hostvars[host]['network_interfaces'] is not iterable %}
  <br><div id="warning">WARNING</div>: host {{host}} doesn't have any network interfaces defined.
{% else %}
  {% for interface in hostvars[host]['network_interfaces'] %}
    {% if hostvars[host]['network_interfaces'][interface]['network'] is defined and hostvars[host]['network_interfaces'][interface]['network'] is not none %}
      {% if hostvars[host]['network_interfaces'][interface]['network'] not in networks %}
        <br><div id="error">ERROR</div>: host {{host}} interface {{interface}} has a network ({{hostvars[host]['network_interfaces'][interface]['network']}}) not defined in the configuration, please check.
      {% endif %}
    {% endif %}
    {% if hostvars[host]['network_interfaces'][interface]['ip4'] is not defined or hostvars[host]['network_interfaces'][interface]['ip4'] is none %}
        <br><div id="error">ERROR</div>: host {{host}} interface {{interface}} has no ip4 value. If you do not need this interface, please comment/erase it.
    {% endif %}
  {% endfor %}
{% endif %}

{% if hostvars[host]['bmc'] is defined and hostvars[host]['bmc'] is not none %}
  {% if hostvars[host]['bmc']['ip4'] is not defined or hostvars[host]['bmc']['ip4'] is none %}
    <br><div id="error">ERROR</div>: host {{host}} bmc has no ip4 value.
  {% endif %}
  {% if hostvars[host]['bmc']['name'] is not defined or hostvars[host]['bmc']['name'] is none %}
    <br><div id="error">ERROR</div>: host {{host}} bmc has no name value.
  {% endif %}
  {% if hostvars[host]['bmc']['network'] is defined and hostvars[host]['bmc']['network'] is not none %}
    {% if hostvars[host]['bmc']['network'] not in networks %}
    <br><div id="error">ERROR</div>: host {{host}} bmc has a network {{hostvars[host]['bmc']['network']}} not defined in the configuration, please check.
    {% endif %}
  {% endif %}
{% endif %}

{% endfor %}
