body {
  margin: 0;
  font-family: "OpenSans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

ul.lvl1 {
    margin: 0.75em 0;
    padding: 0 3em;
    list-style: none;
}
ul.lvl1 li:before { 
    content:        "";
    border-color:   transparent #108bde;
    border-style:   solid;
    border-width:   0.35em 0 0.35em 0.45em;
    display:        block;
    height:         0;
    left:           -1em;
    position:       relative;
    top:            1em;
    width:          0;
#    transform: rotate(45deg);
}

ul.lvl1 li.rotate:before {
    transform: rotate(45deg);
    left:           -0.9em;
}

ul.lvl2 {
    margin: 0 0;
    padding: 0 1em;
    list-style: none;
}
ul.lvl2 li:before {
    content:        "";
    border-color:   transparent #efad21;
    border-style:   solid;
    border-width:   0.30em 0 0.30em 0.40em;
    display:        block;
    height:         0;
    left:           -1em;
    position:       relative;
    top:            1em;
    width:          0;
#    transform: rotate(45deg);
}

ul.lvl2 li.rotate:before {
    transform: rotate(45deg);
    left:           -0.9em;
}

ul.lvl3 {
    margin: 0 0;
    padding: 0 1em;
    list-style: none;
}
ul.lvl3 li:before {
    content:        "";
    border-color:   transparent #2ecc71;
    border-style:   solid;
    border-width:   0.25em 0 0.25em 0.25em;
    display:        block;
    height:         0;
    left:           -1em;
    position:       relative;
    top:            1em;
    width:          0;
#    transform: rotate(45deg);
}



ul.top {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
#  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
  font-family: "OpenSans-Light","Helvetica Neue",Helvetica,Arial,sans-serif;
}

ul.top li {
  float: left;
}

ul.top li a.logo {
#  display: block;
#  color: white;
#  text-align: center;
#  padding: 14px 16px;
  text-decoration: none;
  font-family: "OpenSans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

ul.top li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.top li a:hover:not(.active) {
  background-color: #111;
}

ul.top li a.active {
  background-color: #272727;
  color: #efad21;
  #  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.54),0 1px 8px 0 rgba(0,0,0,0.62),0 5px 3px -5px rgba(0,0,0,0.70);
}

ul.top li.right {
  float: right;
}

ul.top li.rightactive {
  background-color: #272727;
  color: #efad21;
  float: right;
}

@media screen and (max-width: 600px) {
  ul.top li.right,
  ul.top li {
    float: none;
  }
}

.titlecenter {
  text-align: center;
  background-color: #333;
  font-size: 1.7em;
  color: white;
}

.titlecenterblue {
  color: #108bde;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
padding:0% 3%
}

h1 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h2 {
  display: block;
  font-size: 1.25em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h3 {
  text-decoration: underline;
  display: block;
  font-size: 1.1em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h4 {
  display: block;
  font-size: 0.9em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}


#logo {
  background-color: #333;
  padding: 4px 30px;
}

#warning {
  color: #3498db;
  display: inline;
  font-weight: bold;
}

#error {
  color: #e74c3c;
  display: inline;
  font-weight: bold;
}



