#jinja2: lstrip_blocks: True
# {{ ansible_managed }}
---
{% set ns = namespace(function_groups={}) %}
{% for gname in groups | sort %}
  {% if gname.startswith('fn_') %}
    {% set ns.function_groups = ns.function_groups | combine({gname: groups[gname] | sort}) %}
  {% endif %}
{% endfor %}
{% set _conf = {
    'function_profiles': cluster_playbooks_function_profiles | combine(cluster_playbooks_custom_function_profiles),
    'function_groups': ns.function_groups
} %}
{{ _conf | to_nice_yaml(indent=2) }}
