#jinja2: lstrip_blocks: True
#### Blue Banquise file ####
## {{ ansible_managed }}

{% macro item_add(item_name, items_list) %}
      {% if items_list is defined and items_list is iterable and items_list is not string and items_list is not mapping %}
        {% set elements = [] %}
        {% for elem in items_list %}
          {% if elem.ip is defined and (elem.ip | ansible.utils.ipaddr) %}
            {{ elements.append(elem.ip) }}
          {% elif elem.hostname is defined and elem.hostname is not none and elem.hostname is string %}
            {{ elements.append(elem.hostname) }}
          {% endif %}
        {% endfor %}
        {% if (elements | length) > 0 %}
  {{ item_name }} {{ elements | join(', ') }};
        {% endif %}
      {% endif %}
{% endmacro %}

#### SUBNETS

{% for network in networks %}
  {% if j2_current_iceberg_network in network %}
    {% if (networks[network]['dhcp_server'] | default(true)) %}

subnet {{ networks[network]['subnet'] }} netmask {{ (networks[network]['subnet'] + '/' + (networks[network]['prefix'] | string) ) | ansible.utils.ipaddr('netmask') }} {

  default-lease-time {{ dhcp_server_default_lease_time }};
  max-lease-time {{ dhcp_server_max_lease_time }};
      {% if networks[network]['dhcp_unknown_range'] is defined and networks[network]['dhcp_unknown_range'] is not none %}
  range {{ networks[network]['dhcp_unknown_range'] }};
      {% endif %}
  option domain-name "{{ bb_domain_name | default(dhcp_server_domain_name) }}";
  option broadcast-address {{ (networks[network]['subnet'] + '/' + (networks[network]['prefix'] | string) ) | ansible.utils.ipaddr('broadcast') }};
      {% if networks[network]['gateway4'] is defined %}
{{ item_add("option routers", networks[network]['gateway4']) }}
      {% endif %}

{# Either ~~~~~~~ ADVANCED SERVICES #}
      {% if networks[network]['services'] is defined and networks[network]['services'] is iterable and networks[network]['services'] is not string and networks[network]['services'] is mapping %}
        {% if networks[network]['services']['dns4'] is defined %}
{{ item_add("option domain-name-servers", networks[network]['services']['dns4']) }}
        {% endif %}
        {% if networks[network]['services']['ntp4'] is defined %}
{{ item_add("option ntp-servers", networks[network]['services']['dns4']) }}
        {% endif %}
        {% if networks[network]['services']['pxe4'] is defined %}
{{ item_add("next-server", networks[network]['services']['pxe4']) }}
        {% endif %}

{# Or ~~~~~~~ BASIC SERVICES #}
      {% elif networks[network]['services_ip'] is defined and (networks[network]['services_ip'] | ansible.utils.ipaddr) %}
  option domain-name-servers {{ networks[network]['services_ip'] }};
  option ntp-servers {{ networks[network]['services_ip'] }};
  next-server {{ networks[network]['services_ip'] }};
      {% endif %}

  include "{{ dhcp_server_conf_dir }}/dhcpd.{{ network }}.conf";

}
    {% endif %}
  {% endif %}
{% endfor %}
