---
- name: include_vars <|> Gather OS specific variables
  # This task gathers variables defined in OS specific files.
  #
  # Search vars in:
  #  - <distribution>_<major>.yml    # eg. CentOS_8.yml
  #  - <os_family>_<major>.yml       # eg. RedHat_8.yml
  #  - <distribution>.yml            # eg. CentOS.yml
  #  - <os_family>.yml               # eg. RedHat.yml
  #
  # If no OS specific file is found, the role will default to vars/main.yml
  #
  ansible.builtin.include_vars: "{{ item }}"
  with_first_found:
    - files:
        - "vars/{{ ansible_facts.distribution | replace(' ','_') }}_{{ ansible_facts.distribution_version }}.yml"
        - "vars/{{ ansible_facts.distribution | replace(' ','_') }}_{{ ansible_facts.distribution_major_version }}.yml"
        - "vars/{{ ansible_facts.os_family }}_{{ ansible_facts.distribution_version }}.yml"
        - "vars/{{ ansible_facts.os_family }}_{{ ansible_facts.distribution_major_version }}.yml"
        - "vars/{{ ansible_facts.distribution | replace(' ','_') }}.yml"
        - "vars/{{ ansible_facts.os_family }}.yml"
      skip: true
  tags:
    - always

- name: include_tasks <|> Firewall
  ansible.builtin.include_tasks: "firewall.yml"
  tags:
    - internal
    - firewall

- name: "package <|> Install {{ dhcp_server_packages_to_install | join(' ') }}"
  ansible.builtin.package:
    name: "{{ dhcp_server_packages_to_install }}"
    state: present
  tags:
    - package

- name: "file <|> Create {{ dhcp_server_conf_dir }}"
  ansible.builtin.file:
    path: "{{ dhcp_server_conf_dir }}"
    owner: root
    mode: "0755"
    state: directory

- name: include_tasks <|> dhcpd or kea
  ansible.builtin.include_tasks: "{{ dhcp_server_toolname }}.yml"
  tags:
    - internal

- name: meta <|> Run handler tasks to restart dhcp services
  ansible.builtin.meta: flush_handlers

- name: "service <|> Manage {{ dhcp_server_services_to_start | join(' ') }} state"
  ansible.builtin.service:
    name: "{{ item }}"
    enabled: "{{ (dhcp_server_enable_services | default(bb_enable_services) | default(true) | bool) | ternary('yes', 'no') }}"
    state: "{{ (dhcp_server_start_services | default(bb_start_services) | default(true) | bool) | ternary('started', omit) }}"
  loop: "{{ dhcp_server_services_to_start }}"
  tags:
    - service
