---

# Roles transverse variables caching
- name: fact <|> Calculate bb_nodes_profiles
  ansible.builtin.set_fact:
    bb_nodes_profiles: "{{ j2_bb_nodes_profiles }}"
  when: bb_nodes_profiles is not defined or bb_nodes_profiles is none
  tags:
    - templates

- name: fact <|> Calculate bb_equipments
  ansible.builtin.set_fact:
    bb_equipments: "{{ j2_bb_equipments }}"
  when: bb_equipments is not defined or bb_equipments is none
  tags:
    - templates
#

- name: package <|> Install freeipmi and powerman
  ansible.builtin.package:
    name:
      - freeipmi
      - powerman
    state: present
  tags:
    - package

- name: template <|> Generate /etc/powerman/powerman.conf
  ansible.builtin.template:
    src: powerman.conf.j2
    dest: /etc/powerman/powerman.conf
    owner: root
    group: root
    mode: 0640
  notify: service <|> Restart powerman
  tags:
    - template

- name: meta <|> Run handler tasks to restart powerman service
  ansible.builtin.meta: flush_handlers

- name: service <|> Manage powerman state
  ansible.builtin.service:
    name: powerman
    enabled: "{{ (powerman_enable_services | default(bb_enable_services) | default(true, true) | bool) | ternary('yes', 'no') }}"
    state: "{{ (powerman_start_services | default(bb_start_services) | default(true, true) | bool) | ternary('started', omit) }}"
  tags:
    - service
