---
# use '--limit login1' to restrict playbook to
# login1 if mg_logins contains multiple login nodes
- name: logins playbook
  hosts: "fn_login"
  roles:

    - role: set_hostname
      tags: set_hostname
    - role: repositories_client
      tags: repositories_client
    - role: nic_nmcli
      tags: nic_nmcli
    - role: hosts_file
      tags: hosts_file
    - role: dns_client
      tags: dns_client
    - role: time
      tags: time
      vars:
        time_profile: client
    - role: nfs_client
      tags: nfs_client
