<!DOCTYPE html>
<html>
  <head>
    <title>BlueBanquise - Report</title>
    <link rel="stylesheet" href="css/main.css" />
  </head>

<script>
function includeHTML() {
  var z, i, elmnt, file, xhttp;
  /* Loop through a collection of all HTML elements: */
  z = document.getElementsByTagName("*");
  for (i = 0; i < z.length; i++) {
    elmnt = z[i];
    /*search for elements with a certain atrribute:*/
    file = elmnt.getAttribute("w3-include-html");
    if (file) {
      /* Make an HTTP request using the attribute value as the file name: */
      xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
        if (this.readyState == 4) {
          if (this.status == 200) {elmnt.innerHTML = this.responseText;}
          if (this.status == 404) {elmnt.innerHTML = "Page not found.";}
          /* Remove the attribute, and call this function once more: */
          elmnt.removeAttribute("w3-include-html");
          includeHTML();
        }
      }
      xhttp.open("GET", file, true);
      xhttp.send();
      /* Exit the function: */
      return;
    }
  }
}
</script>
<body>

<div id="logo">
  <img src="pictures/bluebanquise_logo_white.svg" alt="BlueBanquise logo" height="120px">
</div>

<div id="Shadowall">
  <div id="banner">
    <div id="banner_item_padding">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="debug_report.html" class="selected">Debug report</a></li>
        <li><a href="cluster_configuration_report.html">Cluster configuration report</a></li>
      </ul>
    </div>
  </div>
</div>

<div id="content">
<br>
<h1>BlueBanquise Debug Report</h1>
<br>
Please consider that this debug tools will not catch all errors in your inventories, but try to provide protection again common mistakes.<br>
<br>
This report has been generated at:<br>
Ansible managed: modified on 2019-08-01 06:49:01 by root on management1<br>
<br>
<h2>Groups debug report</h2>
<div w3-include-html="debug/debug_groups.html"></div> 
<br>
<h2>Nodes debug report</h2>
<div w3-include-html="debug/debug_nodes.html"></div>
<br>
</div>

<script>
includeHTML();
</script>


</body>

</html>
