<!DOCTYPE html>
<html>
  <head>
    <title>BlueBanquise - Report</title>
    <link rel="stylesheet" href="css/main.css" />
    <style type="text/css">
    @font-face {
        font-family: 'OpenSans-Light';
        src:  url('fonts/OpenSans-Light.ttf')  format('truetype');
    }
    @font-face {
        font-family: 'OpenSans';
        src:  url('fonts/OpenSans-Regular.ttf')  format('truetype');
    }
    </style>
  </head>
<body>

<ul class="top">
  <li><a class="logo" href="index.html"><span style="color: #108bde">Blue</span>Banquise</a></li>
  <li><a href="index.html" class="active">Home</a></li>
  <li><a href="inventory_checker.html">Inventory Checker</a></li>
  <li><a href="cluster_configuration.html">Cluster configuration</a></li>
  <li><a href="graphs.html">Graphs</a></li>
</ul>

<div style="padding:2% 1%; max-width: 900px; margin: auto;">

<h1>BlueBanquise Report</h1>
<br>
This report has been generated at:<br>
{{ansible_managed}}<br>
<br>
<b>Debug report</b> contains debugging internal system output, to find issues in your configuration.
<br>
<br>
<b>Cluster configuration report</b> tries to provide a human readable diagram of the cluster.
<br>
</div>

</body>

</html>
