/* #### GENERAL #### */

*, html {
  margin: 0;
  padding: 0;
}

body {
  font-size: 0.8em;
  font-family: Verdana, sans-serif;
  font-variant: normal;
  background-color: #fff;
  color: #141414;
}

h1 {
  font-size: 23px;
  font-family: Verdana, sans-serif;
  color: #202020;
}

h2 {
  font-size: 18px;
  font-family: Verdana, sans-serif;
  color: #202020;
}

/* #### TOP BANNER #### */

#banner {
  width: 100%;
  background-color: #202020;
}

#banner ul {
  /*margin: 0em 0em 0em 0.35em;*/
  text-align: left;
  list-style-type: none;
}

#banner li {
  margin: 1em 0em 1em 0em;
  display: inline-block;
  text-align: center;
}

#banner a {
  padding: 0.65em 1em 0.65em 1em;
  background-color: #444;
  color: white;
  text-decoration: none;
  -webkit-transition: background-color .2s;
  -moz-transition: background-color .2s;
  -ms-transition: background-color .2s;
  -o-transition: background-color .2s;
  transition: background-color .2s;
}

#banner a:hover {
  background-color: white;
  color: #2d2b2b;
}

#banner a.selected {
  text-decoration: underline;
}

#banner_item_padding {
  padding-left: 12em;
}

#Shadowall {
    box-shadow: 0px 7px 7px -7px #999;

}

#content {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  max-width:  900px;
  min-width: 900px;
  /*text-shadow: 0px 1px #7796a7;*/
    text-align: justify;
    text-justify: inter-word;
}

#content a {
  color: #6495ED;
}

#dec {
  padding-left: 2em;
}

.column {
  float: left;
  padding-top: 0.2em;
  padding-right: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 0.2em;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.Container
{
    text-align: center;
}

    .Container:before
    {
        content: '';
        height: 100%;
        display: inline-block;
        vertical-align: middle;
    }

.Contentcent
{
    display: inline-block;
    vertical-align: middle;
}


#logo {
  background-color: #202020;
  padding: 4px 30px;
}

#warning {
  color: #3498db;
  display: inline;
  font-weight: bold;
}

#error {
  color: #e74c3c;
  display: inline;
  font-weight: bold;
}

