#jinja2: lstrip_blocks: True
;#### Blue Banquise file ####
;## {{ ansible_managed }}

$TTL 86400
$ORIGIN {{ domain_name }}.
$INCLUDE "/var/named/forward.soa"
@ IN NS {{ inventory_hostname }}.{{ domain_name }}.

{% for host in groups['all'] %}
  {% if hostvars[host]['network_interfaces'] is defined and hostvars[host]['network_interfaces'] is iterable %}
    {% for nic in hostvars[host]['network_interfaces'] %}
      {% if nic.ip4 is defined and nic.ip4 is not none %}
        {% if nic.network is defined and nic.network == hostvars[host]['j2_node_main_network'] %}
          {% if hostvars[host]['alias'] is defined and hostvars[host]['alias'] is not none %}
            {% for alias in hostvars[host]['alias'] %}
{{ alias }} IN A {{ nic.ip4 }}
            {% endfor %}
          {% endif %}
{{ host }} IN A {{ nic.ip4 }}
{{ host }}-{{ nic.network }} IN A {{ nic.ip4 }}
        {% elif nic.network is defined and nic.network is not none %}
{{ host }}-{{ nic.network }} IN A {{ nic.ip4 }}
        {% else %}
{# Do nothing, not in registered network #}
        {% endif %}
      {% endif %}
    {% endfor %}
    {% if hostvars[host]['bmc'] is defined %}
    {% set bmc_args = hostvars[host]['bmc'] %}
      {% if (bmc_args.name is defined and bmc_args.name is not none) and (bmc_args.ip4 is defined and bmc_args.ip4 is not none) and (bmc_args.network is defined and bmc_args.network is not none) %}
{{ bmc_args.name }} IN A {{ bmc_args.ip4 }}
{{ bmc_args.name }}-{{ bmc_args.network }} IN A {{ bmc_args.ip4 }}
      {% endif %}
    {% endif %}
  {% endif %}
{% endfor %}
