#jinja2: lstrip_blocks: True
;#### Blue Banquise file ####
;## {{ ansible_managed }}

$TTL 86400
$ORIGIN {{ domain_name }}.
$INCLUDE "{{ dns_server_named_dir }}/forward.soa"
@ IN NS {{ inventory_hostname }}.{{ domain_name }}.

{# Macro to write host in file #}
{% macro write_host(host,host_dict,host_node_main_resolution_network) %}
  {% if host_dict['network_interfaces'] is defined and host_dict['network_interfaces'] is iterable %}
    {% for nic in host_dict['network_interfaces'] %}
      {% if nic.network is defined and networks[nic.network].is_in_dns is defined and networks[nic.network].is_in_dns %}
        {% if nic.ip4 is defined and nic.ip4 is not none %}
          {% if nic.network == host_node_main_resolution_network %}
            {% if host_dict['alias'] is defined and host_dict['alias'] %}
              {% for alias in host_dict['alias'] %}
{{ alias }} IN A {{ nic.ip4 }}
              {% endfor %}
            {% endif %}
{{ host }} IN A {{ nic.ip4 }}
{{ host }}-{{ nic.network }} IN A {{ nic.ip4 }}
          {% elif nic.network is defined and nic.network is not none %}
{{ host }}-{{ nic.network }} IN A {{ nic.ip4 }}
          {% else %}
  {# Do nothing, not in registered network #}
          {% endif %}
        {% endif %}
      {% endif %}
    {% endfor %}
    {% if host_dict['bmc'] is defined %}
    {% set bmc_args = host_dict['bmc'] %}
      {% if bmc_args.name is defined and bmc_args.name is not none and bmc_args.ip4 is defined and bmc_args.ip4 is not none and bmc_args.network is defined and bmc_args.network is not none and networks[bmc_args.network].is_in_dns is defined and networks[bmc_args.network].is_in_dns %}
        {% if bmc_args.alias is defined and bmc_args.alias %}
          {% for alias in bmc_args.alias %}
{{ alias }} IN A {{ bmc_args.ip4 }}
          {% endfor %}
        {% endif %}
{{ bmc_args.name }} IN A {{ bmc_args.ip4 }}
{{ bmc_args.name }}-{{ bmc_args.network }} IN A {{ bmc_args.ip4 }}
      {% endif %}
    {% endif %}
  {% endif %}
{% endmacro %}

{% for host in groups['all'] -%}
{{ write_host(host,hostvars[host],hostvars[host]['j2_node_main_resolution_network']) }}
{%- endfor %}
