$TTL 60
@            IN    SOA  {{ inventory_hostname }}.{{ domain_name }}. root.{{ domain_name }}.  (
                          {{ serial }} ; serial
                          1h           ; refresh
                          30m          ; retry
                          1w           ; expiry
                          30m)         ; minimum
                   IN     NS    localhost.

localhost       A   127.0.0.1

{% if dns_overrides is defined %}
{% for site, ip in dns_overrides.items() %}
{{ site }}    A        {{ ip }}
{% endfor %}
{% endif %}

