#jinja2: lstrip_blocks: True
;#### Blue Banquise file ####
;## {{ ansible_managed }}

$TTL 86400
$ORIGIN {{ item.split('.')|reverse|join('.') }}.in-addr.arpa.
$INCLUDE "{{ dns_server_named_dir }}/{{ item }}.rr.soa"
@ IN NS {{ inventory_hostname }}.{{ bb_domain_name | default(dns_server_domaine_name) }}.

{% macro create_record(ip, name) -%}
{{ ip.split('.')[3] }} IN PTR {{ name }}.
{%- endmacro %}

{# Macro to write host in file #}
{% macro write_host(host,host_dict,host_j2_node_main_resolution_network,host_j2_node_main_resolution_address) %}
  {% if host_dict['network_interfaces'] is defined and host_dict['network_interfaces'] is iterable %}
    {% for nic in host_dict['network_interfaces'] %}
      {% if nic.network is defined and nic.ip4 is defined and (networks[nic.network].is_in_dns | default(true)) and nic.ip4 is not none and (nic.ip4 | ansible.utils.ipaddr) and nic.ip4.split('.')[0:3]|join('.') == item %}
{{ create_record(nic.ip4, [[host, nic.network]|join('-'), bb_domain_name | default(dns_server_domaine_name)] | join('.')) }}
        {% if item == host_j2_node_main_resolution_network %}
{{ create_record(nic.ip4, [host, bb_domain_name | default(dns_server_domaine_name)] | join('.')) }}
        {% endif %}
      {% endif %}
    {% endfor %}
  {% elif host_dict['network'] is defined and host_dict['network'] is not none and host_dict['network'] is string and host_j2_node_main_resolution_address is not none and (host_j2_node_main_resolution_address | ansible.utils.ipaddr) and and host_j2_node_main_resolution_address.split('.')[0:3]|join('.') == item %}
{{ create_record(host_j2_node_main_resolution_address, [[host, host_dict['network']] | join('-'), bb_domain_name | default(dns_server_domaine_name)] | join('.')) }}
  {% endif %}
  {% if host_dict['bmc'] is defined %}
    {% set bmc_args = host_dict['bmc'] %}
    {% if bmc_args.name is defined and bmc_args.name is not none and bmc_args.network is defined and bmc_args.network is not none and bmc_args.network is defined and bmc_args.network.is_in_dns is defined and bmc_args.network.is_in_dns and bmc_args.ip4 is defined and bmc_args.ip4 is not none and bmc_args.ip4.split('.')[0:3]|join('.') == item  %}
{{ create_record(bmc_args.ip4, [[bmc_args.name, bmc_args.network]|join('-'), bb_domain_name | default(dns_server_domaine_name)] | join('.')) }}
      {% if item == host_j2_node_main_resolution_network %}
{{ create_record(bmc_args.ip4, [bmc_args.name, bb_domain_name | default(dns_server_domaine_name)] | join('.')) }}
      {% endif %}
    {% endif %}
  {% endif %}
{% endmacro -%}

{% for host in (groups['all'] | sort) -%}
{{ write_host(host,hostvars[host],hostvars[host]['j2_node_main_resolution_network'],hostvars[host]['j2_node_main_resolution_address']) }}
{%- endfor %}
