;#### Blue Banquise file ####
;## {{ansible_managed}}

$TTL 86400
$ORIGIN in-addr.arpa.
@ IN SOA  {{inventory_hostname}}.{{domain_name}}. root.{{domain_name}}. (
  2011071001  ;Serial
  3600        ;Refresh
  1800        ;Retry
  604800      ;Expire
  86400       ;Minimum TTL
)
@ IN NS {{inventory_hostname}}.{{domain_name}}.

{% for host in groups['all'] %}
{% if hostvars[host]['network_interfaces'] is defined and not none %}
{% set host_network_interfaces = hostvars[host]['network_interfaces'] %}{# Buffer for better performances #}
{% for interface, interface_vars in host_network_interfaces.items() %}
{% if interface_vars.ip4 is defined and not none %}
{% if (interface_vars.network is defined and not none) and (interface_vars.network == hostvars[host]['j2_node_main_network']) %}
{{interface_vars.ip4.split('.')[3]}}.{{interface_vars.ip4.split('.')[2]}}.{{interface_vars.ip4.split('.')[1]}}.{{interface_vars.ip4.split('.')[0]}} IN PTR {{host}}.{{domain_name}}.
{{interface_vars.ip4.split('.')[3]}}.{{interface_vars.ip4.split('.')[2]}}.{{interface_vars.ip4.split('.')[1]}}.{{interface_vars.ip4.split('.')[0]}} IN PTR {{host}}-{{interface_vars.network}}.{{domain_name}}.
{% elif interface_vars.network is defined and not none %}
{{interface_vars.ip4.split('.')[3]}}.{{interface_vars.ip4.split('.')[2]}}.{{interface_vars.ip4.split('.')[1]}}.{{interface_vars.ip4.split('.')[0]}} IN PTR {{host}}-{{interface_vars.network}}.{{domain_name}}.
{% else %}
{# Do nothing, not in registered network #}
{% endif %}
{% endif %}
{% endfor %}
{% if hostvars[host]['bmc'] is defined %}
{% set bmc_args = hostvars[host]['bmc'] %}
{% if (bmc_args.name is defined and not none) and (bmc_args.ip4 is defined and not none) and (bmc_args.network is defined and not none) %}
{{bmc_args.ip4.split('.')[3]}}.{{bmc_args.ip4.split('.')[2]}}.{{bmc_args.ip4.split('.')[1]}}.{{bmc_args.ip4.split('.')[0]}} IN PTR {{bmc_args.name}}.{{domain_name}}.
{{bmc_args.ip4.split('.')[3]}}.{{bmc_args.ip4.split('.')[2]}}.{{bmc_args.ip4.split('.')[1]}}.{{bmc_args.ip4.split('.')[0]}} IN PTR {{bmc_args.name}}-{{bmc_args.network}}.{{domain_name}}.
{% endif %}
{% endif %}
{% endif %}
{% endfor %}
