external_time:
  time_server:
    server: # List of possible time servers
      - 0.fr.pool.ntp.org
    pool: # List of possible time pools
      - pool.ntp.org
  time_client:
    server:
    pool:

external_dns:
  dns_server: # set as forwarders in named.conf
  dns_client: # set directly on client side in resolv.conf
    - 208.67.220.220

# Hosts defined here will be automatically added into /etc/hosts and into DNS configuration
external_hosts:
  sphenisc.com: 213.186.33.3

# Uncomment this variable if you need additionnal repositories on your clients
# Be aware that, at this level, theses repositories will be exported on all hosts without
# any architecture or distribution check.

#external_repositories:
#  - name: epel
#    baseurl: 'https://dl.fedoraproject.org/pub/epel/$releasever/$basearch/'
#    proxy: 'https://proxy:8080'

