#jinja2: lstrip_blocks: "True"
#### Blue Banquise file ####
## {{ansible_managed}}

SERVER execpath="/usr/share/conman/exec"
SERVER syslog="daemon"
SERVER logdir="/var/log/conman"
GLOBAL log="/var/log/conman/%N.log"
SERVER timestamp=1h
GLOBAL logopts="timestamp"

{% if (icebergs_system | bool) %}
  {% for host in groups[j2_current_iceberg] %}
console name="{{host}}" dev="ipmitool.exp {{hostvars[host]['bmc']['ip4']}} {{hostvars[host]['equipment_profile']['equipment_authentication']['user']}} {{hostvars[host]['equipment_profile']['equipment_authentication']['password']}}"
  {% endfor %}
  {% for under_icb in j2_under_icebergs %}
    {% for host in groups[managements_group_name] %}
      {% if (groups[under_icb] is defined and not none) and (host in groups[under_icb]) %}
console name="{{host}}" dev="ipmitool.exp {{hostvars[host]['bmc']['ip4']}} {{hostvars[host]['equipment_profile']['equipment_authentication']['user']}} {{hostvars[host]['equipment_profile']['equipment_authentication']['password']}}"
      {% endif %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for host in groups['all'] %}
    {% if hostvars[host]['equipment_profile']['equipment_type'] == 'server' %}
console name="{{host}}" dev="ipmitool.exp {{hostvars[host]['bmc']['ip4']}} {{hostvars[host]['equipment_profile']['equipment_authentication']['user']}} {{hostvars[host]['equipment_profile']['equipment_authentication']['password']}}"
    {% endif %}
  {% endfor %}
{% endif %}
