#jinja2: lstrip_blocks: "True"
#### Blue Banquise file ####
## {{ ansible_managed }}

SERVER execpath="{{ conman_execpath }}"
SERVER syslog="daemon"
SERVER logdir="/var/log/conman"
GLOBAL log="/var/log/conman/%N.log"
SERVER timestamp=1h
GLOBAL logopts="timestamp"

{% if icebergs_system == true %}
# Iceberg system is on
  {% set range = groups[j2_current_iceberg] %}
  {% for host in groups[managements_group_name] %}
    {% if hostvars[host]['iceberg_master'] == j2_current_iceberg %}
      {% set _ = range.append(host) %}
    {% endif %}
  {% endfor %}
{% else %}
  {% set range = groups['all'] %}
{% endif %}

{% for host in range %}
  {% if hostvars[host]['ep_equipment_type'] == "server" %}
    {% if hostvars[host]['bmc'] is defined and hostvars[host]['bmc'] is not none and hostvars[host]['bmc']['ip4'] is defined and hostvars[host]['bmc']['ip4'] is not none %}
console name="{{ host }}" dev="ipmitool.exp {{ hostvars[host]['bmc']['ip4'] }} {{ hostvars[host]['ep_equipment_authentication']['user'] }} {{ hostvars[host]['ep_equipment_authentication']['password'] }}"
    {% endif %}
  {% endif %}
{% endfor %}
