---
- name: "template <|> Generate configuration files in {{ slurm_home_path }}"
  ansible.builtin.template:
    src: "{{ item }}.j2"
    dest: "{{ slurm_home_path }}/{{ item }}"
    owner: slurm
    group: slurm
    mode: 0644
  tags:
    - template
  loop:
    - slurm.conf
  notify: service <|> restart slurmd

- name: "Create dropin folder"
  ansible.builtin.file:
    path: "/etc/systemd/system/slurmd.service.d"
    owner: root
    group: root
    state: directory
    mode: '0755'
  when: slurm_slurmd_additional_conf is defined

- name: "template <|> Generate configuration files in /etc/systemd/system/slurmd.service.d"
  ansible.builtin.template:
    src: "00-ansible.conf.j2"
    dest: "/etc/systemd/system/slurmd.service.d/{{ item }}"
    owner: root
    group: root
    mode: 0644
  tags:
    - template
  loop:
    - "{{ slurm_slurmd_dropin_file | default(['00-ansible.conf']) }}"
  notify:
    - systemd <|> Reload systemd configuration
    - service <|> restart slurmd
  when: slurm_slurmd_additional_conf is defined

- name: "template <|> Generate gres.conf in {{ slurm_home_path }}"
  ansible.builtin.template:
    src: "{{ item }}.j2"
    dest: "{{ slurm_home_path }}/{{ item }}"
    owner: slurm
    group: slurm
    mode: 0644
  tags:
    - template
  loop:
    - gres.conf
  when: slurm_grestypes is defined and slurm_grestypes == 'gpu' and (hw_specs['gpu'] is defined or slurm_grestypes_nvml)
  notify: service <|> restart slurmd

- name: "template <|> Generate acct_gather.conf in {{ slurm_home_path }}"
  ansible.builtin.template:
    src: "{{ item }}.j2"
    dest: "{{ slurm_home_path }}/{{ item }}"
    owner: slurm
    group: slurm
    mode: 0600
  tags:
    - template
  loop:
    - acct_gather.conf
  when: (slurm_acct_gather_energy_type is not none) or (slurm_acct_gather_interconnect_type is not none) or (slurm_acct_gather_filesystem_type is not none) or (slurm_acct_gather_profile_type is not none)
  notify: service <|> restart slurmd
