---
- name: "template <|> Generate configuration files in {{ slurm_home_path }}"
  ansible.builtin.template:
    src: "{{ item }}.j2"
    dest: "{{ slurm_home_path }}/{{ item }}"
    owner: slurm
    group: slurm
    mode: 0644
  tags:
    - template
  loop:
    - slurm.conf

- name: "template <|> Generate gres.conf in {{ slurm_home_path }}"
  ansible.builtin.template:
    src: "{{ item }}.j2"
    dest: "{{ slurm_home_path }}/{{ item }}"
    owner: slurm
    group: slurm
    mode: 0644
  tags:
    - template
  loop:
    - gres.conf
  when: slurm_grestypes is defined and slurm_gresTypes == 'gpu' and hw_specs['gpu'] is defined

- name: "template <|> Generate acct_gather.conf in {{ slurm_home_path }}"
  ansible.builtin.template:
    src: "{{ item }}.j2"
    dest: "{{ slurm_home_path }}/{{ item }}"
    owner: slurm
    group: slurm
    mode: 0600
  tags:
    - template
  loop:
    - acct_gather.conf
  when: (slurm_acct_gather_energy_type is not none) or (slurm_acct_gather_interconnect_type is not none) or (slurm_acct_gather_filesystem_type is not none) or (slurm_acct_gather_profile_type is not none)
