---
- name: include_tasks <|> Deploy Slurm accounting
  ansible.builtin.include_tasks: "accounting.yml"
  when: slurm_enable_accounting

- name: "firewalld <|> Add ports to firewall's zone"
  ansible.posix.firewalld:
    zone: "{{ slurm_firewall_zone | default(bb_services_firewall_zone, true) | default('public') }}"
    port: "{{ item }}/tcp"
    immediate: "yes"
    permanent: "yes"
    state: enabled
  when:
    - os_firewall | default(false) | bool
  loop:
    - "{{ slurm_srunportrange }}"
    - "{{ slurm_slurmtld_port }}"
  tags:
    - firewall

- name: "template <|> Generate configuration files in {{ slurm_home_path }}"
  ansible.builtin.template:
    src: "{{ item }}.j2"
    dest: "{{ slurm_home_path }}/{{ item }}"
    owner: slurm
    group: slurm
    mode: 0644
  tags:
    - template
  loop:
    - slurm.conf
    - cgroup.conf
  notify: Run scontrol reconfigure

- name: "template <|> Generate gres.conf in {{ slurm_home_path }}"
  ansible.builtin.template:
    src: "gres_configless.conf.j2"
    dest: "{{ slurm_home_path }}/gres.conf"
    owner: slurm
    group: slurm
    mode: 0644
  tags:
    - template
  when: slurm_grestypes is defined and slurm_grestypes == 'gpu' and slurm_computes_config == "configless"

- name: template <|> Generate job_submit.lua file
  ansible.builtin.template:
    src: "job_submit.lua.j2"
    dest: "{{ slurm_home_path }}/job_submit.lua"
    owner: slurm
    group: slurm
    mode: "0444"
  when: slurm_job_submit_lua_file is defined and slurm_job_submit_lua_file is not none
  tags:
    - template

- name: service <|> Manage slurmctld state
  ansible.builtin.service:
    name: slurmctld
    enabled: "{{ (slurm_enable_services | default(bb_enable_services) | default(true) | bool) | ternary('yes', 'no') }}"
    state: "{{ (slurm_start_services | default(bb_start_services) | default(true) | bool) | ternary('started', omit) }}"
