[Unit]
Description=registry container

[Service]
Restart=always
ExecStart=/usr/bin/podman run --name=registry --rm --privileged -p 5000:{{ podman_local_registry_port }} -v /var/lib/registry:{{ podman_local_registry_dir }} {{ podman_registry_container }}:{{ podman_registry_container_tag }}
ExecStop=/usr/bin/podman stop -t 5 registry

[Install]
WantedBy=multi-user.target
