[domain/LDAP]
enumerate = False
cache_credentials = true
id_provider = ldap
auth_provider = ldap
#access_provider = ldap
access_provider = permit
chpass_provider = ldap
ldap_uri = ldap://{{networks[node_main_network]['services_ip']['authentication_ip']}}/
ldap_search_base = {% for dc in domain_name.split('.') %}{% if not loop.first %},{% endif %}dc={{dc}}{% endfor %}

ldap_tls_reqcert = never
ldap_auth_disable_tls_never_use_in_production = true
[sssd]
services = nss, pam
config_file_version = 2
domains = LDAP
sbus_timeout = 25
reconnection_retries = 4
[nss]
filter_groups = root
filter_users = root
reconnection_retries = 3
[pam]
[sudo]
[autofs]
[ssh]
[pac]
[ifp]

