{% import "macros/network.j2" as macro_network with context %}
#### Blue Banquise file ####
## {{ansible_managed}}

# External servers/pool if asked
{% if external_time.time_server.server and time_profile == 'server' %}
{% for external_server in external_time.time_server.server %}
server {{external_server}}
{% endfor %}
{% endif %}
{% if external_time.time_server.pool and time_profile == 'server' %}
{% for external_pool in external_time.time_server.pool %}
pool {{external_pool}} iburst maxsources 3
{% endfor %}
{% endif %}
{% if external_time.time_client.server and time_profile == 'client' %}
{% for external_server in external_time.time_client.server %}
server {{external_server}}
{% endfor %}
{% endif %}
{% if external_time.time_client.pool and time_profile == 'client' %}
{% for external_pool in external_time.time_client.pool %}
pool {{external_pool}} iburst maxsources 3
{% endfor %}
{% endif %}

{% if time_profile == 'client' %}
# Server to bind to
server {{networks[j2_node_main_network]['services_ip']['time_ip']}}
{% elif time_profile == 'server' and icebergs_system == true and iceberg_master != 'top' %}{# We need here to get master island ntp ip, depending of the subnet this node is member of.#}
server {{networks[(macro_network.node_main_network(network_interfaces,management_networks_naming+(iceberg_master|replace(iceberg_naming,' ')| trim | string))| trim)]['services_ip']['time_ip']}}
{% endif %}

# Record the rate at which the system clock gains/losses time.
driftfile /var/lib/chrony/drift

# Allow the system clock to be stepped in the first three updates
# if its offset is larger than 1 second.
makestep 1.0 3

# Enable kernel synchronization of the real-time clock (RTC).
rtcsync

{% if time_profile == 'server' %}

# Allow NTP client access from local network.
{% for nic in network_interfaces %}
{% if network_interfaces[nic]['network'] is defined and not none %}
allow {{networks[network_interfaces[nic]['network']]['subnet']}}/{{networks[network_interfaces[nic]['network']]['prefix']}}
{% endif %}
{% endfor %}

# Serve time even if not synchronized to a time source.
# Listen to local clock
server 127.127.1.0
# Very bad time source
{% if iceberg_level is defined and not none %}
local stratum {{ 12+(iceberg_level|int) }}
{% else %}
local stratum 12
{% endif %}

{% endif %}

# Specify directory for log files.
logdir /var/log/chrony

