#### Blue Banquise file ####
## {{ansible_managed}}

global:
  smtp_smarthost: '{{prometheus.alertmanager.global.smtp_smarthost}}'
  smtp_from: '{{prometheus.alertmanager.global.smtp_sender}}'
  smtp_require_tls: '{{prometheus.alertmanager.global.smtp_tls}}'

route:
  group_by: ['alertname', 'job']
  group_wait: {{prometheus.alertmanager.route.group_wait}}
  group_interval: {{prometheus.alertmanager.route.group_interval}}
  repeat_interval: {{prometheus.alertmanager.route.repeat_interval}}
  receiver: {{prometheus.alertmanager.receivers.name}}

receivers:
  - name: '{{prometheus.alertmanager.receivers.name}}'
    email_configs:
      - to: '{{prometheus.alertmanager.receivers.email}}'

inhibit_rules:
- source_match:
    severity: 'critical'
  target_match:
    severity: 'warning'
  equal: ['alertname', 'cluster', 'service']
