---
pxe_stack_role_version: 1.18.2

pxe_stack_supported_os:
  redhat:
    - major: 7
      distributions:
        - redhat
        - rhel
        - centos
    - major: 8
      distributions:
        - redhat
        - rhel
        - centosstream
        - oraclelinux
        - almalinux
        - rockylinux
    - major: 9
      distributions:
        - redhat
        - rhel
        - centosstream
        - oraclelinux
        - almalinux
        - rockylinux
  ubuntu:
    - major: 18
      distributions:
        - ubuntu
    - major: 20
      distributions:
        - ubuntu
    - major: 22
      distributions:
        - ubuntu
    - major: 24
      distributions:
        - ubuntu
  dgxos:
    - major: 5
      distributions:
        - dgxos
  suse:
    - major: 15
      distributions:
        - opensuse
  debian:
    - major: 11
      distributions:
        - debian
    - major: 12
      distributions:
        - debian

pxe_stack_redhat_automatic_partitioning: |
  {% if os_target_disk is defined and os_target_disk is not none %}ignoredisk --only-use={{ os_target_disk }}{% endif +%}
  clearpart --all --initlabel {% if os_target_disk is defined and os_target_disk is not none %}--drives={{ os_target_disk }}{% endif +%}
  autopart --type=plain --fstype=ext4 {% if os_target_disk is defined and os_target_disk is not none %}--ondisk={{ os_target_disk }}{% endif +%}

# I did not find how to select a specific disk for Ubuntu
pxe_stack_ubuntu_automatic_partitioning: " "

pxe_stack_suse_automatic_partitioning: |
  <partitioning config:type="list">
    <drive>
      {% if os_target_disk is defined and os_target_disk is not none %}<device>{{ os_target_disk }}</device>{% endif +%}
      <initialize config:type="boolean">true</initialize>
      <use>all</use>
      <partitions config:type="list">
        <partition>
          <filesystem config:type="symbol">ext4</filesystem>
          <mount>/</mount>
          <size>max</size>
        </partition>
        <partition>
          <filesystem config:type="symbol">ext4</filesystem>
          <mount>/boot</mount>
          <size>512MiB</size>
        </partition>
        <partition>
          <mount>swap</mount>
          <size>512MiB</size>
        </partition>
      </partitions>
    </drive>
  </partitioning>

pxe_stack_debian_automatic_partitioning: |
  d-i partman-auto/disk string {% if os_target_disk is defined and os_target_disk is not none %}{{ os_target_disk }}{% else %}/dev/sda{% endif +%}
  d-i partman-auto/method string regular
  d-i partman-auto/choose_recipe select atomic
  d-i partman-auto/init_automatically_partition select Guided - use entire disk
