#!ipxe

echo |
echo | Entering tools/alpine.ipxe file.
echo |

set alpine_version {{ pxe_stack_alpine_version }}
set alpine_repo http://dl-cdn.alpinelinux.org/alpine/v${alpine_version}/main

echo | Now starting os live boot process.
echo | Alpine Family ipxe configuration.
echo |
echo | Parameters used:
echo | > Operating system target: Alpine
echo | > Console: ${eq-console}
echo | > Additional kernel parameters: ${eq-kernel-parameters} ${dedicated-kernel-parameters}
echo | > Deployment server: ${next-server}
echo | > Alpine repository: ${alpine_repo}
echo |
echo | Loading linux ...

imgfree

kernel http://${next-server}/pxe/bin/alpine/vmlinuz-lts modloop=http://${next-server}/pxe/bin/alpine/modloop-lts ip=dhcp alpine_repo=${alpine_repo} initrd=initramfs-lts ${eq-console} ${eq-kernel-parameters} ${dedicated-kernel-parameters}

echo | Loading initial ramdisk ...

initrd http://${next-server}/pxe/bin/alpine/initramfs-lts

echo | ALL DONE! We are ready.
echo | Downloaded images report:

imgstat

echo | MD5sums:
md5sum vmlinuz-lts initramfs-lts modloop-lts
echo |

echo | Booting in 4s ...
echo |
echo +----------------------------------------------------+

sleep 4

boot
