{{ ansible_managed | comment }}
[containers]
default_capabilities = [
  "NET_RAW",
  "CHOWN",
  "DAC_OVERRIDE",
  "FOWNER",
  "FSETID",
  "KILL",
  "NET_BIND_SERVICE",
  "SETFCAP",
  "SETGID",
  "SETPCAP",
  "SETUID",
  "SYS_CHROOT",
]

default_sysctls = [
  "net.ipv4.ping_group_range=0 0",
]

log_driver = "journald"
log_size_max = -1
label = true

[network]
network_backend = "cni"

cni_plugin_dirs = [
               "/usr/libexec/cni",
               "/usr/lib/cni",
               "/usr/local/lib/cni",
               "/opt/cni/bin"
]

default_network = "podman"
network_config_dir = "/etc/cni/net.d/"

[engine]
cgroup_manager = "cgroupfs"

conmon_env_vars = [
                "PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
]

conmon_path = [
            "/usr/libexec/podman/conmon",
            "/usr/libexec/crio/conmon",
            "/usr/local/lib/podman/conmon",
            "/usr/local/libexec/crio/conmon",
            "/usr/bin/conmon",
            "/usr/sbin/conmon",
            "/usr/lib/podman/bin/conmon",
            "/usr/lib/crio/bin/conmon"
]

enable_port_reservation = true
events_logger = "{{ podman_conf_events_logger }}"
image_default_transport = "docker://"
infra_command = "/pause"
infra_image = "k8s.gcr.io/pause:3.1"
no_pivot_root = false
num_locks = 2048
runtime = "runc"
tmp_dir = "/var/run/libpod"
static_dir = "{{ getent_passwd[item.key][4] }}/.local/share/containers/storage/libpod"
volume_path = "{{ getent_passwd[item.key][4] }}/.local/share/containers/storage/volumes"

[engine.runtimes]
runc = [
            "/usr/bin/runc",
            "/usr/sbin/runc",
            "/usr/local/bin/runc",
            "/usr/local/sbin/runc",
            "/sbin/runc",
            "/bin/runc",
            "/usr/lib/cri-o-runc/sbin/runc"
]
