#jinja2: lstrip_blocks: "True"
#### Blue Banquise file ####
## {{ansible_managed}}

global:
{% for global_key, global_value in prometheus_server_configuration_global.items() %}
  {{ global_key }}: {{ global_value }}
{% endfor %}

rule_files:
  - 'alerts/*.yml'

{% if prometheus_ha_enabled is defined and prometheus_ha_enabled %}
  {% if prometheus_server_alertmanager_cluster_peers is defined and prometheus_server_alertmanager_cluster_peers|length > 0 %}
# High Availability configuration
alerting:
  alertmanagers:
  - path_prefix: "{{ prometheus_server_alertmanager_prefix }}/"
    static_configs:
    - targets:
      {% for alertmanager_cluster_node in prometheus_server_alertmanager_cluster_peers %}
         {% set alertmanager_cluster_ip = alertmanager_cluster_node.addrs[0] %}
       - "{{ alertmanager_cluster_ip }}:{{ prometheus_server_alertmanager_port }}"
       {% endfor %}
{% if prometheus_server_alertmanager_password is defined and prometheus_server_alertmanager_password %}
    basic_auth:
      username: "{{ prometheus_server_alertmanager_username }}"
      password: "{{ prometheus_server_alertmanager_password }}"
{% endif %}
   {% endif %}
 {% else %}
# Default AlertManager configuration
alerting:
  alertmanagers:
  - path_prefix: "{{ prometheus_server_alertmanager_prefix }}/"
    static_configs:
    - targets:
       - "{{ prometheus_server_alertmanager_host }}:{{ prometheus_server_alertmanager_port }}"
{% if prometheus_server_alertmanager_password is defined and prometheus_server_alertmanager_password %}
    basic_auth:
      username: "{{ prometheus_server_alertmanager_username }}"
      password: "{{ prometheus_server_alertmanager_password }}"
{% endif %}
{% endif %}

{{ prometheus_server_prometheus_raw_configuration }}
{% if prometheus_ha_enabled is defined and prometheus_ha_enabled %}
 {% if prometheus_server_alertmanager_cluster_peers is defined and prometheus_server_alertmanager_cluster_peers|length > 0 %}
# High Availability configuration
scrape_configs:
  - job_name: 'prometheus_ha'
    scrape_interval: 30s
    metrics_path: "{{ prometheus_server_prometheus_prefix }}/metrics"
    static_configs:
    - targets:
      {% for alertmanager_cluster_node in prometheus_server_alertmanager_cluster_peers %}
      {% set alertmanager_cluster_ip = alertmanager_cluster_node.addrs[0] %}
      - {{ alertmanager_cluster_ip }}:{{ prometheus_server_prometheus_port }}
      {% endfor %}
{% if prometheus_server_alertmanager_password is defined and prometheus_server_alertmanager_password %}
    basic_auth:
      username: "{{ prometheus_server_alertmanager_username }}"
      password: "{{ prometheus_server_alertmanager_password }}"
{% endif %}
 {% endif %}
 {% else %}
# Default AlertManager configuration
scrape_configs:
  - job_name: 'prometheus_master'
    metrics_path: "{{ prometheus_server_prometheus_prefix }}/metrics"
    scrape_interval: 30s
    static_configs:
    - targets:
      - {{ prometheus_server_prometheus_host }}:{{ prometheus_server_prometheus_port }}
{% if prometheus_server_alertmanager_password is defined and prometheus_server_alertmanager_password %}
    basic_auth:
      username: "{{ prometheus_server_alertmanager_username }}"
      password: "{{ prometheus_server_alertmanager_password }}"
{% endif %}
{% endif %}

{% if prometheus_server_prometheus_raw_jobs is defined and prometheus_server_prometheus_raw_jobs is not none %}
{{ prometheus_server_prometheus_raw_jobs | indent(2, True) }}
{% endif %}

# GENERIC EXPORTER
{% for exporter in prometheus_exporters_to_scrape %}
  - job_name: '{{ exporter.name }}'
    scrape_interval: {{ exporter.scrape_interval | default('') }}
    scrape_timeout: {{ exporter.scrape_timeout | default('') }}
    static_configs:
      - targets: ['{{ exporter.address }}:{{ exporter.port }}']
{% endfor %}

# GENERIC GROUP EXPORTER
{% if prometheus_exporters_groups_to_scrape is mapping %}
{% for exporter_group, exporter_group_vars in prometheus_exporters_groups_to_scrape.items() %}
  {% for exporter in exporter_group_vars %}
    {% if exporter.port is defined %}
  - job_name: '{{ exporter_group }}_{{ exporter.name }}'
    scrape_interval: {{ exporter.scrape_interval | default('') }}
    scrape_timeout: {{ exporter.scrape_timeout | default('') }}
    static_configs:
      {% for node in groups[exporter_group] %}
      - targets: ['{{ node }}:{{ exporter.port }}']
      {% endfor %}
    {% endif %}
  {% endfor %}
{% endfor %}
{% endif %}

# SNMP_EXPORTER
{% for hardware in prometheus_snmp_scrape_hardware_groups %}
  - job_name: 'snmp_{{hardware.name}}'
    scrape_interval: {{ hardware.scrape_interval | default('') }}
    scrape_timeout: {{ hardware.scrape_timeout | default('') }}
    static_configs:
     - targets:
    {% for node in groups[hardware.name] %}
       - {{ node }}
    {% endfor %}

    metrics_path: /snmp
    params:
      module: [{{ hardware.snmp_module }}]
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: {{ prometheus_server_snmp_exporter_host }}:9116
{% endfor %}


# BMC - IPMI_EXPORTER
{% for hardware in prometheus_ipmi_scrape_hardware_groups %}
  - job_name: ipmi_{{hardware.name}}
    params:
      module: [{{hardware.name}}]
    scrape_interval: {{ hardware.scrape_interval | default('') }}
    scrape_timeout: {{ hardware.scrape_timeout | default('') }}
    metrics_path: /ipmi
    scheme: http
    static_configs:
    {% for node in groups[hardware.name] %}
      {% if hostvars[node]['bmc'] is defined %}
      - targets: ['{{hostvars[node]['bmc']['name']}}']
      {% endif %}
    {% endfor %}
    relabel_configs:
    - source_labels: [__address__]
      separator: ;
      regex: (.*)
      target_label: __param_target
      replacement: ${1}
      action: replace
    - source_labels: [__param_target]
      separator: ;
      regex: (.*)
      target_label: instance
      replacement: ${1}
      action: replace
    - separator: ;
      regex: .*
      target_label: __address__
      replacement: {{ prometheus_server_ipmi_exporter_host }}:9290
      action: replace
{% endfor %}
