#jinja2: lstrip_blocks: True
#### Blue Banquise file ####
## {{ansible_managed}}

# Documentation:
# https://slurm.schedmd.com/slurmdbd.conf.html

## Authentication
AuthInfo=/var/run/munge/munge.socket.2
AuthType=auth/munge
SlurmUser=slurm

{% if slurm_enable_local_mysql is defined and not slurm_enable_local_mysql %}
# SlurmDdb info
DbdAddr={{ slurm_controller_address | default(slurm_controller_hostname, true) | default(slurm_control_machine, true) }}
DbdHost={{ slurm_controller_hostname | default(slurm_control_machine, true) }}
DbdPort={{ slurm_dbd_port | default('6819') }}
{% else %}
## Mariadb server
DbdHost={{ slurm_accounting_mysql_login_host | default('localhost', true) }}
{% endif %}

## Log and pid
LogFile={{ slurm_slurmdbdlogfile }}
DebugLevel={{ slurm_slurmdbddebug }}
PidFile=/var/run/slurmdbd.pid

## Storage
StorageType=accounting_storage/mysql
StorageUser={{ slurm_accounting_mysql_login_user | default(slurm_accounting_storage_user, true) }}
StoragePass={{ slurm_accounting_mysql_login_password | default(slurm_accounting_storage_pass, true) }}
{% if slurm_enable_local_mysql is defined and not slurm_enable_local_mysql %}
StorageHost={{ slurm_accounting_mysql_login_host }}
StoragePort={{ slurm_accounting_mysql_login_port }}
{% endif %}

## Additional content if exist
{% if slurm_slurmdbd_conf_additional_content is defined and slurm_slurmdbd_conf_additional_content is iterable %}
  {% for slurm_slurmdbd_conf_content in slurm_slurmdbd_conf_additional_content %}
{{ slurm_slurmdbd_conf_content | default('', true) }}                                                                                                                       
  {% endfor %}
{% endif %}
