#jinja2: lstrip_blocks: True
#### Blue Banquise file ####
## {{ansible_managed}}

# Documentation:
# https://slurm.schedmd.com/slurmdbd.conf.html

## Authentication
AuthInfo=/var/run/munge/munge.socket.2
AuthType=auth/munge
SlurmUser=slurm

# SlurmDdb info
DbdAddr={{ slurm_controller_address | default(slurm_controller_hostname, true) }}
DbdHost={{ slurm_controller_hostname }}
DbdPort={{ slurm_dbd_port | default('6819') }}

## Log and pid
LogFile={{ slurm_slurmdbdlogfile }}
DebugLevel={{ slurm_slurmdbddebug }}
PidFile=/var/run/slurmdbd.pid

## Storage
StorageType=accounting_storage/mysql
StorageUser={{ slurm_accounting_mysql_login_user }}
StoragePass={{ slurm_accounting_mysql_login_password }}
{% if slurm_enable_local_mysql is defined and not slurm_enable_local_mysql %}
StorageHost={{ slurm_accounting_mysql_login_host }}
StoragePort={{ slurm_accounting_mysql_login_port }}
{% else %}
StorageHost=127.0.0.1
StoragePort={{ slurm_accounting_mysql_login_port | default('3306') }}
{% endif %}

## Additional content if exist
{% if slurm_slurmdbd_conf_additional_content is defined and slurm_slurmdbd_conf_additional_content is iterable %}
  {% for slurm_slurmdbd_conf_content in slurm_slurmdbd_conf_additional_content %}
{{ slurm_slurmdbd_conf_content | default('', true) }}                                                                                                                       
  {% endfor %}
{% endif %}
