#jinja2: lstrip_blocks: True
#### Blue Banquise file ####
## {{ ansible_managed }}

{% set nameservers = [] %}

{% if dns_client_servers is defined and dns_client_servers is iterable %}
  {% for dns in dns_client_servers %}
nameserver {{ dns }}
  {% endfor %}
{% elif networks[j2_node_main_network]['services'] is defined and networks[j2_node_main_network]['services'] is iterable and networks[j2_node_main_network]['services'] is not string and networks[j2_node_main_network]['services'] is mapping and (networks[j2_node_main_network]['services']['dns4'] | default(networks[j2_node_main_network]['services']['dns'], true)) is defined and (networks[j2_node_main_network]['services']['dns4'] | default(networks[j2_node_main_network]['services']['dns'], true)) is iterable and (networks[j2_node_main_network]['services']['dns4'] | default(networks[j2_node_main_network]['services']['dns'], true)) is not string and (networks[j2_node_main_network]['services']['dns4'] | default(networks[j2_node_main_network]['services']['dns'], true)) is not mapping %}
  {% for elem in (networks[j2_node_main_network]['services']['dns4'] | default(networks[j2_node_main_network]['services']['dns'], true)) %}
    {% if elem.ip4 is defined and (elem.ip4 | ansible.utils.ipaddr) %}
      {{ nameservers.append(elem.ip4) }}
    {% endif %}
  {% endfor %}
{% elif networks[j2_node_main_network]['services_ip'] is defined and (networks[j2_node_main_network]['services_ip'] | ansible.utils.ipaddr) %}
  {% set nameservers = [networks[j2_node_main_network]['services_ip']] %}
{% endif %}

search {{ bb_domain_name | default(dns_client_domain_name) }}
{% for nameserver in nameservers %}
nameserver {{ nameserver }}
{% endfor %}

{% if dns_client_external_server is defined and dns_client_external_server is iterable %}
  {% for external_dns in dns_client_external_server %}
nameserver {{ external_dns }}
  {% endfor %}
{% endif %}
