{
  "Dhcp4": {
    "interfaces-config": {
      # To be improved, loop on interfaces to grab their names
      "interfaces": [ "*" ]
    },

    "lease-database": {
      "type": "memfile",
      "persist": true,
      "name": "/var/lib/kea/dhcp4.leases"
    },

    "valid-lifetime": {{ dhcp_server_default_lease_time }},
    "max-valid-lifetime": {{ dhcp_server_max_lease_time }},

    # Organize hosts booting by classes, to be used in networks
    "client-classes": [
      { "name": "arch_x86_legacy",        "test": "option[93].hex == 0x0000" },
      { "name": "arch_x86_64_efi",        "test": "option[93].hex == 0x0007 or option[93].hex == 0x0009" },
      { "name": "arch_arm64_efi",         "test": "option[93].hex == 0x000b" },
      { "name": "arch_x86_64_http_boot",  "test": "substring(option[60].hex, 0, 10) == 'HTTPClient' and (option[93].hex == 0x0007 or option[93].hex == 0x0009)"},
      { "name": "arch_arm64_http_boot",   "test": "substring(option[60].hex, 0, 10) == 'HTTPClient' and option[93].hex == 0x000b"}
    ],

    # Logging
    "loggers": [
      {
          "name": "kea-dhcp4",
          "output_options": [
              {
                  "output": "stdout"
              }
          ],
          "severity": "DEBUG",
          "debuglevel": 7
      }
    ],

    # Include subnets dispatching
    <?include "{{ dhcp_server_conf_dir }}/kea-dhcp4.networks.conf"?>

  }
}