#jinja2: lstrip_blocks: True
#### Blue Banquise file ####
## {{ ansible_managed }}

{###############################################################################
  Generic service item write
################################################################################
ip_or_host allows to define priorities between ip or host
#}
{% macro item_add(item_name, items_list, ip_or_host, key_or_dict) %}
  {% if items_list is defined and items_list is iterable and items_list is not string and items_list is not mapping %}
    {% set elements = [] %}
    {% for elem in items_list %}
      {% if ip_or_host == "ip" %}
        {% if elem.ip4 is defined and (elem.ip4 | ansible.utils.ipaddr) %}
          {{ elements.append(elem.ip4) }}
        {% elif elem.hostname is defined and elem.hostname is not none and elem.hostname is string %}
          {{ elements.append(elem.hostname) }}
        {% endif %}
      {% else %}
        {% if elem.hostname is defined and elem.hostname is not none and elem.hostname is string %}
          {{ elements.append(elem.hostname) }}
        {% elif elem.ip4 is defined and (elem.ip4 | ansible.utils.ipaddr) %}
          {{ elements.append(elem.ip4) }}
        {% endif %}
      {% endif %}
    {% endfor %}
    {% if (elements | length) > 0 %}
      {% if key_or_dict == "dict" %}
        {
            "name": "{{ item_name }}",
            "data": "{{ elements | join(', ') }}"
        },
      {% else %}
        "{{ item_name }}": "{{ elements | first }}",
      {% endif %}
    {% endif %}
  {% endif %}
{% endmacro %}

# Network {{ item | upper }}

{
 
  "id": {{ (item | hash('md5'))[0:7] | int(base=16) }}, {# We calculate a unique id based on the network name #}

  "subnet": "{{ networks[item]['subnet'] }}/{{ networks[item]['prefix'] | string }}",

  {# We need to pre-compute next-server as it is used in multiple places #}
  {% if networks[item]['services'] is defined and networks[item]['services'] is iterable and networks[item]['services'] is not string and networks[item]['services'] is mapping and networks[item]['services']['pxe4'] is defined%}
    {% set nextserver = networks[item]['services']['pxe4'][0]['hostname'] | default(networks[item]['services']['pxe4'][0]['ip4'], true) %}
  {% elif networks[item]['services_ip'] is defined and (networks[item]['services_ip'] | ansible.utils.ipaddr) %}
    {% set nextserver = networks[item]['services_ip'] %}
  {% endif %}
  {% if nextserver is defined and nextserver is not none %}
    "next-server": "{{ nextserver }}",
  {% endif %}

  {% if networks[item]['dhcp_unknown_range'] is defined and networks[item]['dhcp_unknown_range'] is not none %}
  "pools": [
    {
      "pool": "{{ networks[item]['dhcp_unknown_range'] }}"
    }
  ],
  {% endif %}

  "option-data": [

    {
        "name": "domain-search",
        "data": "{{ dhcp_server_domain_name | default(bb_domain_name, true) | default('cluster.local', true) }}"
    }

    {# DNS #}
    {% if networks[item]['services'] is defined and networks[item]['services'] is iterable and networks[item]['services'] is not string and networks[item]['services'] is mapping and networks[item]['services']['dns4'] is defined%}
    {{ item_add("domain-name-servers", networks[item]['services']['dns4'], "ip", "dict") }}
    {% elif networks[item]['services_ip'] is defined and (networks[item]['services_ip'] | ansible.utils.ipaddr) %}
    {
        "name": "domain-name-servers",
        "data": "{{ networks[item]['services_ip'] }}"
    },
    {% endif %}

    {# ROUTER #}
    {% if networks[item]['gateway4'] is defined %}
        {% if networks[item]['gateway4'] is string %}
    {
        "name": "routers",
        "data": "{{ networks[item]['gateway4'] }}"
    },
        {% elif networks[item]['gateway4'] is iterable and networks[item]['gateway4'] is not mapping %}
    {{ item_add("routers", networks[item]['gateway4'], "ip", "dict") }}
        {% endif %}
    {% endif %}

    {# NTP #}
    {% if networks[item]['services'] is defined and networks[item]['services'] is iterable and networks[item]['services'] is not string and networks[item]['services'] is mapping and networks[item]['services']['ntp4'] is defined%}
    {{ item_add("ntp-servers", networks[item]['services']['ntp4'], "ip", "dict") }}
    {% elif networks[item]['services_ip'] is defined and (networks[item]['services_ip'] | ansible.utils.ipaddr) %}
    {
        "name": "ntp-servers",
        "data": "{{ networks[item]['services_ip'] }}"
    },
    {% endif %}

    {# PXE file name clients classes, detection is made in main file kea-dhcp4.conf
        Render only if a next-server has been identified for this network #}
    {% if nextserver is defined and nextserver is not none %}
      {% if dhcp_server_ipxe_driver == 'snponly' %}
        {% set ipxe_driver = 'snponly_' %}
      {% elif dhcp_server_ipxe_driver == 'snp' %}
        {% set ipxe_driver = 'snp_' %}
      {% else %}{# Assume everything else is default driver #}
        {% set ipxe_driver = '' %}
      {% endif %}
      {% if dhcp_server_ipxe_embed == 'dhcpretry' %}
        {% set ipxe_embed = 'dhcpretry' %}
      {% elif dhcp_server_ipxe_embed == 'noshell' %}
        {% set ipxe_embed = 'noshell' %}
      {% elif dhcp_server_ipxe_embed == 'allretry' %}
        {% set ipxe_embed = 'allretry' %}
      {% else %}{# Assume everything else is standard script #}
        {% set ipxe_embed = 'standard' %}
      {% endif %}
      {
        "name": "boot-file-name",
        "data": "x86_64/{{ ipxe_embed }}_undionly.kpxe",
        "client-class": "arch_x86_legacy"
      },
      {
        "name": "boot-file-name",
        "data": "x86_64/{{ ipxe_embed }}_{{ ipxe_driver }}ipxe.efi",
        "client-class": "arch_x86_64_efi"
      },
      {
        "name": "boot-file-name",
        "data": "arm64/{{ ipxe_embed }}_{{ ipxe_driver }}ipxe.efi",
        "client-class": "arch_arm64_efi"
      },
      {
        "name": "boot-file-name",
        "data": "http://{{ nextserver }}/pxe/bin/x86_64/{{ ipxe_embed }}_{{ ipxe_driver }}ipxe.efi",
        "client-class": "arch_x86_64_http_boot"
      }
      {
        "name": "boot-file-name",
        "data": "http://{{ nextserver }}/pxe/bin/arm64/{{ ipxe_embed }}_{{ ipxe_driver }}ipxe.efi",
        "client-class": "arch_arm64_http_boot"
      }

    {% endif %}
  ],

  "reservations": [
    {% set entries = dhcp_server_hosts_by_network.get(item, []) %}
    {% for entry in entries %}
      {% if entry.nic.mac is defined or entry.nic.dhcp_client_identifier is defined or entry.nic.host_identifier is defined %}
    {
      "hostname": "{{ entry.host }}",
      "ip-address": "{{ entry.nic.ip4 }}",
        {% if entry.nic.mac is defined %}
      "hw-address": "{{ entry.nic.mac }}"
        {% elif entry.nic.dhcp_client_identifier is defined %}
      "client-id": "{{ entry.nic.dhcp_client_identifier }}"
        {% elif entry.nic.host_identifier is defined %}
      "flex-id": "{{ entry.nic.host_identifier }}"
        {% endif %}
    }{% endif %}{% if not loop.last %},{% endif %}

    {% endfor %}

  ]
}
