{% if prometheus_server_alertmanager_password is defined and prometheus_server_alertmanager_password %}
{% if prometheus_server_alertmanager_password_hash is defined and prometheus_server_alertmanager_password_hash %}
basic_auth_users:
    {{ prometheus_server_alertmanager_username }}: {{ prometheus_server_alertmanager_password_hash }}
{% endif %}
{% endif %}
