# Configuration file for ipmi_exporter
# https://github.com/soundcloud/ipmi_exporter/blob/master/ipmi_remote.yml

modules:
{% for equipment in prometheus_ipmi_scrape_equipment_profiles %}

  {% if hostvars[groups[equipment.name][0]]['hw_board_authentication'] is defined %}
      {% set bmc_user = (hostvars[groups[equipment.name][0]]['hw_board_authentication'] | selectattr('protocol','match','IPMI') | map(attribute='user') | list | first | default(none)) %}
      {% set bmc_password = (hostvars[groups[equipment.name][0]]['hw_board_authentication'] | selectattr('protocol','match','IPMI') | map(attribute='password') | list | first | default(none)) %}
      {% if bmc_user is defined and bmc_user is not none and bmc_password is defined and bmc_password is not none %}
  {{ equipment.name }}:
    user: {{ bmc_user }}
    pass: {{ bmc_password }}
    driver: "LAN_2_0"
    privilege: "user"
    timeout: 10000
    collectors:
    - bmc
    - ipmi
    - chassis
    exclude_sensor_ids:
      {% endif %}
  {% endif %}

{% endfor %} 
