authentication:
  basicAuth:
    users:
      - username: {{ prometheus_server_karma_username }}
        password: {{ prometheus_server_karma_password }}

# High Availability configuration
{% if prometheus_ha_enabled is defined and prometheus_ha_enabled %}
{% if prometheus_server_alertmanager_cluster_peers is defined and prometheus_server_alertmanager_cluster_peers|length > 0 %}
alertmanager:
  interval: 10s
  servers:
{% for alertmanager_cluster_node in prometheus_server_alertmanager_cluster_peers %}
{% for alertmanager_cluster_ip in alertmanager_cluster_node.addrs %}
    - cluster: prometheus
      name: {{ alertmanager_cluster_node.name }}
      uri: "http://{{ alertmanager_cluster_ip }}:{{ prometheus_server_alertmanager_port }}{{ prometheus_server_alertmanager_prefix }}"
      timeout: 10s
      proxy: false
{% endfor %}
{% endfor %}
{% endif %}
{% else %}

alertmanager:
  interval: 10s
  servers:
    - cluster: prometheus
      name: {{ prometheus_server_alertmanager_host }}
      uri: "http://{{ prometheus_server_alertmanager_host }}:{{ prometheus_server_alertmanager_port }}{{ prometheus_server_alertmanager_prefix }}"
      timeout: 10s
      proxy: false
{% endif %}

listen:
  address: {{ prometheus_server_karma_host }}
  port: {{ prometheus_server_karma_port }}
  prefix: {{ prometheus_server_karma_prefix }}/

#filters by default when connected
filters:
  default:
    - "@cluster=prometheus"

karma:
  name: Karma dashboard

grid:
  sorting:
    order: label
    reverse: false
    label: severity
    customValues:
      labels:
        severity:
          critical: 1
          warning: 2
          info: 3

labels:
  color:
    static:
      - job
    unique:
      - cluster
      - instance
      - ifName
      - "@cluster"
    custom:
      "@cluster":
        - value: prometheus
          color: "#70e1e1"


      severity:
        - value: info
          color: "#87c4e0"
        - value: warning
          color: "#ffae42"
        - value: critical
          color: "#ff220c"

alertAcknowledgement:
  enabled: true
  duration: 15m0s
  comment: silenced for 15 min
ui:
  refresh: 10s
  hideFiltersWhenIdle: true
  colorTitlebar: false
  theme: auto
  minimalGroupWidth: 420
  alertsPerGroup: 5
  collapseGroups: collapsedOnMobile
  multiGridLabel: severity
  multiGridSortReverse: false
