@ IN SOA  {{ inventory_hostname }}.{{ dns_server_domain_name | default(bb_domain_name, true) | default('cluster.local', true) }}. root.{{ dns_server_domain_name | default(bb_domain_name, true) | default('cluster.local', true) }}. (
  {{ dns_server_serial }}  ;Serial
  3600        ;Refresh
  1800        ;Retry
  604800      ;Expire
  86400       ;Minimum TTL
)
