---
- name: file <|> Ensure old netplan configuration is erased
  ansible.builtin.file:
    path: /etc/netplan/00-installer-config.yaml
    state: absent
  tags:
    - identify

- name: file <|> Disable netplan management
  ansible.builtin.copy:
    src: 01-netcfg.yaml
    dest: /etc/netplan/01-netcfg.yaml
    owner: root
    group: root
    mode: 0644
  #notify:
  #  - command <|> netplan generate
  tags:
    - identify

- name: networkd <|> Set NICs configuration
  bluebanquise.infrastructure.networkd:
    # Tuned
    conn_name: "{{ item.conn_name | default(item.interface) | string }}"
    ifname: "{{ item.ifname | default(item.physical_device) | default(omit) }}"
    ip4: "{{ j2_nic_ip4 | trim | default(omit,true) }}"
    gw4: "{{ j2_nic_gw4 | trim | default(omit,true) }}"
    routes4: "{{ j2_nic_routes4 | trim | default(omit,true) }}"
    dns4: "{{ j2_nic_dns4 | trim | default(omit,true) }}"
    type: "{{ item.type | default('ethernet') }}"  # Even if in the documentation type is optional, it is in fact mandatory. Default to ethernet.
    # Standard
    state: "{{ item.state | default('present') }}"
    master: "{{ item.master | default(omit) }}"
    mode: "{{ item.mode | default(omit) }}"
    method4: "{{ item.method4 | default(omit) }}"
    vlanid: "{{ item.vlanid | default(omit) }}"
    vlandev: "{{ item.vlandev | default(omit) }}"
  notify: command <|> networkctl reload
  loop: "{{ network_interfaces }}"
  when: item.skip is not defined or (item.skip is defined and not item.skip)
  tags:
    - identify

- name: meta <|> Run handlers
  ansible.builtin.meta: flush_handlers
