[Unit]
  Description=ipmi_exporter
  Wants=network-online.target
  After=network-online.target

[Service]
  User=ipmi_exporter
  Group=ipmi_exporter
  Type=simple
  WorkingDirectory=/etc/ipmi_exporter/
  ExecStart=/usr/local/bin/ipmi_exporter \
  {{ ipmi_exporter_launch_parameters | indent(2, True) }}

[Install]
  WantedBy=multi-user.target
