{% for rack in (groups | select('match','^rack_.*') | list | unique | sort) %}
<br>
<h3>{{rack}}</h3>
<div class="{{rack}}_container">
<div class="{{rack}}">
{% for host in groups[rack] %}
  <div class="{{host}}">{{host}}</div>
{% endfor %}
</div>
</div>
{% endfor %}

