{% macro get_node_network_info(node_nic,node_iceberg_network) %}
{# Define for current host: network list, and main network #}
{% set ntw = [] %}
{% for nic in node_nic %}
{% if node_nic[nic].network is defined and not none %}
{{ ntw.append(node_nic[nic].network|string) }}
{% endif %}
{% endfor %}
{% set ntw = (ntw | select('match',(node_iceberg_network+'-[0-9]+')) | list | unique | sort ) %}
{% set main_ntw = (ntw | first | join | trim) %}
{% set main_ntw_nic = [] %}
{% for nic in node_nic %}
{% if node_nic[nic].network is defined and not none %}
{% if node_nic[nic].network == main_ntw %}
{{ main_ntw_nic.append(nic|string) }}
{% endif %}
{% endif %}
{% endfor %}
{% set main_ntw_nic = (main_ntw_nic | join | trim) %}
,{{main_ntw}},{{main_ntw_nic}},
{% endmacro %}

