---
- name: systemd <|> Reload systemd configuration
  ansible.builtin.systemd:
    daemon_reload: yes

- name: service <|> restart loki
  service:
    name: loki
    state: restarted
  listen: restart loki
  when:
    - "'service' not in ansible_skip_tags"
    - dhcp_server_start_services | default(bb_start_services) | default(true) | bool


- name: service <|> restart promtail
  service:
    name: promtail
    state: restarted
  listen: restart promtail
  when:
    - "'service' not in ansible_skip_tags"
    - dhcp_server_start_services | default(bb_start_services) | default(true) | bool

