#jinja2: lstrip_blocks: True
#### Blue Banquise file ####
## {{ ansible_managed }}
{% set nameservers = networks[j2_node_main_network]['services_ip']['dns_ip'] %}

search {{ domain_name }}
{% if nameservers is string %}
nameserver {{ nameservers }}
{% else %}
  {% for nameserver in nameservers %}
nameserver {{ nameserver }}
  {% endfor %}
{% endif %}
{% if external_dns is defined and external_dns is not none %}
  {% if external_dns.dns_client is defined and external_dns.dns_client %}
    {% for external_server in external_dns.dns_client %}
nameserver {{ external_server }}
    {% endfor %}
  {% endif %}
{% endif %}
