name: Static code analysis
on:
  push:
    branches:
      - master
    paths-ignore:
      - '**.md'
      - '**.rst'
  pull_request:
    paths-ignore:
      - '**.md'
      - '**.rst'

jobs:
  check:
    name: Run static code analysis tools
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup python environment
        uses: actions/setup-python@v1

      - name: Install packages
        run: pip install ansible ansible-lint flake8 yamllint jmespath

      - name: Check python code
        run: flake8 collections/infrastructure --statistics --ignore E501,E226

      # Note: exclude grafana dashboard for now, to be fixed
      - name: Run ansible linter
        run: ansible-lint collections/
